{% extends "../../partials/layout.njk" %}

{% set pageId = "qualification-level" %}
{% set pageTitle = "Qualification level" %}

{#
Data supplied to this template:
  * prisonerSummary - object with firstName and lastName
  * backLinkUrl - url of the back link
  * backLinkAriaText - the aria label for the back link
  * form - form object containing the following fields:
    * qualificationLevel? - the level of the qualification being added
  * errors? - validation errors
#}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: backLinkUrl, attributes: { "aria-label" : backLinkAriaText } }) }}
{% endblock %}

{% block content %}
  <form class="form" method="post" novalidate="">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-two-thirds">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">What level of qualification does {{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }} want to add?</h1>
        </legend>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukRadios({
          name: "qualificationLevel",
          items: [
            {
              value: "ENTRY_LEVEL",
              text: "ENTRY_LEVEL" | formatQualificationLevel,
              hint: {
                text: "ENTRY_LEVEL" | formatQualificationLevelHint
              },
              checked: form.qualificationLevel === "ENTRY_LEVEL"
            },
            {
              value: "LEVEL_1",
              text: "LEVEL_1" | formatQualificationLevel,
              hint: {
                text: "LEVEL_1" | formatQualificationLevelHint
              },
              checked: form.qualificationLevel === "LEVEL_1"
            },
            {
              value: "LEVEL_2",
              text: "LEVEL_2" | formatQualificationLevel,
              hint: {
                text: "LEVEL_2" | formatQualificationLevelHint
              },
              checked: form.qualificationLevel === "LEVEL_2"
            },
            {
              value: "LEVEL_3",
              text: "LEVEL_3" | formatQualificationLevel,
              hint: {
                text: "LEVEL_3" | formatQualificationLevelHint
              },
              checked: form.qualificationLevel === "LEVEL_3"
            },
            {
              value: "LEVEL_4",
              text: "LEVEL_4" | formatQualificationLevel,
              hint: {
                text: "LEVEL_4" | formatQualificationLevelHint
              },
              checked: form.qualificationLevel === "LEVEL_4"
            },
            {
              value: "LEVEL_5",
              text: "LEVEL_5" | formatQualificationLevel,
              hint: {
                text: "LEVEL_5" | formatQualificationLevelHint
              },
              checked: form.qualificationLevel === "LEVEL_5"
            },
            {
              value: "LEVEL_6",
              text: "LEVEL_6" | formatQualificationLevel,
              hint: {
                text: "LEVEL_6" | formatQualificationLevelHint
              },
              checked: form.qualificationLevel === "LEVEL_6"
            },
            {
              value: "LEVEL_7",
              text: "LEVEL_7" | formatQualificationLevel,
              hint: {
                text: "LEVEL_7" | formatQualificationLevelHint
              },
              checked: form.qualificationLevel === "LEVEL_7"
            },
            {
              value: "LEVEL_8",
              text: "LEVEL_8" | formatQualificationLevel,
              hint: {
                text: "LEVEL_8" | formatQualificationLevelHint
              },
              checked: form.qualificationLevel === "LEVEL_8"
            }
          ],
          errorMessage: errors | findError('qualificationLevel')
        }) }}

        {{ govukButton({
          id: "submit-button",
          text: "Continue",
          type: "submit",
          attributes: {"data-qa": "submit-button"}
        }) }}
      </div>

      <div class="govuk-grid-column-one-third">
        <section id="qualification-level-related-content" class="govuk-body">
          <h2 class="govuk-heading-m">Related content</h2>
          <a class="govuk-link" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" target="_blank" data-qa="govuk-qualification-level-guidance-link">
            Find out what different qualifications levels mean on GOV.UK (opens in new tab)
          </a>
        </section>
      </div>

    </div>
  </form>

{% endblock %}
