{% extends "../../partials/layout.njk" %}

{% set pageId = "educational-qualifications-list" %}
{% set pageTitle = "Qualification summary" %}

{#
Data supplied to this template:
  * prisonerSummary - object with firstName and lastName
  * qualifications - Array of AchievedQualificationDto representing the educational qualifications on the Induction
  * inPrisonCourses - All in-prison courses and qualifications from Curious
  * verifiedQualifications - All verified qualifications from LRS
  * prisonerFunctionalSkills - prisoner functional skills - see _functionalSkillsAssessments.njk
  * prisonNamesById - key/value pairs of prisonIDs to prison names
#}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#",
    classes: "js-back-link"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }}'s qualifications</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% set prisonNamesById = prisonNamesById.value if prisonNamesById.isFulfilled() else {} %}
      {# List functional skills assessments from Curious #}
      {% include './partials/_functionalSkillsAssessments.njk' %}
      {# List in-prison courses and qualifications from Curious #}
      {% include './partials/_inPrisonCoursesAndQualifications.njk' %}
      {# List verified qualifications from LRS #}
      {% include './partials/_verifiedQualifications.njk' %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post" novalidate="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />


        {# List educational qualifications already on the Induction #}
        {% if qualifications.length %}
          <table class="govuk-table" data-qa="educational-qualifications-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Educational qualifications</caption>

            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Level</th>
              <th scope="col" class="govuk-table__header">Subject</th>
              <th scope="col" class="govuk-table__header">Grade</th>
              <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            {% for item in qualifications %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-qa="educational-qualification-level">{{ item.level | formatQualificationLevel }}</td>
                <td class="govuk-table__cell" data-qa="educational-qualification-subject">{{ item.subject }}</td>
                <td class="govuk-table__cell" data-qa="educational-qualification-grade">{{ item.grade }}</td>
                <td class="govuk-table__cell">
                  <button type="submit"
                          class="app-u-button-as-link"
                          value="{{ loop.index0 }}"
                          name="removeQualification"
                          data-prevent-double-click="true"
                          data-module="govuk-button">
                    Remove <span class="govuk-visually-hidden"> {{ item.level | formatQualificationLevel }}, {{ item.subject }}, {{ item.grade }}</span>
                  </button>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <div class="govuk-form-group">
            {{ govukButton({
              text: "Add another qualification",
              name: "addQualification",
              classes: "govuk-button--secondary",
              id: "addQualification",
              preventDoubleClick: true
            }) }}
          </div>
        {% endif %}

        <div class="govuk-form-group">
          {{ govukButton({
            id: "submit-button",
            text: "Continue",
            type: "submit",
            attributes: {"data-qa": "submit-button"},
            preventDoubleClick: true
          }) }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
