{% extends "../../partials/layout.njk" %}

{% set pageId = "want-to-add-educational-qualifications" %}
{% set pageTitle = "Qualification summary" %}

{#
Data supplied to this template:
  * prisonerSummary - object with firstName and lastName
  * backLinkUrl - url of the back link
  * backLinkAriaText - the aria label for the back link
  * functionalSkills - The most recent Functional Skills assessments from Curious
  * inPrisonCourses - All in-prison courses and qualifications from Curious
  * form - form object containing the following fields:
    * wantToAddQualifications - whether the prisoner wants to add educational qualifications to their Induction
  * errors? - validation errors
#}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: backLinkUrl, attributes: { "aria-label" : backLinkAriaText } }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }}'s qualifications</h1>

      <form class="form" method="post" novalidate="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {# List functional skills assessments from Curious #}
        {% include './partials/_functionalSkillsAssessments.njk' %}
        {# List in-prison courses and qualifications from Curious #}
        {% include './partials/_inPrisonCoursesAndQualifications.njk' %}

        {{ govukRadios({
          name: "wantToAddQualifications",
          fieldset: {
            legend: {
              text: "Does " + prisonerSummary.firstName + " " + prisonerSummary.lastName + " have any other educational qualifications they want to be recorded?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "YES",
              text: "YES" | formatYesNo,
              checked: form.wantToAddQualifications === "YES"
            },
            {
              value: "NO",
              text: "NO" | formatYesNo,
              checked: form.wantToAddQualifications === "NO"
            }
          ],
          errorMessage: errors | findError('wantToAddQualifications')
        }) }}

        <div class="govuk-form-group">
          {{ govukButton({
            id: "submit-button",
            text: "Continue",
            type: "submit",
            attributes: {"data-qa": "submit-button"}
          }) }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
