{% extends "../../../../partials/layout.njk" %}

{% set pageTitle = "Who completed the prisoner's plan review?" %}

{% set pageId = "review-plan-who-completed-review" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#",
    classes: "js-back-link"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set warningTextHtml %}
        {{ govukWarningText({
          text: "Update the learning and work plan before marking the review as complete",
          iconFallbackText: "Warning",
          attributes: {"data-qa": "warning-text"}
        }) }}
      {% endset %}

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% set somebodyElseHtml %}
            {{ govukInput({
              id: "completedByOtherFullName",
              name: "completedByOtherFullName",
              value: form.completedByOtherFullName,
              maxlength: 200,
              label: {
                text: "Full name",
                classes: "govuk-label--s govuk-!-font-weight-bold",
                attributes: { "aria-live": "polite", "data-qa": "completed-by-other-full-name" }
              },
              attributes: {
                "aria-label" : "Give details as to who completed the review",
                "data-qa": "completedByOtherFullName"
                },
              errorMessage: errors | findError('completedByOtherFullName')
            }) }}
            {{ govukInput({
              id: "completedByOtherJobRole",
              name: "completedByOtherJobRole",
              value: form.completedByOtherJobRole,
              maxlength: 200,
              label: {
                text: "Job role",
                classes: "govuk-label--s govuk-!-font-weight-bold",
                attributes: { "aria-live": "polite", "data-qa": "completed-by-other-job-role" }
              },
              attributes: {
                "aria-label" : "Give details as to who completed the review",
                "data-qa": "completedByOtherJobRole"
                },
              errorMessage: errors | findError('completedByOtherJobRole')
            }) }}
          {% endset -%}

          {{ govukRadios({
            name: 'completedBy',
            id: 'completedBy',
            fieldset: {
              legend: {
                html: "<h1 class='govuk-heading-l govuk-!-margin-top-6' data-qa='page-heading'>Who completed " + prisonerSummary.firstName + " " + prisonerSummary.lastName + "'s review?</h1>"
              }
            },
            hint: {
              html: warningTextHtml
            },
            items: [
              {
                value: 'MYSELF',
                text: 'I did the review myself',
                checked: form.completedBy === 'MYSELF'
              },
              {
                value: 'SOMEBODY_ELSE',
                text: 'Somebody else did the review',
                checked: form.completedBy === 'SOMEBODY_ELSE',
                conditional: {
                  html: somebodyElseHtml
                }
              }
            ],
            errorMessage: errors | findError('completedBy')
          }) }}

          {{ govukDateInput({
            id: "review-date",
            fieldset: {
              legend: {
                html: "<span data-qa='add-review-date'>Add the review date</span>",
                classes: "govuk-fieldset__legend--s",
                attributes: { "data-qa": "add-review-date" }
              }
            },
            hint: {
              text: "For example, 17 5 2024"
            },
            items: [
              {
                id: 'review-date-day',
                label: 'Day',
                name: 'reviewDate-day',
                classes: 'govuk-input--width-2',
                value: form['reviewDate-day'],
                attributes: {"data-qa": "review-date-day"}
              },
              {
                id: 'review-date-month',
                label: 'Month',
                name: 'reviewDate-month',
                classes: 'govuk-input--width-2',
                value: form['reviewDate-month'],
                attributes: {"data-qa": "review-date-month"}
              },
              {
                id: 'review-date-year',
                label: 'Year',
                name: 'reviewDate-year',
                classes: 'govuk-input--width-4',
                value: form['reviewDate-year'],
                attributes: {"data-qa": "review-date-year"}
              }
            ],
            errorMessage: errors | findError('review-date')
          }) }}
        </div>

        {{ govukButton({
          id: "submit-button",
          text: "Continue",
          type: "submit",
          attributes: {"data-qa": "submit-button"}
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
