{# Review based actions #}
{% set prisonerSummary = params.prisonerSummary %}
{% set userHasPermissionTo = params.userHasPermissionTo %}
{% set actionPlanReview = params.actionPlanReview %}
{% set reviewStatus = actionPlanReview.reviewStatus %}
{% set reviewType = actionPlanReview.reviewType %}
{% set reviewDueDate = actionPlanReview.reviewDueDate %}
{% set exemptionReason = actionPlanReview.exemptionReason %}
{% set inductionSchedule = params.inductionSchedule %}
{% set inductionStatus = inductionSchedule.inductionStatus %}
<div class="govuk-summary-card__content govuk-!-padding-bottom-0 govuk-!-padding-top-2" data-qa="review-actions">
  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Reviews</h3>

  {% if reviewStatus and (inductionStatus == 'COMPLETE' or inductionStatus == 'NO_SCHEDULED_INDUCTION') %}

    {% if reviewStatus == 'NOT_DUE' %}
      <span class="govuk-tag govuk-tag--grey govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-qa="review-not-due">
        Review due by {{ reviewDueDate | formatDate('D MMM YYYY') }}
      </span>
    {% elseif reviewStatus == 'DUE' %}
      <span class="govuk-tag govuk-tag--yellow govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-qa="review-due">
        {{ reviewType | formatReviewTypeScreenValue }} due by {{ reviewDueDate | formatDate('D MMM YYYY') }}
      </span>
    {% elseif reviewStatus == 'OVERDUE' %}
      <span class="govuk-tag govuk-tag--red govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-qa="review-overdue">
        {{ reviewType | formatReviewTypeScreenValue }} was due by {{ reviewDueDate | formatDate('D MMM YYYY') }}
      </span>
    {% elseif reviewStatus == 'ON_HOLD' %}
      <span class="govuk-tag govuk-tag--grey govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-qa="review-on-hold">
        {{ reviewType | formatReviewTypeScreenValue }} on hold
      </span>
      <p class="govuk-body" data-qa="reason-on-hold">
        Reason: {{ exemptionReason | formatReviewExemptionReason }}
      </p>
    {% elseif reviewStatus == 'HAS_HAD_LAST_REVIEW' or reviewStatus == 'NO_SCHEDULED_REVIEW' %}
      <span class="govuk-tag govuk-tag--grey govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-qa="no-reviews-due">
        No reviews due
      </span>
      {% if prisonerSummary.releaseDate %}
        <p class="govuk-body" data-qa="release-on">
          release on {{ prisonerSummary.releaseDate | formatDate('D MMM YYYY') }}
        </p>
      {% endif %}
    {% endif %}

    <ul class="govuk-list govuk-!-margin-0" data-qa="reviews-action-items">
      {% if reviewStatus != 'NO_SCHEDULED_REVIEW' and reviewStatus != 'HAS_HAD_LAST_REVIEW' %}
        {% if reviewStatus == 'ON_HOLD' %}

          {% if userHasPermissionTo('REMOVE_REVIEW_EXEMPTION') %}
            <li class="govuk-!-padding-top-2 govuk-!-padding-bottom-3">
              <a class="govuk-link" href="/plan/{{ prisonerSummary.prisonNumber }}/review/exemption/remove" data-qa="remove-exemption-button">
                <img src="/assets/images/icon-remove-exemption.svg" alt="" role="presentation" class="action-icon" />
                Remove exemption from reviews
              </a>
            </li>
          {% endif %}

        {% else %}

          {% if userHasPermissionTo('RECORD_REVIEW') %}
            <li class="govuk-!-padding-top-2 govuk-!-padding-bottom-3">
              <a class="govuk-link" href="/plan/{{ prisonerSummary.prisonNumber }}/review" data-qa="mark-review-complete-button">
                <img src="/assets/images/icon-mark-review-complete.svg" alt="" role="presentation" class="action-icon" />
                Mark review as complete
              </a>
            </li>
          {% endif %}
          {% if userHasPermissionTo('EXEMPT_REVIEW') %}
            <li class="govuk-!-padding-top-2 govuk-!-padding-bottom-3">
              <a class="govuk-link" href="/plan/{{ prisonerSummary.prisonNumber }}/review/exemption" data-qa="record-exemption-button">
                <img src="/assets/images/icon-record-exemption.svg" alt="" role="presentation" class="action-icon" />
                Record exemption for this prisoner
              </a>
            </li>
          {% endif %}

        {% endif %}
      {% endif %}
    </ul>

  {% endif %}
</div>
