{% from "./macro.njk" import actionsCard %}

{{ actionsCard({
  prisonerSummary: prisonerSummary,
  inductionSchedule: inductionSchedule,
  actionPlanReview: actionPlanReview,
  userHasPermissionTo: userHasPermissionTo,
  reviewsFeatureEnabled: reviewsFeatureEnabled
}) }}
