{% from "./macro.njk" import actionsCard %}

{{ actionsCard({
  prisonerSummary: prisonerSummary,
  inductionSchedule: inductionSchedule,
  actionPlanReview: actionPlanReview,
  hasEditAuthority: hasEditAuthority,
  reviewJourneyEnabledForPrison: reviewJourneyEnabledForPrison
}) }}
