{% from "./macro.njk" import actionsCard %}

{{ actionsCard({
  prisonerSummary: prisonerSummary,
  induction: induction,
  inductionSchedule: inductionSchedule,
  actionPlanReviews: actionPlanReviews,
  hasEditAuthority: hasEditAuthority,
  reviewJourneyEnabledForPrison: reviewJourneyEnabledForPrison
}) }}
