
<div class="govuk-summary-card actions-card govuk-!-display-none-print" data-qa="actions-card">
  <div class="govuk-summary-card__title-wrapper govuk-!-padding-bottom-2">
    <h2 class="govuk-summary-card__title govuk-!-font-size-24">Actions</h2>
  </div>

  {% include './_reviewActions.njk' %}
  {% include './_goalActions.njk' %}

</div>
