{{ govukBreadcrumbs({
  items: [
    {
      text: applicationName,
      href: dpsUrl
    },
    {
      text: "Manage learning and work progress",
      href: "/"
    }
  ],
  classes: 'govuk-!-display-none-print'
}) }}
