{{ govukBreadcrumbs({
  items: [
    {
      text: "Digital prison services",
      href: dpsUrl
    },
    {
      text: "Learning plans",
      href: "/"
    }
  ],
  classes: 'govuk-!-display-none-print'
}) }}
