{% extends "govuk/template.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block head %}
  {% if gtmContainerId %}
    {# Google Tag Manager #}
    <script nonce="{{ cspNonce }}" data-qa="gtm">
      ;
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer'
            ? '&l=' + l
            : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        var n = d.querySelector('[nonce]');
        n && j.setAttribute('nonce', n.nonce || n.getAttribute('nonce'));
        f
          .parentNode
          .insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', '{{ gtmContainerId }}');
    </script>
    {# End Google Tag Manager #}
  {% endif %}

  <!--[if !IE 8]><!-->
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
  <!--<![endif]-->

  <!--[if lt IE 9]>
  <link href="/assets/stylesheets/application-ie8.css?{{ version }}" rel="stylesheet"/>
  <script src="/assets/js/html5shiv-3.7.3.min.js"></script>
  <![endif]-->

  {% if featureToggles.frontendComponentsApiToggleEnabled %}
    {% if not feComponents.problemRetrievingData %}
      {% for css in feComponents.cssIncludes %}
        <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
      {% endfor %}
    {% endif %}
  {% endif %}

  <link href="/assets/stylesheets/print.css?{{ version }}" media="print" rel="stylesheet" />

  <script src="/assets/js/jquery.min.js"></script> 
{% endblock %}

{% block pageTitle %}{{ pageTitle | default(applicationName) }} - {{ applicationName }}{% endblock %}

{% block header %}
  {% if featureToggles.frontendComponentsApiToggleEnabled %}
    {% if not feComponents.problemRetrievingData %}
      {{ feComponents.headerHtml | safe }}
    {% else %}
      {% include "./header-dps.njk" %}
    {% endif %}
  {% else %}
      {% include "./header.njk" %}
  {% endif %}
{% endblock %}

{% block bodyStart %}
  {% if gtmContainerId %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id={{ gtmContainerId }}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  {% endif %}
  <span class="govuk-visually-hidden" id="pageId" data-qa="{{ pageId }}"></span>
{% endblock %}

{% block main %}
  <div class="govuk-width-container {{ containerClasses }}">
    {{ govukPhaseBanner({
      attributes: {
        role: "complementary"
      },
      tag: {
        text: "beta"
      },
      classes: "govuk-!-display-none-print"
    }) }}

    {% block beforeContent %}{% endblock %}
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
      {% block content %}{% endblock %}
    </main>
  </div>
{% endblock %}

{% block footer %}
  {% if featureToggles.frontendComponentsApiToggleEnabled %}
    {% if not feComponents.problemRetrievingData %}
      {{ feComponents.footerHtml | safe }}
    {% else %}
      {% include "./footer.njk" %}
    {% endif %}
  {% else %}
    {{ govukFooter({
      classes: 'govuk-!-display-none-print'
    }) }}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}
  <script src="/assets/govuk/all.js"></script>
  <script src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/print.js"></script>

  {% if featureToggles.frontendComponentsApiToggleEnabled %}
    {% if not feComponents.problemRetrievingData %}
      {% for js in feComponents.jsIncludes %}
        <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
      {% endfor %}
    {% endif %}
  {% endif %}
{% endblock %}
