{% extends "govuk/template.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "moj/components/pagination/macro.njk" import mojPagination %}
{% from "moj/components/timeline/macro.njk" import mojTimeline %}

{% block head %}
  <!--[if !IE 8]><!-->
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
  <!--<![endif]-->

  <!--[if lt IE 9]>
  <link href="/assets/stylesheets/application-ie8.css?{{ version }}" rel="stylesheet"/>
  <script src="/assets/js/html5shiv-3.7.3.min.js"></script>
  <![endif]-->

  {% if featureToggles.frontendComponentsApiToggleEnabled %}
    {% if not feComponents.problemRetrievingData %}
      {% for css in feComponents.cssIncludes %}
        <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
      {% endfor %}
    {% endif %}
  {% endif %}

  <link href="/assets/stylesheets/print.css?{{ version }}" media="print" rel="stylesheet" />
{% endblock %}

{% block pageTitle %}{{ pageTitle | default(applicationName) }} - {{ applicationName }}{% endblock %}

{% block header %}
  {% if featureToggles.frontendComponentsApiToggleEnabled %}
    {% if not feComponents.problemRetrievingData %}
      {{ feComponents.headerHtml | safe }}
    {% else %}
      {% include "./header-dps.njk" %}
    {% endif %}
  {% else %}
      {% include "./header.njk" %}
  {% endif %}
{% endblock %}

{% block bodyStart %}
  <span class="govuk-visually-hidden" id="pageId" data-qa="{{ pageId }}"></span>
{% endblock %}

{% block main %}
  <div class="govuk-width-container {{ containerClasses }}">
    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new service – get help or <a class="govuk-link" href="' + feedbackUrl + '" target="_blank" referrerpolicy="no-referrer" rel="noopener">give your feedback</a> to help us to improve it.',
      classes: "govuk-!-display-none-print",
      attributes: {
        role: "complementary"
      }
    }) }}

    {% block beforeContent %}{% endblock %}
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
      {% block content %}{% endblock %}
    </main>
  </div>
{% endblock %}

{% block footer %}
  {% if featureToggles.frontendComponentsApiToggleEnabled %}
    {% if not feComponents.problemRetrievingData %}
      {{ feComponents.footerHtml | safe }}
    {% else %}
      {% include "./footer.njk" %}
    {% endif %}
  {% else %}
    {{ govukFooter({
      classes: 'govuk-!-display-none-print'
    }) }}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}
  <script src="/assets/js/jquery.min.js"></script> 
  <script src="/assets/govuk/all.js"></script>
  <script src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/print.js"></script>

  {% if featureToggles.frontendComponentsApiToggleEnabled %}
    {% if not feComponents.problemRetrievingData %}
      {% for js in feComponents.jsIncludes %}
        <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
      {% endfor %}
    {% endif %}
  {% endif %}
{% endblock %}
