<div class="app-mini-profile-header govuk-!-margin-bottom-6">
  <dl>
    <dt class="govuk-heading-s govuk-!-margin-bottom-0">
      <a href="{{ dpsUrl }}/prisoner/{{ prisonNumber }}" class="govuk-link govuk-!-font-weight-bold">
        {{ prisonerSummary.lastName | title }}, {{ prisonerSummary.firstName | title }}
      </a>
    </dt>
    <dd class="govuk-body" data-qa="prison-number">{{ prisonerSummary.prisonNumber }}</dd>
  </dl>
  <dl>
    <dt class="govuk-heading-s govuk-!-margin-bottom-0">Entered prison on</dt>
    <dd class="govuk-body" data-qa="reception-date">{{ prisonerSummary.receptionDate | formatDate('D MMM YYYY') }}
    </dd>
  </dl>
  <dl>
    <dt class="govuk-heading-s govuk-!-margin-bottom-0">Release date</dt>
    <dd class="govuk-body" data-qa="release-date">{{ prisonerSummary.releaseDate | formatDate('D MMM YYYY') or 'N/A' }}</dd>
  </dl>
  <dl>
    <dt class="govuk-heading-s govuk-!-margin-bottom-0">DOB</dt>
    <dd class="govuk-body" data-qa="dob">{{ prisonerSummary.dateOfBirth | formatDate('D MMM YYYY') }}</dd>
  </dl>
</div>
