{% extends "../../../partials/layout.njk" %}

{% set pageId = "create-goal" %}
{% set pageTitle = "Describe the goal you want to create for the prisoner" %}

{% block beforeContent %}
  {% include "../../../partials/breadcrumb.njk" %}
{% endblock %}

{% block content %}

  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <input type="hidden" name="prisonNumber" value="{{ form.prisonNumber }}" />

        {% set titleLabelHtml %}
          Describe the goal you want to create for {{ prisonerSummary.firstName | safe }} {{ prisonerSummary.lastName | safe }}
        {% endset %}

        {% set hintTextHtml %}
          <p class="govuk-hint">Goals should be SMART, meaning 'specific', 'measurable', 'achievable', 'relevant' and 'time-bound'. SMART goals allow progress to be better measured and evaluated.</p>
          <p class="govuk-hint">You can add the steps to achieve the goal on the next page.</p>
        {% endset %}

        {{ govukCharacterCount({
          name: "title",
          id: "title",
          value: form.title,
          maxlength: 512,
          label: {
            text: titleLabelHtml,
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            html: hintTextHtml
          },
          errorMessage: errors | findError('title')
        }) }}

        {% set targetCompletionDateItems = [] %}

        {% for futureGoalTargetDate in futureGoalTargetDates %}
          {% set targetCompletionDateItems = (targetCompletionDateItems.push({
            "value": futureGoalTargetDate.value,
            "text": futureGoalTargetDate.text
            }), targetCompletionDateItems)
          %}
        {% endfor %}

        {% set anotherDateHtml %}
          {{ govukDateInput({
            id: "another-date",
            fieldset: {
              legend: {
                text: "What date are they aiming to achieve this by?",
                classes: "govuk-visually-hidden"
              }
            },
            hint: {
              text: "For example, 27 3 2007"
            },
            items: [
              {
                id: 'another-date-day',
                label: 'Day',
                name: 'targetCompletionDate-day',
                classes: 'govuk-input--width-2',
                value: form['targetCompletionDate-day']
              },
              {
                id: 'another-date-month',
                label: 'Month',
                name: 'targetCompletionDate-month',
                classes: 'govuk-input--width-2',
                value: form['targetCompletionDate-month']
              },
              {
                id: 'another-date-year',
                label: 'Year',
                name: 'targetCompletionDate-year',
                classes: 'govuk-input--width-4',
                value: form['targetCompletionDate-year']
              }
            ]
          }) }}
        {% endset -%}

        {% set targetCompletionDateItems = (targetCompletionDateItems.push({
          "value": "another-date",
          "text": "set another date",
          "conditional": {
            "html": anotherDateHtml
          }
          }), targetCompletionDateItems)
        %}

        {{ govukRadios({
          name: "targetCompletionDate",
          id: "targetCompletionDate",
          value: form.targetCompletionDate,
          fieldset: {
            legend: {
              text: "When are they aiming to achieve this by?",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: targetCompletionDateItems,
          errorMessage: errors | findError('targetCompletionDate')
        }) }}

        {% if isEditMode %}
          {% set buttonText = "Continue to check goals" %}
        {% else %}
          {% set buttonText = "Continue to add steps" %}
        {% endif %}

        {{ govukButton({
          text: buttonText
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
