{% extends "../../../partials/layout.njk" %}

{% set pageId = "create-goal" %}
{% set pageTitle = applicationName + " - Home" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Digital Prison Services",
        href: dpsUrl
      },
      {
        text: "Manage learning and work progress",
        href: "/"
      },
      {
        text: "Manage " + prisonerSummary.firstName | capitalize + " " + prisonerSummary.lastName | capitalize + "'s learning plan",
        href: "/plan/" + prisonerSummary.prisonNumber + "/view/overview"
      }
    ],
    classes: 'govuk-!-display-none-print'
  }) }}
{% endblock %}

{% block content %}

  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    }) }}
  {% endif %}

  {% include "../../../partials/prisonerBanner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Describe the goal you want to create for {{ prisonerSummary.firstName | capitalize }} {{ prisonerSummary.lastName | capitalize }}</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          <input type="hidden" name="prisonNumber" value="{{ form.prisonNumber }}" />

          {% set titleLabelHtml %}
            <p class="govuk-hint">Goals should be SMART, meaning 'specific', 'measurable', 'achievable', 'relevant' and 'time-bound'. SMART goals allow progress to be better measured and evaluated.</p>
            <p class="govuk-hint">You can add the steps to achieve the goal on the next page.</p>
          {% endset %}

          {{ govukTextarea({
            name: "title",
            id: "title",
            value: form.title,
            label: {
              html: titleLabelHtml,
              isPageHeading: false
            },
            errorMessage: errors | findError('title')
          }) }}

        {{ govukButton({
          text: "Continue to add steps"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
