{% extends "../../../partials/layout.njk" %}

{% set pageId = "create-goal" %}
{% set pageTitle = applicationName + " - Home" %}

{% block beforeContent %}
  {% include "../../../partials/breadcrumb.njk" %}
{% endblock %}

{% block content %}

  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    }) }}
  {% endif %}

  {% include "../../../partials/prisonerBanner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate="">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          <input type="hidden" name="prisonNumber" value="{{ form.prisonNumber }}" />

          {% set titleLabelHtml %}
            Describe the goal you want to create for {{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }}
          {% endset %}

          {% set hintTextHtml %}
            <p class="govuk-hint">Goals should be SMART, meaning 'specific', 'measurable', 'achievable', 'relevant' and 'time-bound'. SMART goals allow progress to be better measured and evaluated.</p>
            <p class="govuk-hint">You can add the steps to achieve the goal on the next page.</p>
          {% endset %}

          {{ govukTextarea({
            name: "title",
            id: "title",
            value: form.title,
            label: {
              text: titleLabelHtml,
              classes: "govuk-label--l",
              isPageHeading: true
            },
            hint: {
              html: hintTextHtml
            },
            errorMessage: errors | findError('title')
          }) }}

          {% set anotherDateHtml %}
            {{ govukDateInput({
              id: "another-date",
              namePrefix: "another-date",
              fieldset: {
                legend: {
                  text: "What date are they aiming to achieve this by?",
                  classes: "govuk-visually-hidden"
                }
              },
              hint: {
                text: "For example, 27 3 2007"
              }
            }) }}
          {% endset -%}

          {{ govukRadios({
            name: "targetCompletionDate",
            id: "targetCompletionDate",
            value: form.targetCompletionDate,
            fieldset: {
              legend: {
                text: "When are they aiming to achieve this by?",
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: currentDatePlus3Months  | formatDate('YYYY-MM-DD'),
                text: "in 3 months (" + currentDatePlus3Months | formatDate('D MMMM YYYY') + ")"
              },
              {
                value: currentDatePlus6Months  | formatDate('YYYY-MM-DD'),
                text: "in 6 months (" + currentDatePlus6Months | formatDate('D MMMM YYYY') + ")"
              },
              {
                value: currentDatePlus12Months  | formatDate('YYYY-MM-DD'),
                text: "in 12 months (" + currentDatePlus12Months | formatDate('D MMMM YYYY') + ")"
              },
              {
                value: "another-date",
                text: "set another date",
                conditional: {
                  html: anotherDateHtml
                }
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue to add steps"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
