{% extends "../../partials/layout.njk" %}
{% from "../../components/sortable-table-header/macro.njk" import sortableTableHeader %}
{% from "./macros/nonJavascriptTabBar.njk" import nonJavascriptTabBar %}
{% from "./macros/searchResultsTable.njk" import searchResultsTable %}

{% set pageId = 'due-sessions-list-page' %}
{% set pageTitle = "Due sessions" %}

{% block beforeContent %}
  <nav class="govuk-breadcrumbs govuk-!-display-none-print" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{ dpsUrl }}">Digital Prison Services</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{ prisonerListUrl }}">Manage learning and work progress</a>
      </li>
    </ol>
  </nav>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Due sessions</h1>

      {% set columnHeadings %}
        {{ sortableTableHeader({
          sortBy: sortBy,
          sortOrder: sortOrder,
          fieldName: 'name',
          headerText: 'Prisoner'
        }) }}
        {{ sortableTableHeader({
          sortBy: sortBy,
          sortOrder: sortOrder,
          fieldName: 'location',
          headerText: 'Location'
        }) }}
        {{ sortableTableHeader({
          sortBy: sortBy,
          sortOrder: sortOrder,
          fieldName: 'release-date',
          headerText: 'Release date'
        }) }}
        {{ sortableTableHeader({
          sortBy: sortBy,
          sortOrder: sortOrder,
          fieldName: 'session-type',
          headerText: 'Session type'
        }) }}
        {{ sortableTableHeader({
          sortBy: sortBy,
          sortOrder: sortOrder,
          fieldName: 'due-by',
          headerText: 'Due by'
        }) }}
      {% endset %}

      {% set tabContent %}
        {% include './_searchBox.njk' %}

        {{ searchResultsTable({
          heading: 'xx inductions and reviews due',
          columnHeadings: columnHeadings,
          searchTerm: searchTerm,
          sessionType: sessionType,
          page: page
        }) }}
      {% endset %}

      {{ nonJavascriptTabBar({
        activeTab: 'DUE_SESSIONS',
        content: tabContent
      }) }}

    </div>
  </div>

{% endblock %}
