{% extends "../../partials/layout.njk" %}

{% set pageId = "create-goals" %}
{% set pageTitle = "Create goals with prisoner" %}

{% block beforeContent %}
  {% include "../../partials/breadcrumb.njk" %}
{% endblock %}

{% block content %}

  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Create goals with {{ prisonerSummary.firstName | safe }} {{ prisonerSummary.lastName | safe }}</h1>

      <h2 class="govuk-heading-s">Add goals</h2>
      <p class="govuk-hint">
        Goals should be SMART, meaning 'specific', 'measurable', 'achievable', 'relevant' and 'time-bound'. SMART goals allow progress to be better measured and evaluated.<br>
        You can add the steps to achieve the goal on the next page.
      </p>

      <form class="form" method="post" novalidate="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <input type="hidden" name="prisonNumber" value="{{ form.prisonNumber }}" />

        {% for goals in form.goals %}
        {% set goalLoop = loop %}
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Goal {{ goalLoop.index }}
            </h2>
            <ul class="govuk-summary-card__actions govuk-!-display-none-print govuk-!-margin-0">
              <li class="govuk-summary-card__action">
                {% if goalLoop.length > 1 %}
                  {{ govukButton({
                    name: "action",
                    value: "remove-goal|" + goalLoop.index0,
                    text: "Remove goal",
                    classes: "govuk-button--secondary govuk-!-margin-bottom-0",
                    attributes: {
                      'data-qa': 'remove-goal-button'
                    }
                  }) }}
                {% endif %}
              </li>
            </ul>
          </div>

          <div class="govuk-summary-card__content">

            {{ govukCharacterCount({
              name: "goals[" + goalLoop.index0 + "][title]",
              id: "goals[" + goalLoop.index0 + "].title",
              value: form.goals[(goalLoop.index0)].title,
              maxlength: 512,
              label: {
                text: "Describe the goal",
                classes: "govuk-label--s"
              },
              charactersOverLimitText: {
                one: 'Goal must be 512 characters or less',
                other: 'Goal must be 512 characters or less'
              },
              errorMessage: errors | findError("goals[" + goalLoop.index0 + "].title")
            }) }}

            {% set targetCompletionDateItems = [] %}

            {% for futureGoalTargetDate in futureGoalTargetDates %}
              {% set targetCompletionDateItems = (targetCompletionDateItems.push({
                "value": futureGoalTargetDate.value,
                "text": futureGoalTargetDate.text
                }), targetCompletionDateItems)
              %}
            {% endfor %}

            {% set anotherDateHtml %}
              {{ govukDateInput({
                id: "goals[" + goalLoop.index0 + "].another-date",
                fieldset: {
                  legend: {
                    text: "When are they aiming to achieve this goal by?",
                    classes: "govuk-visually-hidden"
                  }
                },
                hint: {
                  text: "For example, 27 3 2007"
                },
                items: [
                  {
                    id: 'goals[' + goalLoop.index0 + '].targetCompletionDate-day',
                    label: 'Day',
                    name: "goals[" + goalLoop.index0 + "][targetCompletionDate-day]",
                    classes: 'govuk-input--width-2',
                    value: form.goals[(goalLoop.index0)]['targetCompletionDate-day']
                  },
                  {
                    id: 'goals[' + goalLoop.index0 + '].targetCompletionDate-month',
                    label: 'Month',
                    name: "goals[" + goalLoop.index0 + "][targetCompletionDate-month]",
                    classes: 'govuk-input--width-2',
                    value: form.goals[(goalLoop.index0)]['targetCompletionDate-month']
                  },
                  {
                    id: 'goals[' + goalLoop.index0 + '].targetCompletionDate-year',
                    label: 'Year',
                    name: "goals[" + goalLoop.index0 + "][targetCompletionDate-year]",
                    classes: 'govuk-input--width-4',
                    value: form.goals[(goalLoop.index0)]['targetCompletionDate-year']
                  }
                ]
              }) }}
            {% endset -%}

            {% set targetCompletionDateItems = (targetCompletionDateItems.push({
              "value": "another-date",
              "text": "set another date",
              "conditional": {
                "html": anotherDateHtml
              }
              }), targetCompletionDateItems)
            %}

            {{ govukRadios({
              name: "goals[" + goalLoop.index0 + "][targetCompletionDate]",
              idPrefix: "goals[" + goalLoop.index0 + "].targetCompletionDate",
              value: form.goals[(goalLoop.index0)].targetCompletionDate,
              fieldset: {
                legend: {
                  text: "When are they aiming to achieve this goal by?",
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: targetCompletionDateItems,
              errorMessage: errors | findError("goals[" + goalLoop.index0 + "].targetCompletionDate")
            }) }}

            <h3 class="govuk-heading-s">Add steps to help them achieve this goal</h3>

            {% for steps in form.goals[goalLoop.index0].steps %}
              {% set stepLoop = loop %}

              {% call govukFieldset({
                classes: 'moj-add-another__item',
                legend: {
                  text: 'Description and actions for step ' + stepLoop.index + ' of goal ' + goalLoop.index,
                  classes: 'govuk-visually-hidden',
                  isPageHeading: false
                }
              }) %}

                {{ govukCharacterCount({
                  name: "goals[" + goalLoop.index0 + "][steps][" + stepLoop.index0 + "][title]",
                  id: "goals[" + goalLoop.index0 + "].steps[" + stepLoop.index0 + "].title",
                  value: form.goals[(goalLoop.index0)].steps[(stepLoop.index0)].title,
                  maxlength: 512,
                  rows: 2,
                  label: {
                    text: 'Step ' + stepLoop.index,
                    classes: "govuk-label--s",
                    isPageHeading: false
                  },
                  hint: {
                    text: "Describe this step"
                  },
                  charactersOverLimitText: {
                    one: 'Step must be 512 characters or less',
                    other: 'Step must be 512 characters or less'
                  },
                  errorMessage: errors | findError('goals[' + goalLoop.index0 + '].steps[' + stepLoop.index0 + '].title')
                }) }}

                {% if stepLoop.length > 1 %}
                  {{ govukButton({
                    name: "action",
                    value: "remove-step|" + goalLoop.index0 + "|" + stepLoop.index0,
                    text: "Remove step",
                    classes: "govuk-button--secondary moj-add-another__remove-button",
                    attributes: {
                      'data-qa': 'remove-step-button'
                    }
                  }) }}
                {% endif %}
              {% endcall %}
            {% endfor %}

            <div class="govuk-form-group govuk-!-margin-bottom-2">
              {{ govukButton({
                id: "add-another-step-to-goal-" + goalLoop.index0 + "-button",
                name: "action",
                value: "add-another-step|" + goalLoop.index0,
                text: "Add another step to this goal",
                classes: "govuk-button--secondary"
              }) }}
            </div>

            <div class="govuk-form-group">
              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-label--s" for="goals[{{ goalLoop.index0 }}][note]">
                    Add a note to this goal (optional)
                  </label>
                </h1>
                <div class="govuk-warning-text govuk-!-margin-top-4">
                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                  <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    This note will be seen by the prisoner and other prison staff.
                  </strong>
                </div>
                {{ errors | findError("goals[" + goalLoop.index0 + "].note") }}
                <textarea class="govuk-textarea" id="goals[{{ goalLoop.index0 }}][note]" name="goals[{{ goalLoop.index0 }}][note]" rows="5" aria-describedby="warning-text">{{ form.goals[goalLoop.index0].note }}</textarea>
              </div>
            </div>

          </div>
        </div>
        {% endfor %}

        <div class="govuk-form-group">
          {{ govukButton({
            id: "add-another-goal-button",
            name: "action",
            value: "add-another-goal",
            text: "Add another goal",
            classes: "govuk-button--secondary"
          }) }}
        </div>

        {{ govukButton({
          id: "submit-button",
          name: "action",
          value: "submit-form",
          text: "Save to learning and work progress plan"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
