{# Template to render the actions header row for the Overview tab #}

<div class="moj-page-header-actions">

  <div class="moj-page-header-actions__title">
    <h2 class="govuk-heading-m">Goals in progress</h2>
  </div>

</div>
