{# Nunjucks template to display a summary card of the prisoner's eduction and training

Data supplied to this template:
  * prisonerSummary - object with firstName and lastName
  * prisonerFunctionalSkills - prisoner functional skills
  * curiousInPrisonCourses - prisoner in-prison courses
  * prisonNamesById - key/value pairs of prisonIDs to prison names
#}

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title govuk-!-font-size-24">Education and training</h2>
  </div>
  <div class="govuk-summary-card__content">
    {% if prisonerFunctionalSkills.isFulfilled() %}
      {% set prisonerFunctionalSkills = prisonerFunctionalSkills.value %}
      {% set mostRecentEnglishAssessment = prisonerFunctionalSkills.assessments | filterArrayOnProperty('type', 'ENGLISH') | sort(attribute = 'assessmentDate', reverse = true) | first %}
      {% set mostRecentMathsAssessment = prisonerFunctionalSkills.assessments | filterArrayOnProperty('type', 'MATHS') | sort(attribute = 'assessmentDate', reverse = true) | first %}
      {% set mostRecentDigitalSkillsAssessment = prisonerFunctionalSkills.assessments | filterArrayOnProperty('type', 'DIGITAL_LITERACY') | sort(attribute = 'assessmentDate', reverse = true) | first %}
      {% set mostRecentAssessmentsOfType = [] %}
      {% if mostRecentEnglishAssessment %}
        {% set mostRecentAssessmentsOfType = (mostRecentAssessmentsOfType.push(mostRecentEnglishAssessment), mostRecentAssessmentsOfType) %}
      {% endif %}
      {% if mostRecentMathsAssessment %}
        {% set mostRecentAssessmentsOfType = (mostRecentAssessmentsOfType.push(mostRecentMathsAssessment), mostRecentAssessmentsOfType) %}
      {% endif %}
      {% if mostRecentDigitalSkillsAssessment %}
        {% set mostRecentAssessmentsOfType = (mostRecentAssessmentsOfType.push(mostRecentDigitalSkillsAssessment), mostRecentAssessmentsOfType) %}
      {% endif %}

      <p class="govuk-hint" data-qa="functional-skills-hint">Information from Curious.</p>

      <h3 class="govuk-heading-s" data-qa="functional-skills-heading">Functional skills initial assessment results</h3>

      {% if mostRecentAssessmentsOfType.length %}
        <table class="govuk-table govuk-!-margin-bottom-0" data-qa="functional-skills-table">
          <thead class="govuk-table__head govuk-visually-hidden">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Skill and assessment date</th>
              <th scope="col" class="govuk-table__header">Assessment level</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body" data-qa="functional-skills-table-body">

            {% for functionalSkillAssessment in mostRecentAssessmentsOfType %}
              <tr class="govuk-table__row {% if loop.last %}last-row-no-border{% endif %}">
                <td class="govuk-table__cell">
                  <span class="govuk-body">{{functionalSkillAssessment.type | formatFunctionalSkillType }} {{ functionalSkillAssessment.level }}</span>
                </td>
                <td class="govuk-table__cell">
                  {% set prisonName = prisonNamesById[functionalSkillAssessment.prisonId] | default(functionalSkillAssessment.prisonId) %}
                  <span class="govuk-hint">Assessed on {{ functionalSkillAssessment.assessmentDate | formatDate('d MMMM yyyy') }}, {{ prisonName }}</span>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      {% else %}
        <p class="govuk-body govuk-!-margin-top-5" data-qa="no-functional-skills-in-curious-message">{{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }} has no functional skills assessment results recorded in Curious.</p>
      {% endif %}

    {% else %}
      <h3 class="govuk-heading-s" data-qa="curious-unavailable-message">We cannot show these details from Curious right now</h3>
      <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>
    {% endif %}

    <h3 class="govuk-heading-s govuk-!-padding-top-7" data-qa="completed-courses-heading">Courses and qualifications completed in the last 12 months</h3>
    <p class="govuk-hint" data-qa="completed-courses-hint">Information from Curious. This only includes educational courses. Contact the local education team to find out more.</p>
    {% if curiousInPrisonCourses.isFulfilled() %}
      {% set curiousInPrisonCourses = curiousInPrisonCourses.value %}

      {% if curiousInPrisonCourses.coursesCompletedInLast12Months.length > 0 %}
        <table class="govuk-table" data-qa="completed-in-prison-courses-in-last-12-months-table">
          <tbody class="govuk-table__body" data-qa="completed-courses-table-body">
          {% for completedCourse in curiousInPrisonCourses.coursesCompletedInLast12Months | sort(attribute = 'courseCompletionDate', reverse = true) %}
            <tr class="govuk-table__row {% if loop.last %}last-row-no-border{% endif %}">
              <td class="govuk-table__cell">
                <span class="govuk-body" data-qa="completed-course-name">{{ completedCourse.courseName }}</span>
              </td>
              <td class="govuk-table__cell">
                <span class="govuk-hint" data-qa="course-completion-date">Completed on {{ completedCourse.courseCompletionDate | formatDate('d MMMM yyyy') }}</span>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% elif curiousInPrisonCourses.hasCoursesCompletedMoreThan12MonthsAgo() %}
        <p class="govuk-body govuk-!-margin-top-5" data-qa="no-courses-completed-in-last-12-months-message">{{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }} has no courses and qualifications completed in the last 12 months.</p>
      {% elif curiousInPrisonCourses.hasWithdrawnOrInProgressCourses() %}
        <p class="govuk-body govuk-!-margin-top-5" data-qa="no-courses-completed-yet-message">{{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }} has no courses and qualifications completed yet.</p>
      {% else %}
        <p class="govuk-body govuk-!-margin-top-5" data-qa="no-courses-recorded-message">{{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }} has no courses and qualifications recorded in Curious.</p>
      {% endif %}
    {% else %}
      <h3 class="govuk-heading-s" data-qa="curious-unavailable-message">We cannot show these details from Curious right now</h3>
      <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>
    {% endif %}

    <p class="govuk-body govuk-!-margin-top-2 govuk-!-display-none-print">
      <a class="govuk-link" href="/plan/{{ prisonerSummary.prisonNumber }}/view/education-and-training" data-qa="view-education-and-training-tab-button">
        View all education and training<span class="govuk-visually-hidden"> functional skills</span>
      </a>
    </p>
  </div>
</div>
