{# Template to render the prisoner's list of Goals on the Overview tab #}

{% for goal in actionPlan.goals %}
  <div class="govuk-summary-card" data-qa="goal-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h3 class="govuk-summary-card__title">Goal {{ loop.index }}
        <span class="govuk-caption-m">Created on {{ goal.createdAt | formatDate('D MMMM YYYY') }}<span class="govuk-!-display-none-print"> by {{ goal.createdByDisplayName }}</span>,
        <br> aiming to achieve this <strong>by {{ goal.targetCompletionDate | formatDate('D MMMM YYYY') }}</strong></span>
      </h3>
      <ul class="govuk-summary-card__actions govuk-!-display-none-print">
        {% if hasEditAuthority %}
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="/plan/{{ prisonerSummary.prisonNumber }}/goals/{{ goal.goalReference }}/update" data-qa="goal-{{ loop.index-1 }}-update-button">Update<span class="govuk-visually-hidden"> goal {{ loop.index }}</span></a>
          </li>
          {# Not MVP, Jira to created for archiving goals
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="goal-inactive-alert">Archive</a>
              </li>
          #}
        {% endif %}
      </ul>
    </div>
    <div class="govuk-summary-card__content">
      <p class="govuk-body">{{ goal.title | formatMultilineText | safe }}</p>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-visually-hidden">Goal {{ loop.index }} steps</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-u-width-60">Steps</th>
          <th scope="col" class="govuk-table__header app-u-width-20">Status</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">

        {% for step in goal.steps %}

          {% if step.status == "COMPLETE" %}
            {% set tagClass = "govuk-tag--green" %}
            {% elif step.status == "ACTIVE" %}
            {% set tagClass = "govuk-tag--blue" %}
          {% else %}
            {% set tagClass = "govuk-tag--grey" %}
          {% endif %}

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ step.sequenceNumber }}. {{ step.title | formatMultilineText | safe }}</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag {{ tagClass }}">
                {{ step.status | formatStepStatusValue }}
              </strong>
            </td>
          </tr>
        {% endfor %}

        </tbody>
      </table>

      {% if goal.note %}
        {{ govukDetails({
          summaryHtml: "View note<span class='govuk-visually-hidden'> for Goal " + loop.index + "</span>",
          text: goal.note | formatMultilineText | safe,
          attributes: {
            "data-qa": "overview-notes-expander-" + loop.index
          },
          classes: "app-notes-expander"
        }) }}
      {% endif %}

    </div>
  </div>

{% endfor %}
