{% if goals | length > 0 %}
  {% for goal in goals | sort(attribute = 'targetCompletionDate') %}
    {{ goalSummaryCardV2({
      goal: goal,
      attributes: {
        'data-qa': 'goal-summary-card'
      },
      actions: [
        {
          title: 'Update<span class="govuk-visually-hidden"> this goal</span>',
          href: '/plan/' + prisonerSummary.prisonNumber + '/goals/' + goal.goalReference + '/update',
          attributes: {
          'data-qa': 'goal-'+ loop.index + '-update-button'
        },
          'render-if': hasEditAuthority
        },
        {
          title: 'Archive<span class="govuk-visually-hidden"> this goal</span>',
          href: '/plan/' + prisonerSummary.prisonNumber + '/goals/' + goal.goalReference + '/archive',
          attributes: {
          'data-qa': 'goal-'+ loop.index + '-archive-button'
        },
          'render-if': hasEditAuthority
        }
      ]
    }) }}
  {% endfor %}
{% else %}
  <p class="govuk-body" data-qa="no-in-progress-goals-message">{{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }} has no in progress goals</p>
{% endif %}
