{# Nunjucks template to display a summary card of the prisoner's goals

Data supplied to this template:
  * prisonerSummary - object with firstName and lastName
  * prisonerGoals: {
  *   problemRetrievingData: boolean
  *   counts: {
  *     totalGoals: number
  *     activeGoals: number
  *     archivedGoals: number
  *     completedGoals: number
  *   }
  *   lastUpdatedBy: string | null
  *   lastUpdatedDate: Date | null
  *   lastUpdatedAtPrisonName: string | null
  * }

#}

<div class="govuk-summary-card" data-qa="goals-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title govuk-!-font-size-24">Goals</h2>
  </div>
  <div class="govuk-summary-card__content">
    {% if not prisonerGoals.problemRetrievingData %}

      <div class="govuk-grid summary-counts-grid">
        {# Count of in-progress goals #}
        <div class="govuk-grid-item">
          <div class="summary-count-container">
            <span class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold" data-qa="in-progress-goals-count">{{ prisonerGoals.counts.activeGoals }}</span>
            <span class="govuk-tag govuk-tag--blue govuk-!-margin-left-2 govuk-!-margin-bottom-4">In progress</span>
          </div>
          <a class="govuk-link govuk-!-font-size-19 govuk-!-display-none-print" href="/plan/{{ prisonerSummary.prisonNumber }}/view/goals#in-progress-goals" data-qa="view-in-progress-goals-button">View in progress goals</a>
        </div>
        {% if featureToggles.completedGoalsEnabled %}
          {# Count of completed goals #}
          <div class="govuk-grid-item">
            <div class="summary-count-container">
              <span class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold" data-qa="completed-goals-count">{{ prisonerGoals.counts.completedGoals }}</span>
              <span class="govuk-tag govuk-tag--green govuk-!-margin-left-2 govuk-!-margin-bottom-4">Completed</span>
            </div>
            <a class="govuk-link govuk-!-font-size-19 govuk-!-display-none-print" href="/plan/{{ prisonerSummary.prisonNumber }}/view/goals#completed-goals" data-qa="view-completed-goals-button">View completed goals</a>
          </div>
        {% endif %}
        {# Count of archived goals #}
        <div class="govuk-grid-item">
          <div class="summary-count-container">
            <span class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold" data-qa="archived-goals-count">{{ prisonerGoals.counts.archivedGoals }}</span>
            <span class="govuk-tag govuk-tag--grey govuk-!-margin-left-2 govuk-!-margin-bottom-4">Archived</span>
          </div>
          <a class="govuk-link govuk-!-font-size-19 govuk-!-display-none-print" href="/plan/{{ prisonerSummary.prisonNumber }}/view/goals#archived-goals" data-qa="view-archived-goals-button">View archived goals</a>
        </div>
      </div>

      {% if prisonerGoals.counts.totalGoals > 0 %}
        <p class="govuk-hint govuk-!-font-size-16 govuk-!-margin-top-6" data-qa="goal-last-updated-hint">
          Updated on {{ prisonerGoals.lastUpdatedDate | formatDate('DD MMMM YYYY') }}<span class="govuk-!-display-none-print"> by {{ prisonerGoals.lastUpdatedBy }}, {{ prisonerGoals.lastUpdatedAtPrisonName }}</span>
        </p>
      {% endif %}

    {% else %}
      <h3 class="govuk-heading-s" data-qa="goals-unavailable-message">We cannot show these details right now</h3>
      <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>
    {% endif %}
  </div>
</div>
