{# Nunjucks template to display a summary card of the CIAG sessions held with the prisoner

Data supplied to this template:
  * prisonerSummary - object with firstName and lastName
  * sessionHistory: {
  *   problemRetrievingData: boolean
  *   counts: {
  *     totalCompletedSessions: number
  *     reviewSessions: number
  *     inductionSessions: number
  *   }
  *   lastSessionConductedBy: string | null
  *   lastSessionConductedAt: Date | null
  *   lastSessionConductedAtPrison: string | null
  * }

#}

<div class="govuk-summary-card" data-qa="action-plan-reviews-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title govuk-!-font-size-24">Sessions history</h2>
  </div>
  <div class="govuk-summary-card__content">
    {% if not sessionHistory.problemRetrievingData %}
      <div class="action-plan-reviews-container govuk-!-margin-top-3" data-qa="action-plan-reviews-container">
        <span class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold" data-qa="action-plan-reviews-count">{{ sessionHistory.counts.totalCompletedSessions }}</span>
        <span class="govuk-tag govuk-tag--light-blue govuk-tag--custom-width govuk-!-margin-left-2 govuk-!-margin-bottom-4">Induction and review</span>
      </div>
      <a class="govuk-link govuk-!-font-size-19 govuk-!-display-none-print" href="/plan/{{ prisonerSummary.prisonNumber }}/view/history?filterOptions=INDUCTION&filterOptions=REVIEWS" data-qa="view-timeline-button">View induction and review sessions history</a>

      {% if sessionHistory.counts.totalCompletedSessions > 0 %}
        <p class="govuk-hint govuk-!-font-size-16 govuk-!-margin-top-6" data-qa="induction-or-review-last-updated-hint">
          Updated on {{ sessionHistory.lastSessionConductedAt | formatDate('DD MMMM YYYY') }}<span class="govuk-!-display-none-print"> by {{ sessionHistory.lastSessionConductedBy }}, {{ sessionHistory.lastSessionConductedAtPrison }}</span>
        </p>
      {% endif %}

    {% else %}
      <h3 class="govuk-heading-s" data-qa="action-plan-reviews-data-unavailable-message">We cannot show these details right now</h3>
      <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>
    {% endif %}
  </div>
</div>
