{# Nunjucks template to display the prisoner's main Overview page

Data supplied to this template:
  * prisonerSummary - object with firstName and lastName
  * prisonerGoals - object containing prisoner goal summary data - see template _goalsSummaryCard.njk
  * inPrisonCourses - object containing in-prison course summary data - see template _educationAndTrainingSummaryCard.njk
  * functionalSkills - object containing summary data of prisoner's most receent functional skills - see template _educationAndTrainingSummaryCard.njk
  * sessionHistory - object containing summary data of CIAG sessions with the prisoner - see template _sessionHistorySummaryCard.njk
  * induction: {
  *   problemRetrievingData: boolean
  *   isPostInduction - boolean indicating whether this is pre- or post-induction. IE. whether the prisoner has a completed Induction or not
  * }
  * inductionSchedule - object containing details about the prisoner's Induction schedule
  * acionPlanReview - object containing details about the prisoner's Review schedule

#}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "../../../../components/actions-card/macro.njk" import actionsCard %}

<div class="govuk-grid-row">
  {% set createInductionBanner %}
    <p class="govuk-notification-banner__heading" data-qa="notification-banner-heading">
        Create goals and add education, work, skills, and interests to
        <a class="govuk-notification-banner__link" data-qa="notification-banner-link" href="/prisoners/{{ prisonerSummary.prisonNumber }}/create-induction/hoping-to-work-on-release">make a progress plan now</a>.
    </p>
  {% endset %}

  {% block content %}
    <div class="govuk-grid-column-two-thirds app-u-print-full-width">
      {% if not induction.problemRetrievingData and not induction.isPostInduction
            and not inductionSchedule.problemRetrievingData and inductionSchedule.inductionStatus != 'ON_HOLD'
            and userHasPermissionTo('RECORD_INDUCTION')
      %}
        <section data-qa="pre-induction-overview">
          {{ govukNotificationBanner({
            html: createInductionBanner
          }) }}
        </section>
      {% endif %}

      {% include './_goalsSummaryCard.njk' %}

      {% if reviewJourneyEnabledForPrison %}
        {% include './_sessionHistorySummaryCard.njk' %}
      {% endif %}

      {% include './_educationAndTrainingSummaryCard.njk' %}
    </div>

    <div class="govuk-grid-column-one-third app-u-print-full-width">
      {{ actionsCard({
        prisonerSummary: prisonerSummary,
        inductionSchedule: inductionSchedule,
        actionPlanReview: actionPlanReview,
        userHasPermissionTo: userHasPermissionTo,
        reviewJourneyEnabledForPrison: reviewJourneyEnabledForPrison
      }) }}
    </div>
  {% endblock %}
</div>