{# Main content panel for the "Pre-Induction" Overview screen; IE. when prisoner does not have a CIAG Induction record #}

<section data-qa="pre-induction-overview">

  {% set html %}
    <p class="govuk-notification-banner__heading">
      Create goals and add education, work, skills and interests to
      <a class="govuk-notification-banner__link" href="{{ ciagInductionUrl }}/plan/create/{{ prisonerSummary.prisonNumber }}/hoping-to-get-work/new">make a progress plan now</a>.
    </p>
  {% endset %}

  {{ govukNotificationBanner({
    html: html
  }) }}

</section>
