{# Main content panel for the "Pre-Induction" Overview screen; IE. when prisoner does not have an Induction yet #}

{% set createInductionBanner %}
  <p class="govuk-notification-banner__heading">
    {% if goals.goals | length %}
      Add education, work, skills and interests to
      <a class="govuk-notification-banner__link" href="/prisoners/{{ prisonerSummary.prisonNumber }}/create-induction/hoping-to-work-on-release">complete {{ prisonerSummary.firstName | safe }}'s progress plan now</a>.
    {% else %}
      Create goals and add education, work, skills and interests to
      <a class="govuk-notification-banner__link" href="/prisoners/{{ prisonerSummary.prisonNumber }}/create-induction/hoping-to-work-on-release">make a progress plan now</a>.
    {% endif %}
  </p>
{% endset %}

<section data-qa="pre-induction-overview">

    {% if not goals.problemRetrievingData %}

      {% include './_actionsHeader.njk' %}

      {{ govukNotificationBanner({
        html: createInductionBanner
      }) }}

      {% include '../_goalsList.njk' %}

    {% else %}
      <h2 class="govuk-heading-m">Sorry, the service is currently unavailable.</h2>
      <p class="govuk-body">
        Retrieving goals is currently unavailable. Please try again later.
      </p>
    {% endif %}

</section>
