{# Main content panel for the "Post-Induction" Overview screen; IE. when prisoner already has an Induction #}

<section data-qa="post-induction-overview">
  {% if not goals.problemRetrievingData %}

    {% include './_actionsHeader.njk' %}
    {% include './_goalsList.njk' %}

  {% else %}
    {% include '../_unavailableGoals.njk' %}
  {% endif %}
</section>
