<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper app-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title govuk-!-font-size-24">Latest completed courses and qualifications</h2>
  </div>
  <div class="govuk-summary-card__content">
    
    {% if not inPrisonCourses.problemRetrievingData %}
      <table class="govuk-table govuk-!-margin-bottom-0" id="qualifications-achievements-sidebar-table">
        <caption class="govuk-table__caption govuk-visually-hidden">Latest completed courses and qualifications information</caption>
        <thead class="govuk-table__head govuk-visually-hidden">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">In Prison qualification and completion/achievement date</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% if inPrisonCourses.coursesByStatus['COMPLETED'].length > 0 %}
            {% for completedQualification in inPrisonCourses.coursesByStatus['COMPLETED'].splice(0, 2) %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  {{ completedQualification.courseName }}
                  <br>
                  <span class="govuk-hint">Completed on {{ completedQualification.courseCompletionDate | formatDate('D MMMM YYYY') }}</span>
                </th>
              </tr>
            {% endfor %}
          {% else %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                No qualifications or achievements recorded in Curious.
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
      <p class="govuk-body govuk-!-margin-top-2 govuk-!-display-none-print">
        <a class="govuk-link" href="./education-and-training" data-qa="view-all-qualifications-achievements-button">View all <span class="govuk-visually-hidden">qualifications and achievements</span></a>
      </p>
    {% else %}
      <h3 class="govuk-heading-s" data-qa="qualifications-achievements-sidebar-error-heading">We cannot show these details from Curious right now</h3>
      <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>
    {% endif %}
  </div>
</div>
