{% if not featureToggles.archiveGoalNotesEnabled %}
  {% include './_goalSummaryCardContent-goalInStatus-ARCHIVED_V1.njk' %}
{% else %}
  {% include './_goalSummaryCardContent-goalInStatus-ARCHIVED_V2.njk' %}
{% endif %}
