{% from "govuk/macros/attributes.njk" import govukAttributes %}

  {#- Set classes for this component #}
  {%- set classNames = "govuk-summary-card goal-summary-card" -%}
  {%- if params.classes %}
    {% set classNames = classNames + " " + params.classes %}
  {% endif %}

  {#- Define component attributes #}
  {%- set componentAttributes %} class="{{ classNames }}" {{- govukAttributes(params.attributes) -}} {% if params.id %} id="{{ params.id }}"{% endif %}{% endset %}

<div {{ componentAttributes | safe }}>
  <div class="govuk-summary-card__title-wrapper">
    {% include './_goalSummaryCardHeadingAndActions.njk' %}
  </div>
  <div class="govuk-summary-card__subtitle-wrapper">
    <p class="govuk-body app-u-multiline-text" data-qa="goal-summary-card-goal-title">{{ params.goal.title }}</p>
  </div>

  {% include './_goalSummaryCardContent-goalInStatus-' ~ params.goal.status ~ '.njk' %}

</div>
