<table class="govuk-table" data-module="moj-sortable-table" data-qa="completed-courses-sortable-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Type</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Location</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Start date</th>
      <th scope="col" class="govuk-table__header" aria-sort="descending">Completed on</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Grade or outcome</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    {% for course in completedCourses %}
      {% set prisonName = prisonNamesById[course.prisonId] | default(course.prisonId) %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" data-qa="course-name">{{ course.courseName }}</td>
        <td class="govuk-table__cell">{{ course.isAccredited | formatIsAccredited }}</td>
        <td class="govuk-table__cell">{{ prisonName }}</td>
        <td class="govuk-table__cell" data-sort-value="{{ course.courseStartDate | formatDate('yyyyMMyy') }}">{{ course.courseStartDate | formatDate('d MMMM yyyy') }}</td>
        <td class="govuk-table__cell" data-sort-value="{{ course.courseCompletionDate | formatDate('yyyyMMyy') }}">{{ course.courseCompletionDate | formatDate('d MMMM yyyy') }}</td>
        <td class="govuk-table__cell">{{ course.grade }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
