{# Nunjucks template to display the prisoner's in-prison courses and qualifications when linked to from DPS
   The differences between this view and it's PLP equivalent are:
     * The breadcrumbs are different and do not link back to the prisoners PLP
     * There is no prisoner banner
     * The main page h1 does not include 'Learning and work progress'
     * There is a link back to the prisoner's DPS profile at the bottom of the page
#}
{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Prisoner's in-prison courses and qualifications" %}

{% set pageId = "in-prison-courses-and-qualifications" %}

{% block beforeContent %}
  <nav class="govuk-breadcrumbs govuk-!-display-none-print" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{ dpsUrl }}">Digital Prison Services</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{ dpsUrl }}/prisoner/{{ prisonerSummary.prisonNumber }}" data-id="breadcrumbs-prisoner-{{ prisonerSummary.prisonNumber }}">{{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }}</a>
      </li>
    </ol>
  </nav>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters app-u-print-full-width">
      <h1 class="govuk-heading-l">{{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }}'s in-prison courses and qualifications</h1>
    </div>
    <div class="govuk-grid-column-one-quarter">
      {% include "../../partials/printThisPage.njk" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if not problemRetrievingData %}

        {% set curiousHelpText %}
          Information from Curious. This only includes educational courses. Contact the local education team to find out more.
        {% endset %}

        {% set completedCoursesHtml %}
          <p class="govuk-hint">{{ curiousHelpText }}</p>
          {% if completedCourses.length > 0 %}
            <h2 class="govuk-heading-m">Completed courses</h2>
            {% include './_completedCoursesTable.njk' %}
          {% else %}
            <p class="govuk-body" data-qa="no-completed-courses-message">{{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }} has not completed any courses.</p>
          {% endif %}
        {% endset -%}

        {% set inProgressCoursesHtml %}
          <p class="govuk-hint">{{ curiousHelpText }}</p>
          {% if inProgressCourses.length > 0 %}
            <h2 class="govuk-heading-m">Current courses</h2>
            {% include './_inProgressCoursesTable.njk' %}
          {% else %}
            <p class="govuk-body" data-qa="no-in-progress-courses-message">{{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }} is not currently doing any courses.</p>
          {% endif %}
        {% endset -%}

        {% set withdrawnCoursesHtml %}
          <p class="govuk-hint">{{ curiousHelpText }}</p>
          {% if withdrawnCourses.length > 0 %}
            <h2 class="govuk-heading-m">Withdrawn courses</h2>
            {% include './_withdrawnCoursesTable.njk' %}
          {% else %}
            <p class="govuk-body" data-qa="no-withdrawn-courses-message">{{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }} has no withdrawn courses.</p>
          {% endif %}
        {% endset -%}

        {{ govukTabs({
          items: [
            {
              label: "Completed (" + completedCourses.length + " course" + ("s" if completedCourses.length !== 1) + ")",
              id: "completed-courses",
              panel: {
                html: completedCoursesHtml
              }
            },
            {
              label: "In progress (" + inProgressCourses.length + " course" + ("s" if inProgressCourses.length !== 1) + ")",
              id: "in-progress-courses",
              panel: {
                html: inProgressCoursesHtml
              }
            },
            {
              label: "Withdrawn (" + withdrawnCourses.length + " course" + ("s" if withdrawnCourses.length !== 1) + ")",
              id: "withdrawn-courses",
              panel: {
                html: withdrawnCoursesHtml
              }
            }
          ]
        }) }}

      {% else %}

        <h2 class="govuk-heading-m" data-qa="curious-unavailable-message">We cannot show these details from Curious right now</h2>
        <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>

      {% endif %}

      <p class="govuk-body">
        <a class="govuk-link" href="{{ dpsUrl }}/prisoner/{{ prisonerSummary.prisonNumber }}">Return to prisoner profile</a>
      </p>
    </div>
  </div>

{% endblock %}
