{% extends "../../partials/layout.njk" %}
{% from "./macros/sortableTable.njk" import sortableTable %}

{% set pageTitle = "Prisoner's in-prison courses and qualifications" %}

{% set pageId = "in-prison-courses-and-qualifications" %}

{% block beforeContent %}
  <nav class="govuk-breadcrumbs govuk-!-display-none-print" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{ dpsUrl }}">Digital Prison Services</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{ prisonerListUrl }}">Manage learning and work progress</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/plan/{{ prisonerSummary.prisonNumber }}/view/education-and-training">{{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }}'s learning and work progress</a>
      </li>
    </ol>
  </nav>
{% endblock %}

{% block content %}

  {% include "../../partials/prisonerBanner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters app-u-print-full-width">
      <span class="govuk-caption-l">Learning and work progress</span>
      <h1 class="govuk-heading-l">{{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }}'s in-prison courses and qualifications</h1>
    </div>
    <div class="govuk-grid-column-one-quarter">
      {% include "../../partials/printThisPage.njk" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if not problemRetrievingData %}

        {% set curiousHelpText %}
          Information from Curious. This only includes educational courses. Contact the local education team to find out more.
        {% endset %}

        {% set completedCoursesHtml %}
          <p class="govuk-hint">{{ curiousHelpText }}</p>
          {% if completedCourses.length > 0 %}
            <h2 class="govuk-heading-m">Completed courses</h2>
            {{ sortableTable({
              id: "completed-courses",
              courses: completedCourses,
              courseStatus: "COMPLETED"
            }) }}
          {% else %}
            <p class="govuk-body" data-qa="no-completed-courses-message">{{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }} has not completed any courses.</p>
          {% endif %}
        {% endset -%}

        {% set inProgressCoursesHtml %}
          <p class="govuk-hint">{{ curiousHelpText }}</p>
          {% if inProgressCourses.length > 0 %}
            <h2 class="govuk-heading-m">Current courses</h2>
            {{ sortableTable({
              id: "in-progress-courses",
              courses: inProgressCourses,
              courseStatus: "IN_PROGRESS"
            }) }}
          {% else %}
            <p class="govuk-body" data-qa="no-in-progress-courses-message">{{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }} is not currently doing any courses.</p>
          {% endif %}
        {% endset -%}

        {% set withdrawnCoursesHtml %}
          <p class="govuk-hint">{{ curiousHelpText }}</p>
          {% if withdrawnCourses.length > 0 %}
            <h2 class="govuk-heading-m">Withdrawn courses</h2>
            {{ sortableTable({
              id: "withdrawn-courses",
              courses: withdrawnCourses,
              courseStatus: "WITHDRAWN"
            }) }}
          {% else %}
            <p class="govuk-body" data-qa="no-withdrawn-courses-message">{{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }} has no withdrawn courses.</p>
          {% endif %}
        {% endset -%}

        {{ govukTabs({
          items: [
            {
              label: "Completed (" + completedCourses.length + " course" + ("s" if completedCourses.length !== 1) + ")",
              id: "completed-courses",
              panel: {
                html: completedCoursesHtml
              }
            },
            {
              label: "In progress (" + inProgressCourses.length + " course" + ("s" if inProgressCourses.length !== 1) + ")",
              id: "in-progress-courses",
              panel: {
                html: inProgressCoursesHtml
              }
            },
            {
              label: "Withdrawn ([X] courses)",
              id: "withdrawn-courses",
              panel: {
                html: withdrawnCoursesHtml
              }
            }
          ]
        }) }}

      {% else %}

        <h2 class="govuk-heading-m" data-qa="curious-unavailable-message">We cannot show these details from Curious right now</h2>
        <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>

      {% endif %}
    </div>
  </div>

{% endblock %}
