{% set sortDirection = config.sortOrder if config.sortBy === config.fieldName else 'none' %} {# If this column header is the current sortBy field then use the current sort order value, else `none`#}
<th scope="col" class="govuk-table__header"
    aria-sort="{{ sortDirection }}"
    data-qa="{{ config.fieldName }}-column-header">

  {# Set a variable defining the new sort order that will be used if this header is clicked.
     If this column header is the current sortBy field then use the opposite of the current sort order.
     If this column header is not the current sortBy field then use `ascending`
  #}
  {%- set newSortOrder -%}
    {%- if config.sortBy !== config.fieldName -%}
      ascending
    {%- else -%}
      {{- 'ascending' if config.sortOrder === 'descending' else 'descending' -}}
    {%- endif -%}
  {%- endset -%}

  <button
    {# Button submits the form with the field `sort` set to a comma delimited value of the field name and the new sort order #}
    name="sort"
    value="{{ config.fieldName }},{{ newSortOrder }}"
    type="submit"
    data-prevent-double-click="true"
    data-module="govuk-button"
  >
    {{ config.headerText }}

    {% if sortDirection === 'descending' %}
      <svg width="22" height="22" focusable="false" aria-hidden="true" role="img" vviewbox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.4375 7L11 15.8687L6.5625 7L15.4375 7Z" fill="currentColor"></path>
      </svg>
    {% elseif sortDirection === 'ascending' %}
      <svg width="22" height="22" focusable="false" aria-hidden="true" role="img" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.5625 15.5L11 6.63125L15.4375 15.5H6.5625Z" fill="currentColor"></path>
      </svg>
    {% else %}
      <svg width="22" height="22" focusable="false" aria-hidden="true" role="img" vviewbox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.1875 9.5L10.9609 3.95703L13.7344 9.5H8.1875Z" fill="currentColor"></path>
        <path d="M13.7344 12.0781L10.9609 17.6211L8.1875 12.0781H13.7344Z" fill="currentColor"></path>
      </svg>
    {% endif %}
  </button>
</th>
