{% extends "../../../../partials/layout.njk" %}

{% set pageTitle = "Add a note to this review" %}

{% set pageId = "review-plan-review-note" %}

{% block beforeContent %}
   {{ govukBackLink({
    text: "Back",
    href: "#",
    classes: "js-back-link"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" data-qa="page-heading">Add a note to this review</h1>
        {{ govukWarningText({
          text: "This note will not be sent to case notes",
          iconFallbackText: "Warning",
          attributes: {"data-qa": "warning-text"}
        }) }}
        <p class="govuk-body" data-qa="first-paragraph">To help allocations, referrals, and personal development include any details of:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8" data-qa="unordered-list">
          <li>reviewing pathways based on skills, aspirations, and the activities available in your prison if the prisoner has transferred</li>
          <li>helping them develop their CV and disclosure letters</li>
          <li>referring and signposting them to other organisations to find employment - specify which ones</li>
          <li>supporting the learning and skills manager and prison employment lead</li>
          <li>any CIAG programme content provided - specify the type and subject, like job fairs, recruitment events, mock interviews, employer presentations (for example on application tips or career and sector awareness)</li>
        </ul>

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {{ govukTextarea({
            name: "notes",
            id: "notes",
            value: form.notes,
            label: {
              text: "Add a note to this review",
              classes: "govuk-visually-hidden"
            },
            errorMessage: errors | findError('notes'),
            attributes: {"data-qa": "notes"}
          }) }}

        </div>

        {{ govukButton({
          id: "submit-button",
          text: "Continue",
          type: "submit",
          attributes: {"data-qa": "submit-button"},
          preventDoubleClick: true
        }) }}
      </form>

    </div>
  </div>
{% endblock %}

