{% extends "../../../partials/layout.njk" %}

{% set pageId = "review" %}
{% set pageTitle = applicationName + " - Home" %}

{% block beforeContent %}
  {% include "../../../partials/breadcrumb.njk" %}
{% endblock %}

{% block content %}

  {% include "../../../partials/prisonerBanner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Review {{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }}'s goals</h1>

      {% for goal in goals %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">{{ goal.title }}</h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            {% for step in goal.steps %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Step {{ step.sequenceNumber }}
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ step.title }}
                </dd>
              </div>
            {% endfor %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Note
              </dt>
              <dd class="govuk-summary-list__value">
                {{ goal.note }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
      {% endfor %}

      <form class="form" method="post" novalidate="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {% if featureToggles.addMultipleGoalsEnabled %}
          <div class="govuk-form-group">
            {{ govukButton({
              id: "add-another-goal-button",
              name: "action",
              value: "add-another-goal",
              text: "Add another goal",
              classes: "govuk-button--secondary"
            }) }}
          </div>
        {% endif %}

        {{ govukButton({
          id: "submit-button",
          name: "submit-button",
          value: "submit-form",
          text: "Save to learning and work progress plan"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
