{% extends "../../../partials/layout.njk" %}

{% set pageId = "review" %}
{% set pageTitle = "Check prisoner's goals" %}

{% block beforeContent %}
  {% include "../../../partials/breadcrumb.njk" %}
{% endblock %}

{% block content %}

  {% include "../../../partials/prisonerBanner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Check {{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }}'s goals</h1>

      {% for goal in goals %}
      {% set goalLoop = loop %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Goal {{ goalLoop.index }}</h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Description
              </dt>
              <dd class="govuk-summary-list__value" data-qa="goal-{{ goalLoop.index }}-description-value">
                {{ goal.title }}
              </dd>
              {% if featureToggles.newCreateGoalRoutesEnabled %}
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/plan/{{ prisonerSummary.prisonNumber }}/goals/{{ goalLoop.index }}/create?mode=edit" data-qa="change-goal-{{ goalLoop.index }}-description">
                  Change<span class="govuk-visually-hidden"> description for goal {{ goalLoop.index }}</span>
                </a>
              </dd>
              {% endif %}
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                When are they aiming to achieve this by?
              </dt>
              <dd class="govuk-summary-list__value" data-qa="goal-{{ goalLoop.index }}-target-date-value">
                by {{ goal.targetCompletionDate | formatDate('D MMMM YYYY') }}
              </dd>
              {% if featureToggles.newCreateGoalRoutesEnabled %}
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/plan/{{ prisonerSummary.prisonNumber }}/goals/{{ goalLoop.index }}/create?mode=edit" data-qa="change-goal-{{ goalLoop.index }}-target-date">
                  Change<span class="govuk-visually-hidden"> when are they aiming to achieve this by for goal {{ goalLoop.index }}</span>
                </a>
              </dd>
              {% endif %}
            </div>
            {% for step in goal.steps %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Step {{ step.sequenceNumber }}
                </dt>
                <dd class="govuk-summary-list__value" data-qa="goal-{{ goalLoop.index }}-step-{{ step.sequenceNumber }}-value">
                  {{ step.title }}
                </dd>
                {% if featureToggles.newCreateGoalRoutesEnabled %}
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/plan/{{ prisonerSummary.prisonNumber }}/goals/{{ goalLoop.index }}/add-step/{{ step.sequenceNumber }}?mode=edit" data-qa="change-goal-{{ goalLoop.index }}-step-{{ step.sequenceNumber }}">
                    Change<span class="govuk-visually-hidden"> goal {{ goalLoop.index }} step {{ step.sequenceNumber }} step title</span>
                  </a>
                </dd>
                {% endif %}
              </div>
            {% endfor %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Note
              </dt>
              <dd class="govuk-summary-list__value" data-qa="goal-{{ goalLoop.index }}-note-value">
                {{ goal.note }}
              </dd>
              {% if featureToggles.newCreateGoalRoutesEnabled %}
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/plan/{{ prisonerSummary.prisonNumber }}/goals/{{ goalLoop.index }}/add-note?mode=edit" data-qa="change-goal-{{ goalLoop.index }}-note">
                    Change<span class="govuk-visually-hidden"> goal {{ goalLoop.index }} note</span>
                  </a>
                </dd>
                {% endif %}
            </div>
          </dl>
        </div>
      </div>
      {% endfor %}

      <form class="form" method="post" novalidate="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          <div class="govuk-form-group">
            {{ govukButton({
              id: "add-another-goal-button",
              name: "action",
              value: "add-another-goal",
              text: "Add another goal",
              classes: "govuk-button--secondary"
            }) }}
          </div>

          {{ govukButton({
            id: "submit-button",
            name: "submit-button",
            value: "submit-form",
            text: "Save to learning and work progress plan"
          }) }}

      </form>

    </div>
  </div>
{% endblock %}
