{% extends "../../../partials/layout.njk" %}

{% set pageId = "review" %}
{% set pageTitle = applicationName + " - Home" %}

{% block beforeContent %}
  {% include "../../../partials/breadCrumb.njk" %}
{% endblock %}

{% block content %}

  {% include "../../../partials/prisonerBanner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Review {{ prisonerSummary.firstName | capitalize }} {{ prisonerSummary.lastName | capitalize }}'s goals</h1>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">{{ data.title }}</h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            {% for step in data.steps %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Step {{ step.sequenceNumber }}
              </dt>
              <dd class="govuk-summary-list__value">
                {{ step.title }} ({{ step.targetDateRange | formatDateFormValue }})
              </dd>
            </div>
            {% endfor %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Note
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data.note }}
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <form class="form" method="post" novalidate="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{ govukButton({
          id: "submit-button",
          name: "submit-button",
          text: "Save to learning and work progress plan"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
