{% extends "../../../partials/layout.njk" %}

{% set pageId = "induction-in-prison-work" %}
{% set title = "What type of work would " + prisonerSummary.firstName + " " + prisonerSummary.lastName + " like to do in prison?" %}
{% set pageTitle = title %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{#
  Data supplied to this template:
    * prisonerSummary - object with firstName and lastName
    * backLinkUrl - url of the back link
    * backLinkAriaText - the aria label for the back link
    * form - form object containing the following fields:
      * inPrisonWork - Array of selected in-prison work options
      * inPrisonWorkOther? - value for when Other is selected
    * errors? - validation errors
#}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: backLinkUrl, attributes: { "aria-label" : backLinkAriaText } }) }}
{% endblock %}

{% block content %}

  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% set otherHtml %}
            {{ govukTextarea({
              id: "inPrisonWorkOther",
              name: "inPrisonWorkOther",
              rows: "2",
              value: form.inPrisonWorkOther,
              type: "text",
              label: {
                text: "Give details",
                attributes: { "aria-live": "polite" }
              },
              attributes: { "aria-label" : "Give details of any work " + prisonerSummary.firstName + " " + prisonerSummary.lastName + " would like to do in prison?" },
              errorMessage: errors | findError('inPrisonWorkOther')
            }) }}
          {% endset -%}

          {% set formItemValues = [] %}

          {% for formItemValue in formValues %}
            {% set formItemValues = (formItemValues.push({
              "value": formItemValue.value,
              "text": formItemValue.text,
              "checked": formItemValue.checked
              }), formItemValues)
            %}
          {% endfor %}

          {% set formItemValues = (formItemValues.push({
              "value": "other",
              "text": "Other",
              "conditional": {
                "html": otherHtml
              }
            }), formItemValues)
          %}

          {{ govukCheckboxes({
            name: "inPrisonWork",
            fieldset: {
              legend: {
                  text: title,
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
              text: "Select all that apply."
            },
            items: formItemValues,
            errorMessage: errors | findError('inPrisonWork')
          }) }}

        </div>

        {{ govukButton({
            text: "Continue",
            type: "submit",
            attributes: {"data-qa": "submit-button"}
          }) }}
      </form>
    </div>
  </div>

{% endblock %}
