
<div class="govuk-summary-card actions-card govuk-!-display-none-print" data-qa="actions-card">
  <div class="govuk-summary-card__title-wrapper govuk-!-padding-bottom-2">
    <h2 class="govuk-summary-card__title govuk-!-font-size-24">Actions</h2>
  </div>

  {# Review based actions #}
  {% set showReviewActions = not induction.problemRetrievingData and induction.isPostInduction and not actionPlanReviews.problemRetrievingData and reviewJourneyEnabledForPrison %}
  {% if showReviewActions %}
    <div class="govuk-summary-card__content govuk-!-padding-bottom-0 govuk-!-padding-top-2">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Reviews</h3>
      {% if actionPlanReview.reviewStatus == 'ON_TIME' %}
        <span class="govuk-tag govuk-tag--grey govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-qa="review-on-time">
          Review due by {{ actionPlanReview.reviewDueDate | formatDate('D MMM YYYY') }}
        </span>
      {% elseif actionPlanReview.reviewStatus == 'DUE' %}
        <span class="govuk-tag govuk-tag--yellow govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-qa="review-due">
          Review due by {{ actionPlanReview.reviewDueDate | formatDate('D MMM YYYY') }}
        </span>
      {% elseif actionPlanReview.reviewStatus == 'OVERDUE' %}
        <span class="govuk-tag govuk-tag--red govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-qa="review-overdue">
          Review was due by {{ actionPlanReview.reviewDueDate | formatDate('D MMM YYYY') }}
        </span>
      {% elseif actionPlanReview.reviewStatus == 'NO_SCHEDULED_REVIEW' %}
        <span class="govuk-tag govuk-tag--grey govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-qa="no-reviews-due">
          No reviews due
        </span>
        <p class="govuk-body" data-qa="release-on">
          release on {{ prisonerSummary.releaseDate | formatDate('D MMM YYYY') }}
        </p>
      {% endif %}

      <ul class="govuk-list govuk-!-margin-0">
        {% if actionPlanReview.reviewStatus != 'NO_SCHEDULED_REVIEW' %}
          {% if hasEditAuthority %}
            <li class="govuk-!-padding-top-2 govuk-!-padding-bottom-3">
              <a class="govuk-link" href="/plan/{{ prisonerSummary.prisonNumber }}/review" data-qa="mark-review-complete-button">
                <img src="/assets/images/icon-mark-review-complete.svg" alt="" role="presentation" class="action-icon">
                Mark review as complete
              </a>
            </li>
          {% endif %}
          {% if hasEditAuthority %}
            <li class="govuk-!-padding-top-2 govuk-!-padding-bottom-3">
              <a class="govuk-link" href="/plan/{{ prisonerSummary.prisonNumber }}/review/exemption" data-qa="record-exemption-button">
                <img src="/assets/images/icon-record-exemption.svg" alt="" role="presentation" class="action-icon">
                Record exemption for this prisoner
              </a>
            </li>
            {% endif %}
        {% endif %}
      </ul>
    </div>
  {% endif %}

  {# Goals based actions #}
  <div class="govuk-summary-card__content govuk-!-padding-bottom-0 govuk-!-padding-top-2">
    {% if reviewJourneyEnabledForPrison %}
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Goals</h3>
    {% endif %}
    <ul class="govuk-list govuk-!-margin-0">
      {% if hasEditAuthority %}
        <li class="govuk-!-margin-0 govuk-!-padding-bottom-3 govuk-!-padding-top-3">
          <a class="govuk-link" data-qa="add-goal-button" href="/plan/A5502DZ/goals/create">
            <span>
              <img src="/assets/images/icon-goal.svg" role="presentation" alt="" class="action-icon">
              Add a new goal
            </span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
