{# Template to render the prisoner's list of Goals on the Overview tab #}

{% for goal in goalsOrProblem.goals %}
  <div class="govuk-summary-card" data-qa="goal-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h3 class="govuk-summary-card__title">Goal {{ goal.sequenceNumber }}
        <span class="govuk-caption-m">Created on {{ goal.createdAt | formatDate('D MMMM YYYY') }}<span class="govuk-!-display-none-print"> by {{ goal.createdByDisplayName }}</span>,
        <br> aiming to achieve this <strong>by {{ goal.targetCompletionDate | formatDate('D MMMM YYYY') }}</strong></span>
      </h3>
      <ul class="govuk-summary-card__actions govuk-!-display-none-print">
        {% if hasEditAuthority %}
          {% if tab === 'overview' %}
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="/plan/{{ prisonerSummary.prisonNumber }}/goals/{{ goal.goalReference }}/update" data-qa="goal-{{ goal.sequenceNumber }}-update-button">Update<span class="govuk-visually-hidden"> goal {{ goal.sequenceNumber }}</span></a>
            </li>
            {%- if featureToggles.goals.archiveEnabled -%}
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="/plan/{{ prisonerSummary.prisonNumber }}/goals/{{ goal.goalReference }}/archive" data-qa="goal-{{ goal.sequenceNumber }}-archive-button">Archive<span class="govuk-visually-hidden"> goal {{ goal.sequenceNumber }}</span></a>
              </li>
            {% endif %}
          {% endif %}
          {% if tab === 'view-archived-goals' and featureToggles.goals.archiveEnabled %}
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="/plan/{{ prisonerSummary.prisonNumber }}/goals/{{ goal.goalReference }}/unarchive" data-qa="goal-{{ goal.sequenceNumber }}-unarchive-button">Reactivate<span class="govuk-visually-hidden"> goal {{ goal.sequenceNumber }}</span></a>
            </li>
          {% endif %}
        {% endif %}
      </ul>
    </div>
    <div class="govuk-summary-card__content">
      <p class="govuk-body app-u-multiline-text">{{ goal.title }}</p>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-visually-hidden">Goal {{ goal.sequenceNumber }} steps</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-u-width-60">Steps</th>
          <th scope="col" class="govuk-table__header app-u-width-20">Status</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">

        {% for step in goal.steps %}

          {% if step.status == "COMPLETE" %}
            {% set tagClass = "govuk-tag--green" %}
            {% elif step.status == "ACTIVE" %}
            {% set tagClass = "govuk-tag--blue" %}
          {% else %}
            {% set tagClass = "govuk-tag--grey" %}
          {% endif %}

          <tr class="govuk-table__row">
            <td class="govuk-table__cell app-u-multiline-text">{{ step.sequenceNumber }}. {{ step.title }}</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag {{ tagClass }}">
                {{ step.status | formatStepStatusValue }}
              </strong>
            </td>
          </tr>
        {% endfor %}

        </tbody>
      </table>

      {% if goal.note %}
        <details class="govuk-details app-notes-expander" data-qa="overview-notes-expander-{{ goal.sequenceNumber }}">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              View note<span class="govuk-visually-hidden"> for Goal {{ goal.sequenceNumber }}</span>
            </span>
          </summary>
          <div class="govuk-details__text">
            <span class="app-u-multiline-text">{{ goal.note }}</span>
          </div>
        </details>
      {% endif %}

    </div>
  </div>

{% endfor %}
