<div id="problem-retrieving-goals-message">
    <h2 class="govuk-heading-m">Sorry, the service is currently unavailable.</h2>
    <p class="govuk-body">
        Retrieving goals is currently unavailable. Please try again later.
    </p>
</div>