{% if not completedInPrisonEducation.problemRetrievingData %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">In-prison qualifications and achievements</h2>
        </div>
        <div class="govuk-summary-card__content">
          <table class="govuk-table" id="completed-in-prison-qualifications-table">
            <caption class="govuk-table__caption govuk-visually-hidden">Details in-prison qualifications and achievement that have been completed</caption>

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Completed on</th>
                <th scope="col" class="govuk-table__header">Grade or outcome</th>
              </tr>
            </thead>

            <tbody class="govuk-table__body">
            {% if completedInPrisonEducation.educationRecords.length > 0 %}
              {% for completedQualification in completedInPrisonEducation.educationRecords %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">{{ completedQualification.courseName }}</td>
                  <td class="govuk-table__cell">{{ completedQualification.courseCompletionDate | formatDate('D MMMM YYYY') }}</td>
                  <td class="govuk-table__cell">{{ completedQualification.grade if completedQualification.grade else 'N/A' }}</td>
                </tr>
              {% endfor %}
            {% else %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" colspan="3">
                  {{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }} has no recorded in-prison qualifications and achievements.
                </td>
              </tr>
            {% endif %}
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

{% else %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Sorry, the Curious service is currently unavailable.</h2>
      <p class="govuk-body">
        Retrieving data from Curious is currently unavailable. Please try again later. Other functions within
        this service may still be available.
      </p>
    </div>
  </div>

{% endif %}
