{% include './educationAndTrainingFunctionalSkills.njk' %}
{% include './educationAndTrainingInPrisonQualifications.njk' %}
{% if featureToggles.otherQualificationsEnabled %}
  {% include './educationAndTrainingOtherQualifications.njk' %}
{% endif %}
