{% if not otherQualifications.problemRetrievingData %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Other qualifications and history</h2>
        </div>
        <div class="govuk-summary-card__content">
          <table class="govuk-table" id="other-qualifications-table">
            <caption class="govuk-table__caption govuk-visually-hidden">Details other qualifications and training that have been completed</caption>

            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Highest level of education</td>
                <td class="govuk-table__cell">{{ otherQualifications.highestEducationLevel }}</td>
              </tr>
            </tbody>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Other training or qualifications</td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  {% for additionalTraining in otherQualifications.additionalTraining %}
                    <li>{{ additionalTraining }}</li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>

{% else %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Sorry, the CIAG Induction service is currently unavailable.</h2>
      <p class="govuk-body">
        Retrieving data from CIAG Induction service is currently unavailable. Please try again later. Other functions
        within this service may still be available.
      </p>
    </div>
  </div>

{% endif %}