{% include './educationAndTrainingFunctionalSkills.njk' %}
{% include './educationAndTrainingInPrisonQualifications.njk' %}
{% if featureToggles.prePrisonQualificationsEnabled %}
  {% include './educationAndTrainingPrePrisonQualifications.njk' %}
{% endif %}
