<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper app-summary-card__title-wrapper--white">
    <h2 class="govuk-summary-card__title">Current functional skills</h2>
  </div>
  <div class="govuk-summary-card__content">

    {% if not functionalSkills.problemRetrievingData %}
      <table class="govuk-table govuk-!-margin-bottom-0" id="functional-skills-sidebar-table">
        <caption class="govuk-table__caption govuk-visually-hidden">Functional skills and assessment information</caption>
        <thead class="govuk-table__head govuk-visually-hidden">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Skill and assessment date</th>
            <th scope="col" class="govuk-table__header">Assessment level</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for skill in functionalSkills.assessments %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              {{ skill.type | formatFunctionalSkillType }}
              {% if skill.assessmentDate %}
              <br>
              <span class="govuk-body-s">Assessed on {{ skill.assessmentDate | formatDate('D MMMM YYYY') }}</span>
              {% endif %}
            </th>
            <td class="govuk-table__cell">
              {% if skill.grade %}{{ skill.grade }}{% else %}No functional skills assessment recorded{% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="govuk-body govuk-!-margin-top-2 govuk-!-display-none-print">
        <a class="govuk-link" href="../functional-skills" data-qa="view-all-functional-skills-button">View all <span class="govuk-visually-hidden">functional skills</span></a>
      </p>
    {% else %}
      <h2 class="govuk-heading-m" data-qa="functional-skills-sidebar-error-heading">Sorry, the Curious service is currently unavailable.</h2>
      <p class="govuk-body">
        Retrieving data from Curious is currently unavailable. Please try again later. Other functions within
        this service may still be available.
      </p>
    {% endif %}
  </div>
</div>
