{% if not actionPlan.problemRetrievingData %}

  <div class="moj-page-header-actions">

    <div class="moj-page-header-actions__title">
      <h2 class="govuk-heading-m">Goals in progress</h2>
    </div>

    {% if hasEditAuthority %}

      <div class="moj-page-header-actions__actions">
        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">

            {{ govukButton({
              text: "Add a new goal",
              href: "/plan/" + prisonNumber + "/goals/create",
              id: "add-goal-button",
              classes: "moj-button-menu__item moj-page-header-actions__action govuk-!-display-none-print"
            }) }}

          </div>
        </div>
      </div>

    {% endif %}

  </div>

  {% for goal in actionPlan.goals %}
    <div class="govuk-summary-card" data-qa="goal-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Goal {{ loop.index }}</h2>
        <ul class="govuk-summary-card__actions govuk-!-display-none-print">
          {% if hasEditAuthority %}
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="/plan/{{ prisonerSummary.prisonNumber }}/goals/{{ goal.goalReference }}/update" data-qa="goal-{{ loop.index-1 }}-update-button">Update</a>
            </li>
            {# Not MVP, Jira to created for archiving goals
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="goal-inactive-alert">Archive</a>
                </li>
            #}
          {% endif %}
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <p class="govuk-body">{{ goal.title }}</p>
        <p class="govuk-hint">Created on {{ goal.createdAt | formatDate('DD MMMM YYYY') }}
          <span class="govuk-!-display-none-print">by {{ goal.createdByDisplayName }}</span></p>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-visually-hidden">Goal {{ loop.index }} steps</caption>
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-u-width-60">Steps</th>
            <th scope="col" class="govuk-table__header app-u-width-20">Target date</th>
            <th scope="col" class="govuk-table__header app-u-width-20">Status</th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">

          {% for step in goal.steps %}

            {% if step.status == "COMPLETE" %}
              {% set tagClass = "govuk-tag--green" %}
              {% elif step.status == "ACTIVE" %}
              {% set tagClass = "govuk-tag--blue" %}
            {% else %}
              {% set tagClass = "govuk-tag--grey" %}
            {% endif %}

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ step.sequenceNumber }}. {{ step.title }}</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag {{ tagClass }}">
                  {{ step.status | formatStepStatusValue }}
                </strong>
              </td>
            </tr>
          {% endfor %}

          </tbody>
        </table>

        {% if goal.note %}
          {{ govukDetails({
            summaryHtml: "View note<span class='govuk-visually-hidden'> for Goal " + loop.index + "</span>",
            text: goal.note,
            attributes: {
              "data-qa": "overview-notes-expander-" + loop.index
            },
            classes: "app-notes-expander"
          }) }}
        {% endif %}

      </div>
    </div>

  {% endfor %}

{% else %}
  <h2 class="govuk-heading-m">Sorry, the service is currently unavailable.</h2>
  <p class="govuk-body">
    Retrieving goals is currently unavailable. Please try again later.
  </p>
{% endif %}
