<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include './overviewTabActionPlanColumn.njk' %}
  </div>

  <div class="govuk-grid-column-one-third">
    {% include './functionalSkillsSidebar.njk' %}
    {# TODO - uncomment as part of RR-179
    {% include './qualificationsAndAchievementsSidebar.njk' %}
    #}
  </div>

</div>
