<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="moj-page-header-actions">
  
      <div class="moj-page-header-actions__title">
        <h2 class="govuk-heading-m">Goals</h2>
      </div>

      <div class="moj-page-header-actions__actions">
        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">

            {% if hasEditAuthority %}
              {{ govukButton({
                text: "Add a new goal",
                href: "/plan/" + prisonNumber + "/goals/create",
                id: "add-goal-button",
                classes: "moj-page-header-actions__action"
              }) }}
            {% endif %}

          </div>
        </div>
      </div>

    </div>


  </div>
</div>
