<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper app-summary-card__title-wrapper--white">
    <h2 class="govuk-summary-card__title">Latest qualifications and achievements</h2>
  </div>
  <div class="govuk-summary-card__content">
    
    {% if not functionalSkills.problemRetrievingData %}
      <table class="govuk-table govuk-!-margin-bottom-0" id="qualifications-achievements-sidebar-table">
        <caption class="govuk-table__caption govuk-visually-hidden">Latest qualifications and achievements information</caption>
        <thead class="govuk-table__head govuk-visually-hidden">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Skill and assessment date</th>
            <th scope="col" class="govuk-table__header">Assessment level</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {# TODO: Handle the for loop through data #}
          {# {% for skill in functionalSkills.assessments %} #}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              {# TODO: Check if there is a date before displaying it #}
              {# {% if skill.assessmentDate %} #}
              {# TODO: Populate and format the date #}
              <span class="govuk-body-s">Completed on [Date]</span>
              <br>
              {# {% endif %} #}
              {# TODO: Populate and format the qualification or achievement title #}
              [Qualification]
            </th>
          </tr>
          {# {% endfor %} #}
        </tbody>
      </table>
      <p class="govuk-body govuk-!-margin-top-2">
        <a class="govuk-link" href="../functional-skills" data-qa="view-all-qualifications-achievements-button">View all <span class="govuk-visually-hidden">qualifications and achievements</span></a>
      </p>
    {% else %}
      <h2 class="govuk-heading-m" data-qa="qualifications-achievements-sidebar-error-heading">Sorry, the Curious service is currently unavailable.</h2>
      <p class="govuk-body">
        Retrieving data from Curious is currently unavailable. Please try again later. Other functions within
        this service may still be available.
      </p>
    {% endif %}
  </div>
</div>
