<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Work experience</h2>
      </div>
      <div class="govuk-summary-card__content">

      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Work interests</h2>
      </div>
      <div class="govuk-summary-card__content">

      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Skills and interests</h2>
      </div>
      <div class="govuk-summary-card__content">

      </div>
    </div>

  </div>
</div>