<h2 class="govuk-heading-m govuk-!-margin-top-2 govuk-!-margin-bottom-6">Qualifications and training</h2>

{% if inductionDto.previousQualifications.qualifications | length > 0 %}

  <div class="app-u-heading-with-change-link">
    <h3 class="govuk-heading-s govuk-!-margin-top-2 govuk-!-margin-bottom-3">
      Educational qualifications
    </h3>
    <span class="govuk-body-m">
      <a class="govuk-link" href="qualifications" data-qa="qualificationsLink">Change<span class="govuk-visually-hidden"> their educational qualifications</span></a>
    </span>
  </div>

  <table class="govuk-table govuk-!-margin-bottom-6" data-qa="educational-qualifications-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Level</th>
        <th scope="col" class="govuk-table__header">Subject</th>
        <th scope="col" class="govuk-table__header">Grade</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for item in inductionDto.previousQualifications.qualifications %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-qa="educational-qualification-level">{{ item.level | formatQualificationLevel }}</td>
          <td class="govuk-table__cell" data-qa="educational-qualification-subject">{{ item.subject }}</td>
          <td class="govuk-table__cell" data-qa="educational-qualification-grade">{{ item.grade }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endif %}

<h3 class="govuk-heading-s govuk-!-margin-top-2 govuk-!-margin-bottom-3">Other qualifications and history</h3>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-quarter ">
      Highest level of education before prison
    </dt>
    <dd class="govuk-summary-list__value" data-qa="highestLevelOfEducation-{{ inductionDto.previousQualifications.educationLevel }}">
      {{ inductionDto.previousQualifications.educationLevel | formatEducationLevel if inductionDto.previousQualifications.educationLevel }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="highest-level-of-education" data-qa="educationLevelLink">
        Change<span class="govuk-visually-hidden"> highest level of education before prison</span>
      </a>
    </dd>
  </div>

  {% if inductionDto.previousQualifications.qualifications | length === 0 %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-quarter ">
        Has educational qualifications they want recorded
      </dt>
      <dd class="govuk-summary-list__value" data-qa="wantsToAddQualifications">
        No
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" href="want-to-add-qualifications" data-qa="wantsToAddQualificationsLink">
          Change<span class="govuk-visually-hidden"> whether they want to add qualifications</span>
        </a>
      </dd>
    </div>
  {% endif %}

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
      Other training or qualifications
    </dt>
    <dd class="govuk-summary-list__value" data-qa="additionalTraining">
      {% for item in inductionDto.previousTraining.trainingTypes %}
        <div data-qa="additionalTraining-{{ item }}">
          {{ item | formatAdditionalTraining }}{{ ' - ' + inductionDto.previousTraining.trainingTypeOther if item === 'OTHER' }}{{ ',' if inductionDto.previousTraining.trainingTypes.length !== loop.index }}
        </div>
      {% endfor %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="additional-training?submitToCheckAnswers=true" data-qa="additionalTrainingLink">
        Change<span class="govuk-visually-hidden"> other training or qualifications they have</span>
      </a>
    </dd>
  </div>
</dl>
