<h2 class="govuk-heading-m">Skills and interests</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
      Type of work interested in
    </dt>
    <dd class="govuk-summary-list__value" data-qa="workInterests">
      {% for item in inductionDto.futureWorkInterests.interests %}
        <div data-qa="workInterests-{{ item.workType }}">{{ item.workType | formatJobType }}{{ ' - ' + item.workTypeOther if item.workType === 'OTHER' }}{{ ',' if inductionDto.futureWorkInterests.interests.length !== loop.index }}</div>
      {% endfor %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="/prisoners/{{ prisonerSummary.prisonNumber }}/induction/work-interest-types" data-qa="workInterestsLink">
        Change<span class="govuk-visually-hidden"> type of work interested in</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
      Particular job roles of interest
    </dt>
    <dd class="govuk-summary-list__value" data-qa="particularJobInterests">
      {% for item in inductionDto.futureWorkInterests.interests %}
        <p class="govuk-body"  data-qa="particularJobInterests-{{ item.workType }}">
          {{ item.workTypeOther if item.workType === 'OTHER' else item.workType | formatJobType }}:<br>
          {{ item.role if item.role else 'Not entered'}}
        </p>
      {% endfor %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="/prisoners/{{ prisonerSummary.prisonNumber }}/induction/work-interest-roles" data-qa="particularJobInterestsLink">
        Change<span class="govuk-visually-hidden"> particular job roles of interest</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
      Skills
    </dt>
    <dd class="govuk-summary-list__value" data-qa="skills">
      {% for item in inductionDto.personalSkillsAndInterests.skills %}
        <div data-qa="skills-{{ item.skillType }}">{{ item.skillType | formatSkill }}{{ ' - ' + item.skillTypeOther if item.skillType === 'OTHER' }}{{ ',' if inductionDto.personalSkillsAndInterests.skills.length !== loop.index }}</div>
      {% endfor %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/prisoners/{{ prisonerSummary.prisonNumber }}/induction/skills" data-qa="skillsLink">
        Change<span class="govuk-visually-hidden"> skills</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
      Interests
    </dt>
    <dd class="govuk-summary-list__value" data-qa="personalInterests">
      {% for item in inductionDto.personalSkillsAndInterests.interests %}
        <div data-qa="personalInterests-{{ item.interestType }}">{{ item.interestType | formatPersonalInterest }}{{ ' - ' + item.interestTypeOther if item.interestType === 'OTHER' }}{{ ',' if inductionDto.personalSkillsAndInterests.interests.length !== loop.index }}</div>
      {% endfor %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/prisoners/{{ prisonerSummary.prisonNumber }}/induction/personal-interests" data-qa="personalInterestsLink">
        Change<span class="govuk-visually-hidden"> interests</span>
      </a>
    </dd>
  </div>
</dl>
