<h2 class="govuk-heading-m">Skills and interests</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
      Skills
    </dt>
    <dd class="govuk-summary-list__value" data-qa="skills">
      {% for item in inductionDto.personalSkillsAndInterests.skills %}
        <div data-qa="skills-{{ item.skillType }}">{{ item.skillType | formatSkill }}{{ ' - ' + item.skillTypeOther if item.skillType === 'OTHER' }}{{ ',' if inductionDto.personalSkillsAndInterests.skills.length !== loop.index }}</div>
      {% endfor %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="skills?submitToCheckAnswers=true" data-qa="skillsLink">
        Change<span class="govuk-visually-hidden"> skills</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
      Interests
    </dt>
    <dd class="govuk-summary-list__value" data-qa="personalInterests">
      {% for item in inductionDto.personalSkillsAndInterests.interests %}
        <div data-qa="personalInterests-{{ item.interestType }}">{{ item.interestType | formatPersonalInterest }}{{ ' - ' + item.interestTypeOther if item.interestType === 'OTHER' }}{{ ',' if inductionDto.personalSkillsAndInterests.interests.length !== loop.index }}</div>
      {% endfor %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="personal-interests?submitToCheckAnswers=true" data-qa="personalInterestsLink">
        Change<span class="govuk-visually-hidden"> interests</span>
      </a>
    </dd>
  </div>
</dl>
