<h2 class="govuk-heading-m">Work on release</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-8">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
      Hoping to work on release
    </dt>
    <dd class="govuk-summary-list__value" data-qa="hopingToGetWork-{{ inductionDto.workOnRelease.hopingToWork }}">
      {{ inductionDto.workOnRelease.hopingToWork | formatYesNo }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="hoping-to-work-on-release" data-qa="hopingToGetWorkLink">
        Change<span class="govuk-visually-hidden"> whether they're hoping to work when they're released</span>
      </a>
    </dd>
  </div>

  {% if inductionDto.workOnRelease.hopingToWork === 'YES' %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
        Type of work interested in
      </dt>
      <dd class="govuk-summary-list__value" data-qa="workInterests">
        {% for item in inductionDto.futureWorkInterests.interests %}
          <div data-qa="workInterests-{{ item.workType }}">{{ item.workType | formatJobType }}{{ ' - ' + item.workTypeOther if item.workType === 'OTHER' }}{{ ',' if inductionDto.futureWorkInterests.interests.length !== loop.index }}</div>
        {% endfor %}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" href="work-interest-types" data-qa="workInterestsLink">
          Change<span class="govuk-visually-hidden"> type of work interested in</span>
        </a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
        Particular job roles of interest
      </dt>
      <dd class="govuk-summary-list__value" data-qa="particularJobInterests">
        {% for item in inductionDto.futureWorkInterests.interests %}
          <p class="govuk-body"  data-qa="particularJobInterests-{{ item.workType }}">
            {{ item.workTypeOther if item.workType === 'OTHER' else item.workType | formatJobType }}:<br>
            {{ item.role if item.role else 'Not entered'}}
          </p>
        {% endfor %}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" href="work-interest-roles" data-qa="particularJobInterestsLink">
          Change<span class="govuk-visually-hidden"> particular job roles of interest</span>
        </a>
      </dd>
    </div>
  {% endif %}
</dl>
