$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all';
@import 'moj/all';

@import './components/add-another';
@import './components/header-bar';
@import './components/header-bar-dps';
@import './components/footer';
@import './components/print-link';
@import './components/prisoner-list';
@import './components/summary-card';
@import 'assets/scss/local';
