$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all';
@import 'moj/all';

@import 'node_modules/@ministryofjustice/hmpps-connect-dps-components/dist/assets/footer';
@import 'node_modules/@ministryofjustice/hmpps-connect-dps-components/dist/assets/header-bar';

@import './components/add-another';
@import './components/mini-profile-header';
@import './components/print-link';
@import './components/prisoner-list';
@import './components/summary-card';
@import './components/actions-card';
@import './components/archive-goals';
@import './components/complete-goals';
@import './components/update-goal';
@import './components/confirm-exemption';
@import 'assets/scss/local';
