.govuk-main-wrapper {
  min-height: 600px;
}

// Custom column widths
// https://design-system.service.gov.uk/components/table/#custom-column-widths

.app-u-width-20 {
  width: 20% !important;
}

.app-u-width-30 {
  width: 30% !important;
}

.app-u-width-60 {
  width: 60% !important;
}

.hmpps-width-20 {
  width: 20em;
}

// Custom grid and border for goals section of overview page

.govuk-grid {
  gap: 20px;
  display: flex;
}

.govuk-grid-item {
  padding: 16px;
  text-align: center;
}

.govuk-grid-item:first-child {
  margin-right: 110px;
}

.govuk-grid-item:last-child {
  border-left: 1px solid $govuk-border-colour;
}

.goal-container {
  display: flex;
  align-items: center;
}

// Aligning goal icon in actions card on overview page

.goal-action {
  display: inline-flex;
  align-items: center;
}

.goal-icon {
  margin-right: 8px;
  vertical-align: middle;
}

// Match the widths of the columns of functional skills and courses on overview page

tbody[data-qa="functional-skills-table-body"] .govuk-table__cell:first-child {
  width: 40%; 
}

tbody[data-qa="functional-skills-table-body"] .govuk-table__cell:nth-child(2) {
  width: 50%; 
}

tbody[data-qa="completed-courses-table-body"] .govuk-table__cell:first-child {
  width: 40%;
}

tbody[data-qa="completed-courses-table-body"] .govuk-table__cell:nth-child(2) {
  width: 50%;
}

// Removing the border below the last row of the table in education and training summary card on overview page

.last-row-no-border td {
  border-bottom: none;
}

// Custom margin on completed courses heading in education and training summary card on overview page

h3[data-qa="completed-courses-heading"] {
  margin-top: 30px !important;
}

// Custom section break widths

.app-u-section-break-8 {
  border-top: 8px solid $govuk-border-colour !important;
}

.app-u-multiline-text {
  white-space: pre-line;
}

.app-u-button-as-link {
  @include govuk-link-common;
  @include govuk-link-style-default;
  @include govuk-link-print-friendly;
  background-color: transparent;
  border: none;
  color: $govuk-link-colour;
  text-decoration: underline;
  padding: 0;
  cursor: pointer;
  font-size: inherit;
  line-height: inherit;
}

.app-u-heading-with-change-link {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  span {
    align-content: center;
  }
}