.govuk-main-wrapper {
  min-height: 600px;
}

// Custom column widths
// https://design-system.service.gov.uk/components/table/#custom-column-widths

.app-u-width-20 {
  width: 20% !important;
}

.app-u-width-60 {
  width: 60% !important;
}

.hmpps-width-20 {
  width: 20em;
}
