@import "govuk/base";
@import 'govuk/core/all';

@page {
  size: auto;
  margin: 8mm;
}

.govuk-hint,
.govuk-tag,
.govuk-caption-l,
.govuk-details__summary {
  color: $govuk-text-colour;
}

.moj-page-header-actions {
  margin-bottom: 5mm;
}

.govuk-summary-card__title-wrapper {
  padding-bottom: 0;
}

.app-functional-skills-sidebar {
  break-inside: avoid;
  margin-top: 8.5mm;
}

.app-u-print-full-width {
  width: 100%;
}

.app-summary-card__title-wrapper--green {
  border-top: 4px solid $govuk-text-colour;

  .govuk-summary-card__title {
    color: $govuk-text-colour;
  }
}

.connect-dps-common-footer {
  @include govuk-visually-hidden();
}
