@page {
  size: auto;
  margin: 8mm 10mm;
}

.govuk-hint,
.govuk-tag,
.govuk-caption-l,
.govuk-details__summary {
  color: #0b0c0c
}

.moj-page-header-actions {
  margin-bottom: 5mm;
}

.govuk-summary-card {
  border: 0.5mm solid #0b0c0c;
  break-inside: avoid
}

.govuk-summary-card__title-wrapper {
  padding-bottom: 0;
}

.app-functional-skills-sidebar {
  break-inside: avoid;
  margin-top: 8.5mm;
}
