.govuk-hint,
.govuk-tag,
.govuk-caption-l {
  color: #0b0c0c
}

.govuk-summary-card {
  border: 1px solid #0b0c0c;
  break-inside: avoid
}

.app-functional-skills-sidebar {
  break-inside: avoid;
  margin-top: 32px;
}
