.app-print-link {
  display: none
}

.app-print-link .app-print-link--show-without-js {
  display: block
}

.js-enabled .app-print-link {
   display: block
}

.app-print-link__link,
.app-print-link__button {
  background: url(/assets/images/icon-print.png) no-repeat 10px 50%;
  background-size: 20px 18px;
  padding: 12px 12px 12px 38px;
  text-decoration: none;
}

@include govuk-media-query($from: tablet) {
  .app-print-link__link,
  .app-print-link__button {
    float: right;
  }
}

.app-print-link__link:hover,
.app-print-link__button:hover {
  color: rgba(11, 12, 12, .99);
}

.app-print-link__link {
  box-shadow: inset 0 0 0 1px #b1b4b6
}

.app-print-link__link:focus {
  border: 0;
  box-shadow: 0 3px #0b0c0c
}

.app-print-link__button {
  border: 0;
  color: #0b0c0c;
  cursor: pointer;
  margin: 0;
  text-decoration: underline;
}

.app-print-link__button:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #fd0;
  box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-color: #fd0;
  border-color: transparent
}
