.app-summary-card__title-wrapper {
  background-color: #fff;
  border-bottom: 1px solid transparent;
  border-top: 4px solid govuk-colour("black");
  padding: 16px 0 0 16px;
}

.app-summary-card__title-wrapper--green {
  border-top: 4px solid govuk-colour("green");

  .govuk-summary-card__title {
    color: govuk-colour("green");
  }
}
