.app-summary-card__title-wrapper {
  background-color: #fff;
  border-bottom: 1px solid transparent;
  border-top: 4px solid govuk-colour("black");
  padding: 16px 0 0 16px;
}

.app-summary-card__change-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .app-summary-card__change-link__heading,
  .app-summary-card__change-link__link {
    display: inline-block;
    margin: 0;
  }

  .app-summary-card__change-link__link {
    @include govuk-font($size: 19);
  }
}

.goal-summary-card-actions {
  .govuk-summary-card__action {
    border-right: 0;
  }
}
