.app-summary-card__title-wrapper {
  background-color: #fff;
  border-bottom: 1px solid transparent;
  border-top: 4px solid govuk-colour("black");
  padding: 16px 0 0 16px;
}

.app-summary-card__change-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .app-summary-card__change-link__heading,
  .app-summary-card__change-link__link {
    display: inline-block;
    margin: 0;
  }

  .app-summary-card__change-link__link {
    @include govuk-font($size: 19);
  }
}

.goal-summary-card-actions {
  .govuk-summary-card__action {
    border-right: 0;
  }
}

.archived-or-completed-goal-summary-card  {
  .govuk-summary-card__title-wrapper, .govuk-summary-card__subtitle-wrapper {
    background-color: govuk-colour("white");
  }
}

.goal-summary-card {
  .govuk-summary-card__title-wrapper {
    @include govuk-responsive-padding(3, "all");

    h3 {
      display: flex;
      align-items: center;

      img {
        margin-right: 10px;

        @media (max-width: 1000px) {
          display: none;
        }
      }
    }
  }
  .govuk-summary-card__subtitle-wrapper {
    @extend .govuk-summary-card__title-wrapper;
    @include govuk-responsive-padding(0, "top");
    @include govuk-responsive-padding(0, "bottom");
    @include govuk-responsive-padding(4, "left");
  }
}

.three-column-summary-cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 30px;

  .govuk-summary-card {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
