{% extends "../../../partials/layout.njk" %}

{% set pageId = "add-note" %}
{% set pageTitle = applicationName + " - Home" %}

{% block beforeContent %}
  {% include "../../../partials/breadcrumb.njk" %}
{% endblock %}

{% block content %}

  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    }) }}
  {% endif %}

  {% include "../../../partials/prisonerBanner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="note">
                Add a note to this goal (optional)
              </label>
            </h1>
            {{ govukWarningText({
              text: "This note will be seen by the prisoner and other prison staff.",
              iconFallbackText: "Warning",
              classes: "govuk-!-margin-top-4"
            }) }}
            {{ errors | findError('note') }}
            <textarea class="govuk-textarea" id="note" name="note" rows="5">{{ form.note }}</textarea>
          </div>
        </div>

        {{ govukButton({
          id: "submit-button",
          name: "submit-button",
          text: "Continue to review goals"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
