{% extends "../../../partials/layout.njk" %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
    {% include "../../../partials/breadCrumb.njk" %}
{% endblock %}

{% block content %}

  {% include "../../../partials/prisonerBanner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {{ govukTextarea({
            name: "notes",
            id: "notes",
            value: form.notes,
            label: {
              text: "Add a note to this goal (optional)",
              classes: "govuk-label--l",
              isPageHeading: true
            }
          }) }}
        </div>

        {{ govukButton({
          id: "submit-button",
          name: "submit-button",
          text: "Continue to review goals"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
