{% extends "../../partials/layout.njk" %}
{% from "./macros/sortableTable.njk" import sortableTable %}

{% set pageTitle = "Prisoner's functional skills" %}

{% set pageId = "functional-skills" %}

{% block beforeContent %}
  <nav class="govuk-breadcrumbs govuk-!-display-none-print" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{ dpsUrl }}">Digital Prison Services</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{ prisonerListUrl }}">Manage learning and work progress</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/plan/{{ prisonerSummary.prisonNumber }}/view/education-and-training">{{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }}'s learning and work progress</a>
      </li>
    </ol>
  </nav>
{% endblock %}

{% block content %}

  {% include "../../partials/prisonerBanner.njk" %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds app-u-print-full-width">
        {% if not problemRetrievingData %}

          <span class="govuk-caption-l">Learning and work progress</span>
          <h1 class="govuk-heading-l">{{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }}'s functional skills</h1>
          <p class="govuk-hint">Information from Curious. These scores are from a person's induction assessment.<br/>For recent functional skills qualifications, go to in-prison courses and qualifications.</p>

          <h2 class="govuk-heading-m">English functional skills assessment scores</h2>

          {% if englishSkills.length > 0 %}
            {{ sortableTable({
              id: "english-skills",
              assessmentType: englishSkills
            }) }}
          {% else %}
            <p class="govuk-body">No English functional skill assessment scores recorded in Curious.</p>
          {% endif %}

          <h2 class="govuk-heading-m">Maths functional skills assessment scores</h2>

          {% if mathsSkills.length > 0 %}
            {{ sortableTable({
              id: "maths-skills",
              assessmentType: mathsSkills
            }) }}
          {% else %}
            <p class="govuk-body">No Maths functional skill assessment scores recorded in Curious.</p>
          {% endif %}

          <h2 class="govuk-heading-m">Digital functional skills assessment scores</h2>
      
          {% if digitalSkills.length > 0 %}
            {{ sortableTable({
              id: "digital-skills",
              assessmentType: digitalSkills
            }) }}
          {% else %}
            <p class="govuk-body">No Digital functional skill assessment scores recorded in Curious.</p>
          {% endif %}

        {% else %}

          <h2 class="govuk-heading-m" data-qa="curious-unavailable-message">We cannot show these details from Curious right now</h2>
          <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>
  
        {% endif %}

      </div>
      <div class="govuk-grid-column-one-third">
        {% include "../../partials/printThisPage.njk" %}
      </div>
    </div>
{% endblock %}
