{% extends "../../partials/layout.njk" %}

{% set pageId = 'prisoner-list-page' %}
{% set pageTitle = "Manage learning and work progress" %}

{% block beforeContent %}
  <nav class="govuk-breadcrumbs govuk-!-display-none-print" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{ dpsUrl }}">Digital Prison Services</a>
      </li>
    </ol>
  </nav>
  {% if showServiceOnboardingBanner === true %}
    {% include "../../partials/serviceOnboardingBanner.njk" %}
  {% endif %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Manage learning and work progress</h1>
      {% include './partials/searchBox.njk' %}
      {% include './partials/searchTable.njk' %}
    </div>
  </div>

{% endblock %}
