{% extends "../../../partials/layout.njk" %}

{% set pageId = "induction-check-your-answers" %}
{% set title = "Check and save your answers before adding " + prisonerSummary.firstName + " " + prisonerSummary.lastName + "'s goals" %}

{#
Induction "Check your answers" page template.
This template is used for both the Create and Update journeys (ie. creating a new Induction, and updating answers in an existing Induction)
It is the same template used for both use cases. The route paths are:

* Create journey - /prisoners/:prisonNumber/create-induction/check-your-answers
* Update journey - /prisoners/:prisonNumber/induction/check-your-answers

The Change links in this template deliberately use relative URLs, eg:

  <a class="govuk-link" href="affect-ability-to-work" data-qa="affectAbilityToWorkLink">
    Change<span class="govuk-visually-hidden"> things that may affect ability to work</span>
  </a>

This is very deliberate and allows for the Change links to either reference the `create-induction` or `induction` path
elements without adding logic into the view or template.


Data supplied to this template:
  * prisonerSummary - object with firstName and lastName
  * inductionDto - the updated InductionDto containing the required data to render each section
#}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <form class="form" method="post" novalidate="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {% include './partials/_workOnRelease.njk' %}
        
        {% if inductionDto.workOnRelease.hopingToWork === 'YES' %}
          {% include './partials/_educationAndTraining.njk' %}
          {% include './partials/_workExperience.njk' %}
          {% include './partials/_skillsAndInterests.njk' %}
          {% include './partials/_abilityToWork.njk' %}
        {% else %}
          {% include './partials/_educationAndTrainingLite.njk' %}
          {% include './partials/_inPrisonInterests.njk' %}
        {% endif %}

        <div class="govuk-form-group">
          {{ govukButton({
            id: "submit-button",
            text: "Save and continue",
            type: "submit",
            attributes: {"data-qa": "submit-button"}
          }) }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
