{#
'Work and interests' tab - content for the long question set asked at the Induction
Contains 'Work experience', 'Work interests' and 'Skills and interests' summary cards.
The 'Work interests' summary card is different to the one presented if the short question set was asked, as the follow up
questions are different.
#}

<section data-qa="work-and-interests-long-question-set">

  {# Work experience summary card #}
  <div class="govuk-summary-card" id="work-experience-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">Work experience</h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">

        {# Has the Prisoner worked before? #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Worked before
          </dt>
          <dd class="govuk-summary-list__value">
            {{ workAndInterests.data.workExperience.hasWorkedPreviously | formatYesNo }}
          </dd>
          <dd class="govuk-summary-list__actions govuk-!-display-none-print">
            <a class="govuk-link" href="{{ ciagInductionUrl }}/plan/create/{{ prisonerSummary.prisonNumber }}/has-worked-before/update">
              Change<span class="govuk-visually-hidden"> worked before</span>
            </a>
          </dd>
        </div>

        {% if workAndInterests.data.workExperience.hasWorkedPreviously %}
          {# Prisoner has worked before #}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of work experience
            </dt>
            <dd class="govuk-summary-list__value">
              {# List each previous job #}
              <ul class="govuk-list">
                {% for typeOfWorkExperience in workAndInterests.data.workExperience.jobs %}
                  <li>{{ typeOfWorkExperience.type | formatJobType }}</li>
                {% endfor %}
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions govuk-!-display-none-print">
              <a class="govuk-link" href="{{ ciagInductionUrl }}/plan/create/{{ prisonerSummary.prisonNumber }}/type-of-work-experience/update">
                Change<span class="govuk-visually-hidden"> type of work experience</span>
              </a>
            </dd>
          </div>

          {# List the detail of each previous job #}
          {% for workExperienceDetails in workAndInterests.data.workExperience.jobs %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {% if workExperienceDetails.type == 'Other' %}{{ workExperienceDetails.other }}{% else %}{{ workExperienceDetails.type | formatJobType }}{% endif %} experience details
              </dt>
              <dd class="govuk-summary-list__value">
                <p>Job role:<br> {{ workExperienceDetails.role }}</p>
                <p>Roles and responsibilities:<br> {{ workExperienceDetails.responsibilities }}</p>
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                <a class="govuk-link" href="{{ ciagInductionUrl }}/plan/create/{{ prisonerSummary.prisonNumber }}/work-details/{% if workExperienceDetails.type == 'Other' %}{{ workExperienceDetails.other | lower }}{% else %}{{ workExperienceDetails.type | lower }}{% endif %}/update">
                  Change<span class="govuk-visually-hidden"> {% if workExperienceDetails.type == 'Other' %}{{ workExperienceDetails.other }}{% else %}{{ workExperienceDetails.type | formatJobType }}{% endif %} experience details</span>
                </a>
              </dd>
            </div>
          {% endfor %}

        {% endif %}
      </dl>
      <p class="govuk-hint">Last updated: {{ workAndInterests.data.workExperience.updatedAt | formatDate('DD MMMM YYYY') }}<span class="govuk-!-display-none-print"> by {{ workAndInterests.data.workExperience.updatedBy }}</span></p>
    </div>
  </div>

  {# Work interests summary card #}
  <div class="govuk-summary-card" id="work-interests-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">Work interests</h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">

        {# Is the Prisoner hoping to work on release #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Hoping to work on release
          </dt>
          <dd class="govuk-summary-list__value">
            {{ workAndInterests.data.workInterests.hopingToWorkOnRelease | formatYesNo }}
          </dd>
          <dd class="govuk-summary-list__actions govuk-!-display-none-print">
            <a class="govuk-link" href="{{ ciagInductionUrl }}/plan/create/{{ prisonerSummary.prisonNumber }}/hoping-to-get-work/update">
              Change<span class="govuk-visually-hidden"> hoping to work on release</span>
            </a>
          </dd>
        </div>

        {# Prisoner is hoping to work on release, hence the Long question set was asked #}
        {# List any constraints on ability to work #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Potential affect on ability to work
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              {% for abilityToWorkConstraint in workAndInterests.data.workInterests.longQuestionSetAnswers.constraintsOnAbilityToWork %}
                {% if abilityToWorkConstraint == 'OTHER' %}
                  <li>{{ workAndInterests.data.workInterests.longQuestionSetAnswers.otherConstraintOnAbilityToWork }}</li>
                {% else %}
                  <li>{{ abilityToWorkConstraint | formatAbilityToWorkConstraint }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions govuk-!-display-none-print">
            <a class="govuk-link" href="{{ ciagInductionUrl }}/plan/create/{{ prisonerSummary.prisonNumber }}/ability-to-work/update">
              Change<span class="govuk-visually-hidden"> potential affect on ability to work</span>
            </a>
          </dd>
        </div>

        {# List the types of work the Prisoner is interested in doing post-release #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of work
          </dt>
          <dd class="govuk-summary-list__value">
            {% for typeOfWork in workAndInterests.data.workInterests.longQuestionSetAnswers.jobTypes %}
              {{ typeOfWork | formatJobType }}<br>
            {% endfor %}
          </dd>
          <dd class="govuk-summary-list__actions govuk-!-display-none-print">
            <a class="govuk-link" href="{{ ciagInductionUrl }}/plan/create/{{ prisonerSummary.prisonNumber }}/work-interests/update">
              Change<span class="govuk-visually-hidden"> type of work</span>
            </a>
          </dd>
        </div>

        {# List any specific job roles the Prisoner is interested in doing post-release #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Specific job role of interest
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              {% for specificJobRole in workAndInterests.data.workInterests.longQuestionSetAnswers.specificJobRoles %}
                <li>{{ specificJobRole }}</li>
              {% endfor %}
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions govuk-!-display-none-print">
            <a class="govuk-link" href="{{ ciagInductionUrl }}/plan/create/{{ prisonerSummary.prisonNumber }}/particular-job-interests/update">
              Change<span class="govuk-visually-hidden"> specific job role of interest</span>
            </a>
          </dd>
        </div>
      </dl>
      <p class="govuk-hint">Last updated: {{ workAndInterests.data.workInterests.updatedAt | formatDate('DD MMMM YYYY') }}<span class="govuk-!-display-none-print"> by {{ workAndInterests.data.workInterests.updatedBy }}</span></p>
    </div>
  </div>

  {# Skills and interests summary card #}
  <div class="govuk-summary-card" id="skills-and-interests-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">Skills and interests</h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">

        {# List any skills the Prisoner has #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Skills
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              {% for skill in workAndInterests.data.skillsAndInterests.skills %}
                {% if skill == 'OTHER' %}
                  <li>{{ workAndInterests.data.skillsAndInterests.otherSkill }}</li>
                {% else %}
                  <li>{{ skill | formatSkill }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions govuk-!-display-none-print">
            <a class="govuk-link" href="{{ ciagInductionUrl }}/plan/create/{{ prisonerSummary.prisonNumber }}/skills/update">
              Change<span class="govuk-visually-hidden"> skills</span>
            </a>
          </dd>
        </div>

        {# List any personal interests the Prisoner has #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Personal interests
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              {% for personalInterest in workAndInterests.data.skillsAndInterests.personalInterests %}
                {% if personalInterest == 'OTHER' %}
                  <li>{{ workAndInterests.data.skillsAndInterests.otherPersonalInterest }}</li>
                {% else %}
                  <li>{{ personalInterest | formatPersonalInterests }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions govuk-!-display-none-print">
            <a class="govuk-link" href="{{ ciagInductionUrl }}/plan/create/{{ prisonerSummary.prisonNumber }}/personal-interests/update">
              Change<span class="govuk-visually-hidden"> personal interests</span>
            </a>
          </dd>
        </div>
      </dl>
      <p class="govuk-hint">Last updated: {{ workAndInterests.data.skillsAndInterests.updatedAt | formatDate('DD MMMM YYYY') }}<span class="govuk-!-display-none-print"> by {{ workAndInterests.data.skillsAndInterests.updatedBy }}</span></p>
    </div>
  </div>

</section>
