{#
'Work and interests' tab - content for the short question set asked at the Induction
Contains just a 'Work interests' summary card.
The 'Work interests' summary card is different to the one presented if the long question set was asked, as the follow up
questions are different.
#}

<section data-qa="work-and-interests-short-question-set">

  {# Work interests summary card #}
  <div class="govuk-summary-card" id="work-interests-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">Work interests</h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">

        {# Is the Prisoner hoping to work on release #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Hoping to work on release
          </dt>
          <dd class="govuk-summary-list__value">
            {{ induction.inductionDto.workOnRelease.hopingToWork | formatYesNo }}
          </dd>
          <dd class="govuk-summary-list__actions govuk-!-display-none-print">
            {%- set hopingToWorkOnReleaseChangeLinkUrl -%}
              {%- if featureToggles.induction.update.enabled -%}
                /prisoners/{{ prisonerSummary.prisonNumber }}/induction/hoping-to-work-on-release
              {%- else -%}
                {{ ciagInductionUrl }}/plan/create/{{ prisonerSummary.prisonNumber }}/hoping-to-get-work/update
              {%- endif -%}
            {%- endset -%}
            <a class="govuk-link" href="{{ hopingToWorkOnReleaseChangeLinkUrl }}" data-qa="hoping-to-work-on-release-change-link">
              Change<span class="govuk-visually-hidden"> hoping to work on release</span>
            </a>
          </dd>
        </div>

        {# List any constraints on ability to work #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Potential affect on ability to work
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              {% for abilityToWorkConstraint in induction.inductionDto.workOnRelease.affectAbilityToWork | sortedAlphabeticallyWithOtherLast %}
                {% if abilityToWorkConstraint === 'OTHER' %}
                  <li>Other - {{ induction.inductionDto.workOnRelease.affectAbilityToWorkOther }}</li>
                {% else %}
                  <li>{{ abilityToWorkConstraint | formatAbilityToWorkConstraint }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions govuk-!-display-none-print">
            {%- set affectAbilityToWorkChangeLinkUrl -%}
              {%- if featureToggles.induction.update.enabled -%}
                /prisoners/{{ prisonerSummary.prisonNumber }}/induction/affect-ability-to-work
              {%- else -%}
                {{ ciagInductionUrl }}/plan/create/{{ prisonerSummary.prisonNumber }}/ability-to-work/update
              {%- endif -%}
            {%- endset -%}
            <a class="govuk-link" href="{{ affectAbilityToWorkChangeLinkUrl }}" data-qa="affect-ability-to-work-change-link">
              Change<span class="govuk-visually-hidden"> potential affect on ability to work</span>
            </a>
          </dd>
        </div>
      </dl>

      <p class="govuk-hint govuk-body govuk-!-font-size-16">Last updated: {{ induction.inductionDto.updatedAt | formatDate('DD MMMM YYYY') }}<span class="govuk-!-display-none-print"> by {{ induction.inductionDto.updatedBy }}</span></p>
    </div>
  </div>

</section>
