{% if not workAndInterests.problemRetrievingData %}

  {% if workAndInterests.data %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds app-u-print-full-width">
        {# Include content based on whether the Induction was the long or short question set #}
          {% if workAndInterests.inductionQuestionSet == 'LONG_QUESTION_SET' %}
            {% include './_inductionLongQuestionSet.njk' %}
          {% else %}
            {% include './_inductionShortQuestionSet.njk' %}
          {% endif %}
      </div>
    </div>

  {% else %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          To add work experience and interests information you need to
          <a href="{{ ciagInductionUrl }}/plan/create/{{ prisonerSummary.prisonNumber }}/hoping-to-get-work/new" class="govuk-link" data-qa="link-to-create-induction">create a learning and work progress plan</a>
          with {{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }}.
        </p>
      </div>
    </div>

  {% endif %}

{% else %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" data-qa="induction-unavailable-message">We cannot show these details right now</h2>
      <p class="govuk-body">
        Reload the page or try again later. Other parts of this service may still be available.
      </p>
    </div>
  </div>

{% endif %}
