{# Nunjucks template to display the Work and Interests tab of the prisoner's Overview page

Data supplied to this template:
  * prisonerSummary - object with firstName and lastName
  * induction: {
  *   problemRetrievingData: boolean
  *   inductionDto?: The prisoner's InductionDto if it exists
  * }
  * inductionSchedule - object containing details about the prisoner's Induction schedule
  * prisonNamesById - key/value pairs of prisonIDs to prison names
#}

{% if not induction.problemRetrievingData %}

  {% if induction.inductionDto %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds app-u-print-full-width">
        {% set prisonNamesById = prisonNamesById.value if prisonNamesById.isFulfilled() else {} %}
        {% include './_inductionQuestionSet.njk' %}
        {% include './_inPrisonWorkInterestsSummaryCard.njk' %}
        {% include './_personalSkillsAndInterestsSummaryCard.njk' %}
      </div>
    </div>

  {% else %}
    {% set inductionStatus = inductionSchedule.inductionStatus if not inductionSchedule.problemRetrievingData else '' %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body" data-qa="induction-not-created-yet">
          {% if inductionStatus == 'PENDING_SCREENING_AND_ASSESSMENTS' %}
            {# Screening and assessments have not yet been completed #}
            <span data-qa="pending-screening-and-assessments-message">
              No work experience and interests information recorded yet. Induction cannot take place until initial screening and assessment is complete and the results have been entered on to Curious.
            </span>

          {% elseif userHasPermissionTo('RECORD_INDUCTION') %}
            {# Screening and assessments have been completed and user has permission to record the Induction #}
            <span data-qa="create-induction-message">
              To add work experience and interests information you need to
              {% if inductionStatus == 'ON_HOLD' or inductionStatus == '' %}
                {# Even though the user has permission to record the Induction, the Induction is on hold/exempt, so do not render the link to create the Induction #}
                create a learning and work plan
              {% else %}
                <a href="/prisoners/{{ prisonerSummary.prisonNumber }}/create-induction/hoping-to-work-on-release" class="govuk-link" data-qa="link-to-create-induction">
                  create a learning and work plan
                </a>
              {% endif %}
              with {{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }}.
            </span>

          {% else %}
            {# Screening and assessments have been completed but user does not have permission to record the Induction #}
            <span data-qa="no-work-and-skills-entered-message">
              No work and skills information entered.
            </span>
          {% endif %}
        </p>
      </div>
    </div>

  {% endif %}

{% else %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" data-qa="induction-unavailable-message">We cannot show these details right now</h2>
      <p class="govuk-body">
        Reload the page or try again later. Other parts of this service may still be available.
      </p>
    </div>
  </div>

{% endif %}
