{#  -------------------------------------------------------------
    Sortable table for the functional skills page
    `config` argument is an object with the following properties:
      * id - the id of the sortable table
      * assessments - an array of assessment data, where each item is an instance of view model type Assessment
      * prisonNamesById - key/value pairs of prisonIDs to prison names
    ------------------------------------------------------------- #}
{% macro sortableTable(config) %}
    <table class="govuk-table" data-module="moj-sortable-table" data-qa="{{ config.id }}-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-u-width-15">Subject</th>
          <th scope="col" class="govuk-table__header app-u-width-20" aria-sort="none">Location</th>
          <th scope="col" class="govuk-table__header app-u-width-15" aria-sort="none">Assessed on</th>
          <th scope="col" class="govuk-table__header app-u-width-20" aria-sort="none">Assessment outcome</th>
          <th scope="col" class="govuk-table__header app-u-width-15" aria-sort="none">Next steps</th>
          <th scope="col" class="govuk-table__header app-u-width-15">Referral</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        {% for assessment in config.assessments %}
          {% set prisonName = config.prisonNamesById[assessment.prisonId] | default(assessment.prisonId) %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ assessment.type | formatFunctionalSkillType }}</td>
            <td class="govuk-table__cell">{{ prisonName }}</td>
            <td class="govuk-table__cell" data-sort-value="{{ assessment.assessmentDate | formatDate('yyyyMMdd') }}">{{ assessment.assessmentDate | formatDate('d MMM yyyy') }}</td>
            <td class="govuk-table__cell">{{ assessment.level }}{{ ' (' + assessment.levelBanding + ')' if assessment.levelBanding }}</td>
            <td class="govuk-table__cell">{{ assessment.nextStep if assessment.nextStep else 'N/A' }}</td>
            <td class="govuk-table__cell">
              {% if assessment.referral | length %}
                <ul class="govuk-list">
                  {% for referral in assessment.referral %}
                    <li>{{ referral | formatAlnAssessmentReferralScreenValue }}</li>
                  {% endfor %}
                </ul>
              {% else %}
                N/A
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endmacro %}
