{% extends "../../../../partials/layout.njk" %}
{% set pageId = "confirm-exemption" %}
{% set pageTitle = "Confirm you want to put the review on hold" %}
{% block beforeContent %}
  {% include "../../../../partials/breadcrumb.njk" %}
    {{ govukBackLink({
    text: "Back",
    href: "#",
    classes: "js-back-link"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-top-3" data-qa="page-heading">Are you sure you want to put {{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }}'s review on hold?</h1>
      <section class="exemption-summary">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1" data-qa="exemption-reason-heading">Exemption reason</h3>
        <p class="govuk-body app-u-multiline-text govuk-!-margin-bottom-1" data-qa="exemption-reason">{{ reviewExemptionDto.exemptionReason | formatReviewExemptionReason }}</p>
        {% if reviewExemptionDto.exemptionReasonDetails.length > 0 %}
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-display-inline" data-qa="exemption-reason-details-heading">More details:</h3>
          <span class="govuk-body app-u-multiline-text govuk-!-margin-bottom-0" data-qa="exemption-reason-details">{{ reviewExemptionDto.exemptionReasonDetails }}</span>
        {% endif %}
      </section>
      <form class="form" method="post" novalidate="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <div class="govuk-form-group">
          {{ govukButton({
            id: "submit-button",
            name: "action",
            value: "submit-form",
            text: "Yes, continue to add exemption",
            classes: "moj-button-menu__item",
            attributes: {
              'data-qa': 'confirm-exemption-button'
            },
            preventDoubleClick: true
          }) }}
          {{ govukButton({
            type: "a",
            href: "/plan/" + prisonerSummary.prisonNumber + "/view/overview",
            id: "cancel-button",
            text: "No, go back to learning and work plan",
            classes: "moj-button-menu__item govuk-button--secondary",
            attributes: {
              'data-qa': 'confirm-exemption-cancel-button'
            },
            preventDoubleClick: true
          }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
