{% extends "../../../partials/layout.njk" %}

{% set pageId = "induction-reason-not-to-work" %}
{% set title = "What could stop " + prisonerSummary.firstName + " " + prisonerSummary.lastName + " working when they are released?" %}
{% set pageTitle = title %}

{#
Data supplied to this template:
  * prisonerSummary - object with firstName and lastName
  * backLinkUrl - url of the back link
  * backLinkAriaText - the aria label for the back link
  * form - form object containing the following fields:
    * reasonToNotGetWork - Array existing values for field
    * reasonToNotGetWorkOther? - value for when Other is selected
  * errors? - validation errors
#}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({ text: "Back", href: backLinkUrl, attributes: { "aria-label" : backLinkAriaText } }) }}
{% endblock %}

{% block content %}

  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% set otherHtml %}
            {{ govukTextarea({
              id: "reasonToNotGetWorkOther",
              name: "reasonToNotGetWorkOther",
              rows: "2",
              value: form.reasonToNotGetWorkOther,
              type: "text",
              label: {
                text: "Give details",
                attributes: { "aria-live": "polite" }
              },
              attributes: { "aria-label" : "Give reasons why " + prisonerSummary.firstName + " " + prisonerSummary.lastName + " doesn't want to work" },
              errorMessage: errors | findError('reasonToNotGetWorkOther')
            }) }}
          {% endset -%}

          {{ govukCheckboxes({
            name: "reasonToNotGetWork",
            fieldset: {
              legend: {
                text: title,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
              {
                value: "LIMIT_THEIR_ABILITY",
                checked: form.reasonToNotGetWork.includes("LIMIT_THEIR_ABILITY"),
                text: "LIMIT_THEIR_ABILITY" | formatReasonNotToGetWork
              },
              {
                value: "FULL_TIME_CARER",
                checked: form.reasonToNotGetWork.includes("FULL_TIME_CARER"),
                text: "FULL_TIME_CARER" | formatReasonNotToGetWork
              },
              {
                value: "LACKS_CONFIDENCE_OR_MOTIVATION",
                checked: form.reasonToNotGetWork.includes("LACKS_CONFIDENCE_OR_MOTIVATION"),
                text: "LACKS_CONFIDENCE_OR_MOTIVATION" | formatReasonNotToGetWork
              },
              {
                value: "HEALTH",
                checked: form.reasonToNotGetWork.includes("HEALTH"),
                text: "HEALTH" | formatReasonNotToGetWork
              },
              {
                value: "NO_REASON",
                checked: form.reasonToNotGetWork.includes("NO_REASON"),
                text: "NO_REASON" | formatReasonNotToGetWork
              },
              {
                value: "RETIRED",
                checked: form.reasonToNotGetWork.includes("RETIRED"),
                text: "RETIRED" | formatReasonNotToGetWork
              },
              {
                value: "NO_RIGHT_TO_WORK",
                checked: form.reasonToNotGetWork.includes("NO_RIGHT_TO_WORK"),
                text: "NO_RIGHT_TO_WORK" | formatReasonNotToGetWork
              },
              {
                value: "OTHER",
                checked: form.reasonToNotGetWork.includes("OTHER"),
                text: "OTHER" | formatReasonNotToGetWork,
                attributes: { "aria-label": "OTHER" | formatReasonNotToGetWork " (Opens a dialogue box)" },
                conditional: {
                html: otherHtml
              }
              },
              {
                divider: "or"
              },
              {
                value: "NOT_SURE",
                checked: form.reasonToNotGetWork.includes("NOT_SURE"),
                text: "NOT_SURE" | formatReasonNotToGetWork,
                behaviour: "exclusive"
              }
            ],
            errorMessage: errors | findError('reasonToNotGetWork')
          }) }}

        </div>

        {{ govukButton({
          id: "submit-button",
          text: "Continue",
          type: "submit",
          attributes: {"data-qa": "submit-button"}
        }) }}
      </form>
    </div>
  </div>

{% endblock %}