<div class="moj-timeline__item" data-qa-event-type="INDUCTION_SCHEDULE_STATUS_UPDATED">
 {# If the new value for the schedule status is SCHEDULED then this event was the removal/clearing of the exemption #}
  {% set isInductionExemptionRemovalEvent = event.contextualInfo['INDUCTION_SCHEDULE_STATUS_NEW'] == 'SCHEDULED' %}

  <div class="moj-timeline__header">
    <h2 class="moj-timeline__title">{{ 'Exemption removed' if isInductionExemptionRemovalEvent else 'Exemption recorded' }}</h2>
    <p class="moj-timeline__byline govuk-!-display-none-print">by {{ event.actionedByDisplayName }}, {{ event.prisonName }}</p>
  </div>

  <p class="moj-timeline__date">
    <time datetime="{{ event.timestamp }}">{{ event.timestamp | formatDate('D MMMM YYYY') }}</time>
  </p>

  {% if not isInductionExemptionRemovalEvent %}
    <div class="moj-timeline__description">
      <p class="govuk-body" data-qa="induction-exempted-reason">
        Reason: {{ event.contextualInfo['INDUCTION_SCHEDULE_STATUS_NEW'] | formatInductionExemptionReason }}
      </p>

      {% if event.contextualInfo['INDUCTION_SCHEDULE_EXEMPTION_REASON'] %}
        <details class="govuk-details app-notes-expander" data-qa="induction-exemption-notes-expander">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Exemption details
            </span>
          </summary>
          <div class="govuk-details__text" data-qa="induction-exemption-notes">
            <span class="app-u-multiline-text">{{ event.contextualInfo['INDUCTION_SCHEDULE_EXEMPTION_REASON'] }}</span>
          </div>
        </details>
      {% endif %}
    </div>
  {% endif %}
</div>
