{% if not timeline.problemRetrievingData %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds app-u-print-full-width">

      <div class="moj-timeline">

      {% for event in timeline.events %}
        <div class="moj-timeline__item">
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">{{ event.eventType | formatTimelineEvent }}</h2>
            <p class="moj-timeline__byline govuk-!-display-none-print">by {{ event.actionedByDisplayName }}, {{ event.prison.prisonName if event.prison.prisonName else event.prison.prisonId }}</p>
          </div>

          <p class="moj-timeline__date">
            <time datetime="{{ event.timestamp }}">{{ event.timestamp | formatDate('D MMMM YYYY') }}</time>
          </p>

          {% if event.eventType == 'ACTION_PLAN_CREATED' or event.eventType == 'GOAL_UPDATED' %}
          <div class="moj-timeline__description">
            <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-display-none-print">
              <a href="/plan/{{ prisonerSummary.prisonNumber }}/view/overview">
                {% if event.eventType == 'ACTION_PLAN_CREATED' %}
                  View {{ prisonerSummary.firstName }} {{ prisonerSummary.lastName | title }}'s learning and work progress</a>
                {% elif event.eventType == 'GOAL_UPDATED' %}
                  View <span class="govuk-visually-hidden">{{ prisonerSummary.firstName }} {{ prisonerSummary.lastName | title }}'s </span>goals</a>
                {% endif %}
              </p>
          </div>
          {% endif %}

        </div>
      {% endfor %}

      </div>

    </div>
  </div>
{% else %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">[Error state title]</h2>
      <p class="govuk-body">
        [Error state message]
      </p>
    </div>
  </div>
{% endif %}
