<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds app-u-print-full-width">

    <div class="moj-timeline">

      {% for event in timeline.events %}
        <div class="moj-timeline__item">
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">{{ event.eventType | formatTimelineEvent }}</h2>
            <p class="moj-timeline__byline govuk-!-display-none-print">by {{ event.actionedByDisplayName }}, {{ event.prisonId }}</p>
          </div>

          <p class="moj-timeline__date">
            <time datetime="{{ event.timestamp }}">{{ event.timestamp | formatDate('D MMMM YYYY') }}</time>
          </p>

          {# TODO: Display the description and action
          <div class="moj-timeline__description">
            <p>[Description]</p>
            [Description component/action]
          </div>
          #} 

        </div>
      {% endfor %}

    </div>

  </div>
</div>
