{% extends "../../../partials/layout.njk" %}

{% set pageId = "update-goal" %}
{% set pageTitle = "You are updating a goal for the prisoner" %}

{% block beforeContent %}
  {% include "../../../partials/breadcrumb.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">You are updating a goal for {{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }}</h1>

        <form class="form" method="post" novalidate="">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          <input type="hidden" name="reference" value="{{ form.reference }}" data-qa="goal-reference" />
          <input type="hidden" name="createdAt" value="{{ form.createdAt }}" />
          <input type="hidden" name="originalTargetCompletionDate" value="{{ form.originalTargetCompletionDate }}" />

          {{ govukCharacterCount({
            name: "title",
            id: "title",
            value: form.title,
            maxlength: 512,
            label: {
              text: "Description",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            errorMessage: errors | findError('title')
          }) }}

          {% set targetCompletionDateItems = [goalTargetDate] %}
          {% set anotherDateHtml %}
            {{ govukDateInput({
              id: "another-date",
              fieldset: {
                legend: {
                  text: "What date are they aiming to achieve this by?",
                  classes: "govuk-visually-hidden"
                }
              },
              hint: {
                text: "For example, 27 3 2007"
              },
              items: [
                {
                  id: 'another-date-day',
                  label: 'Day',
                  name: 'targetCompletionDate-day',
                  classes: 'govuk-input--width-2',
                  value: form['targetCompletionDate-day']
                },
                {
                  id: 'another-date-month',
                  label: 'Month',
                  name: 'targetCompletionDate-month',
                  classes: 'govuk-input--width-2',
                  value: form['targetCompletionDate-month']
                },
                {
                  id: 'another-date-year',
                  label: 'Year',
                  name: 'targetCompletionDate-year',
                  classes: 'govuk-input--width-4',
                  value: form['targetCompletionDate-year']
                }
              ]
            }) }}
          {% endset -%}
          {% set targetCompletionDateItems = (targetCompletionDateItems.push({
              "value": "another-date",
              "text": "set another date",
              "conditional": {
                "html": anotherDateHtml
              }
            }), targetCompletionDateItems)
          %}

          {{ govukRadios({
            name: "targetCompletionDate",
            id: "targetCompletionDate",
            value: form.targetCompletionDate,
            fieldset: {
              legend: {
                text: "When are they aiming to achieve this by?",
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: targetCompletionDateItems,
            errorMessage: errors | findError('targetCompletionDate')
          }) }}

          {{ govukTextarea({
            name: "note",
            id: "note",
            label: {
              text: "Add to this note",
              classes: "govuk-label--m"
            },
            value: form.note,
            errorMessage: errors | findError('note')
          }) }}

          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m app-u-section-break-8">

          <h2 class="govuk-heading-m" id="edit-and-remove-steps" tabindex="-1">Edit and remove steps</h2>

            {% for step in form.steps %}
              <input type="hidden" name="steps[{{ (loop.index-1) }}][reference]" value="{{ step.reference }}" data-qa="step-{{ (loop.index-1) }}-reference" />
              <input type="hidden" name="steps[{{ (loop.index-1) }}][stepNumber]" value="{{ step.stepNumber }}" />

              {% call govukFieldset({
                classes: 'moj-add-another__item',
                legend: {
                  text: 'Step ' + step.stepNumber,
                  classes: 'moj-add-another__title govuk-fieldset__legend--m',
                  isPageHeading: false
                }
              }) %}
                {{ govukRadios({
                  name: 'steps[' + (loop.index-1) + '][status]',
                  id: 'steps[' + (loop.index-1) + '][status]',
                  attributes: { 'data-qa': 'step-' + (loop.index-1) + '-status-field' },
                  classes: "govuk-radios--inline govuk-radios--small",
                  formGroup: {
                    classes: "step-status-radios"
                  },
                  items: [
                    {
                      value: "NOT_STARTED",
                      text: "Not started",
                      checked: true if step.status == 'NOT_STARTED' else false,
                      attributes: { 'data-qa': 'step-' + (loop.index-1) + '-status-field-NOT_STARTED' }
                    },
                    {
                      value: "ACTIVE",
                      text: "Started",
                      checked: true if step.status == 'ACTIVE' else false,
                      attributes: { 'data-qa': 'step-' + (loop.index-1) + '-status-field-ACTIVE' }
                    },
                    {
                      value: "COMPLETE",
                      text: "Completed",
                      checked: true if step.status == 'COMPLETE' else false,
                      attributes: { 'data-qa': 'step-' + (loop.index-1) + '-status-field-COMPLETE' }
                    }
                  ],
                  errorMessage: errors | findError('steps[' + (loop.index-1) + '][status]')
                }) }}

              {{ govukCharacterCount({
                name: 'steps[' + (loop.index-1) + '][title]',
                id: 'steps[' + (loop.index-1) + '][title]',
                attributes: { 'data-qa': 'step-' + (loop.index-1) + '-title-field' },
                value: step.title,
                maxlength: 512,
                label: {
                  text: "Description",
                  classes: "govuk-fieldset__legend--s",
                  isPageHeading: false
                },
                errorMessage: errors | findError('steps[' + (loop.index-1) + '][title]')
              }) }}

              {% if loop.length > 1 %}
                {{ govukButton({
                  id: "delete-step-" + (loop.index-1),
                  attributes: {
                    'data-qa': 'step-' + (loop.index-1) + '-remove-button'
                  },
                  name: "action",
                  value: 'delete-step-[' + (loop.index-1) + ']',
                  text: "Remove",
                  classes: "govuk-button--secondary moj-add-another__remove-button"
                }) }}
              {% endif %}

              {% endcall %}
        
              <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
            {% endfor %}

            <div class="moj-button-action">
              {{ govukButton({
                id: "add-another-step-button",
                attributes: {
                  'data-qa': 'goal-update-add-another-step-button'
                },
                name: "action",
                value: "add-another-step",
                text: "Add another step",
                classes: "govuk-button--secondary govuk-!-margin-bottom-4"
              }) }}
            </div>

            <div class="moj-button-action">
              {{ govukButton({
                id: "submit-button",
                attributes: {
                  'data-qa': 'goal-update-submit-button'
                },
                name: "action",
                value: "submit-form",
                text: "Continue"
              }) }}
            </div>
        </form>

    </div>
  </div>

{% endblock %}
