{% extends "../../../partials/layout.njk" %}

{% set pageId = "review-update-goal" %}
{% set pageTitle = "Check your updates for the prisoner's goals" %}

{% block beforeContent %}
  {% include "../../../partials/breadcrumb.njk" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Check your updates for {{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }}'s goal</h1>

      <h2 class="govuk-heading-m govuk-visually-hidden">Goal details</h2>

      {% set goalStatusHtml %}
        {% if data.status == "COMPLETED" %}
          <strong class="govuk-tag govuk-tag--green">
            {{ data.status | formatGoalStatusValue }}
          </strong>
        {% elif data.status == "ACTIVE" %}
          <strong class="govuk-tag govuk-tag--blue">
            {{ data.status | formatGoalStatusValue }}
          </strong>
        {% else %}
          <strong class="govuk-tag govuk-tag--grey">
            {{ data.status | formatGoalStatusValue }}
          </strong>
        {% endif %}
      {% endset %}

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            {{ goalStatusHtml | safe }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Description
          </dt>
          <dd class="govuk-summary-list__value">
            <span class="app-u-multiline-text">{{ data.title }}</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            When are they aiming to achieve this by?
          </dt>
          <dd class="govuk-summary-list__value">
            by {{ data.targetCompletionDate | formatDate('D MMMM YYYY') }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Note
          </dt>
          <dd class="govuk-summary-list__value">
            <span class="app-u-multiline-text">{{ data.notes }}</span>
          </dd>
        </div>
      </dl>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Step details</caption>
        <thead class="govuk-table__head govuk-visually-hidden">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Step number</th>
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header app-u-width-20">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for step in data.steps %}

            {% set stepStatusHtml %}
              {% if step.status == "COMPLETE" %}
                <strong class="govuk-tag govuk-tag--green">
                  {{ step.status | formatStepStatusValue }}
                </strong>
              {% elif step.status == "ACTIVE" %}
                <strong class="govuk-tag govuk-tag--blue">
                  {{ step.status | formatStepStatusValue }}
                </strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--grey">
                  {{ step.status | formatStepStatusValue }}
                </strong>
              {% endif %}
            {% endset %}

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Step {{ step.sequenceNumber }}</th>
              <td class="govuk-table__cell app-u-multiline-text">{{ step.title }}</td>
              <td class="govuk-table__cell govuk-!-text-align-right">{{ stepStatusHtml | safe }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <form class="form" method="post" novalidate="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        <div class="govuk-form-group govuk-!-margin-bottom-4">
          {{ govukButton({
            type: "a",
            href: "/plan/" + prisonerSummary.prisonNumber + "/goals/" + data.goalReference + "/update",
            id: "back-to-edit-goal-button",
            text: "Go back to edit goal",
            classes: "moj-button-menu__item govuk-button--secondary",
            attributes: {
              'data-qa': 'goal-update-review-back-button'
            },
            preventDoubleClick: true
          }) }}
        </div>

        <div class="govuk-form-group">
          {{ govukButton({
            id: "submit-button",
            name: "action",
            value: "submit-form",
            text: "Save to learning and work plan",
            classes: "moj-button-menu__item",
            attributes: {
              'data-qa': 'goal-update-review-submit-button'
            },
            preventDoubleClick: true
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
