{% extends "../../partials/layout.njk" %}

{% set pageTitle = "What's new | Learning and work progress" %}
{% set pageId = "whats-new" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">What's new in LWP</h1>

      <h2 class="govuk-heading-m">Coming soon</h2>
      <p class="govuk-body">
        We've listened to user feedback about wanting to see qualifications from the Learning Record Service (LRS) in LWP.
      </p>
      <p class="govuk-body">
        The Department for Education runs LRS, it has all learners from 2013 onwards and gives them a Unique Learner Number (ULN). It stores qualification records and shares it securely between schools, colleges, training providers, prisons and awarding organisations.
      </p>

      <h2 class="govuk-heading-m">New Match someone's learning record service </h2>
      <p class="govuk-body">
        DPS has a new service related to LRS, <a href="{{ matchLearnerRecordUi }}" class="govuk-link" target="_blank">Match someone's learning record</a>.
        Here users with the right permission can match prison learners with their ULN. This pulls the learner's record from LRS into the service, making it visible in LWP for use in learning and work plans.
      </p>
      <p class="govuk-body">
        You can access this service on the DPS homepage. A <a href="https://justiceuk.sharepoint.com/sites/DigitalEducationPlatformDEPUserSupportHub925/_layouts/15/stream.aspx?id=%2Fsites%2FDigitalEducationPlatformDEPUserSupportHub925%2FShared%20Documents%2FGeneral%2FLWP%20Resources%2FLRS%20Demo%2Emp4&referrer=StreamWebApp%2EWeb&referrerScenario=AddressBarCopied%2Eview%2Efa14e931%2D9e34%2D4e90%2D868f%2Dd0081ec4ffdb" class="govuk-link" target="_blank">demo of how to use the Matching service</a> is available on SharePoint.
      </p>

      <h2 class="govuk-heading-m">What's changing on LWP </h2>
      <p class="govuk-body">
        We will show any matched qualifications from LRS. These will be qualifications entered by awarding organisations recognised by Ofqual, such as AQA, Pearson, OCR and City and Guilds.
      </p>
      <p class="govuk-body">
        The LWP Overview page will feature a qualification count. The Education and training page will show more details of all the qualifications someone has, including those from LRS.
      </p>
      <p class="govuk-body">
        If a learner has not yet been matched, LWP will display a link to the Match someone's learning record service. This will allow users to quickly get into the Matching service and match that record.
      </p>

      <h2 class="govuk-heading-m">What are the benefits?</h2>
      <p class="govuk-body">
        Having qualifications automatically appear in LWP will save staff time. They will no longer need to look them up and then manually enter them into the service.
      </p>
      <p class="govuk-body">
        Qualifications being available sooner will give a fuller picture of a learner and will help inductions and learning planning.
      </p>

      <p class="govuk-body">
        <a href="{{ prisonerListUrl }}">Back to LWP</a>
      </p>

    </div>
  </div>
{% endblock %}
