{% extends "../../partials/layout.njk" %}

{% set pageTitle = "What's new | Learning and work progress" %}
{% set pageId = "whats-new" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">What's new in LWP</h1>

      <h2 class="govuk-heading-m">1 April – new way of recording and tracking employability skills</h2>
      <p class="govuk-body">
        We've listened to user feedback about developing more ways to track prisoner progress in education, work and skills.
        As a first step, we've developed a feature to enhance how careers information, advice and guidance advisors (CIAGs) record and track employability skills.
      </p>

      <h2 class="govuk-heading-m">CIAG inductions and reviews: what's changing</h2>
      <p class="govuk-body">
        <strong>Induction:</strong> from 1 April CIAGs will see an updated skills question as part of the induction. It will include a quick way to rate someone's confidence in any of the 10 skills someone chooses.
      </p>
      <p class="govuk-body">
        <strong>Reviews:</strong> from 1 April CIAGs will need to start updating employability skills and ratings as part of their reviews with prisoners.
        Again, we have created and tested a quick and simple format to help conversations around skills development.
        Users of LWP will see a new 'Employability skills' tab where they can choose from the list of 10 skills.
      </p>

      <h2 class="govuk-heading-m">Updated guidance and paper form: 25 March</h2>
      <p class="govuk-body">
        From 25 March an updated paper form and 'How to use this service' guidance will be available in the
        <a href="https://justiceuk.sharepoint.com/sites/DigitalEducationPlatformDEPUserSupportHub925/SitePages/Learning-&-Work-Progress-Service-Resource-Library.aspx?csf=1&web=1&share=EVui9KpnqIdFgwwbSIuWyZAB4L-aMTzRlklv4z7EFpaMwA&e=7Oe3fl&CID=9e8ebbbd-348f-454b-8d29-80c59778466e" class="govuk-link" target="_blank">SharePoint LWP Resource Library</a>
        on the PES Digital Support Hub. The changes to the digital service will be live from 1 April.
      </p>

      <h2 class="govuk-heading-m">What are the benefits?</h2>
      <p class="govuk-body">
        Recording skills digitally improves information sharing across prisons, and regular skills reviews helps all staff and prisoners see and celebrate progress. Staff and learners can also plan together where more direction and support are needed.
      </p>
      <p class="govuk-body">
        Adding skills assessments to LWP will enable all staff across the prison to see this progress and act accordingly. For example, in the preparation of CVs or allocation to activities.
      </p>

      <p class="govuk-body">
        <a href="{{ prisonerListUrl }}">Back to LWP</a>
      </p>

    </div>
  </div>
{% endblock %}
