
{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Prisoner's learning and work progress" %}

{% set pageId = "overview" %}

{% block beforeMainContent %}
  <nav class="govuk-breadcrumbs govuk-!-display-none-print" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{ dpsUrl }}">Digital Prison Services</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{ prisonerListUrl }}">Manage learning and work progress</a>
      </li>
    </ol>
  </nav>
{% endblock %}

{% block content %}

  {# What’s New banner - uncomment and update content when needed
  <div class="govuk-grid-row whats-new-banner moj-hidden govuk-!-display-none-print" id="whats-new-banner" data-banner-version="lwp-2026-04-01">
    <div class="govuk-grid-column-full">
      <div class="govuk-body whats-new-container">
        <div class="whats-new-content">
          <strong class="whats-new-whats-new">
            1 April update
          </strong>
          <span>
            Changes to recording employability skills in CIAG sessions, <a class="govuk-link govuk-link--inverse" href="/whats-new">find out more on the What’s new page.</a>
          </span>
          <a class="whats-new-hide-message govuk-link govuk-link--inverse" href="#" aria-current="page">Delete message</a>
        </div>
      </div>
    </div>
  </div>
  #}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }}'s learning and work progress</h1>
    </div>
    <div class="govuk-grid-column-one-third">
      {% include "../../partials/printThisPage.njk" %}
    </div>
  </div>

  {% include "../../partials/prisonerBanner.njk" %}

  {% include './partials/navigation.njk' %}

  {% if tab === 'overview' %}
    {% include './partials/overviewTab/overviewTabContents.njk' %}
  {% elseif tab === 'history' %}
    {% include './partials/historyTab/historyTabContents.njk' %}
  {% elseif tab === 'additional-needs' %}
    {% include './partials/additionalNeedsTab/additionalNeedsTabContents.njk' %}
  {% elseif tab === 'education-and-training' %}
    {% include './partials/educationAndTrainingTab/educationAndTrainingTabContents.njk' %}
  {% elseif tab === 'work-and-interests' %}
    {% include './partials/workAndInterestsTab/workAndInterestsTabContents.njk' %}
  {% elseif tab === 'employability-skills' %}
    {% include './partials/employabilitySkillsTab/employabilitySkillsTabContents.njk' %}
  {% elseif tab === 'goals' %}
    {% include './partials/goalsTab/goalsTabContents.njk' %}
  {% endif %}

{% endblock %}
