
{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Prisoner's learning and work progress" %}

{% set pageId = "overview" %}

{% block beforeContent %}
  <nav class="govuk-breadcrumbs govuk-!-display-none-print" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{ dpsUrl }}">Digital Prison Services</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{ prisonerListUrl }}">Manage learning and work progress</a>
      </li>
    </ol>
  </nav>
  {% if showServiceOnboardingBanner === true %}
    {% include "../../partials/serviceOnboardingBanner.njk" %}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }}'s learning and work progress</h1>
    </div>
    <div class="govuk-grid-column-one-third">
      {% include "../../partials/printThisPage.njk" %}
    </div>
  </div>

  {% include "../../partials/prisonerBanner.njk" %}

  {% include './partials/navigation.njk' %}

  {% if tab === 'overview' %}
    {% include './partials/overviewTab/overviewTabContents.njk' %}
  {% endif %}
  {% if tab === 'history' %}
    {% include './partials/historyTab/historyTabContents.njk' %}
  {% endif %}
  {% if tab === 'support-needs' %}
    {% include './partials/supportNeedsTab/supportNeedsTabContents.njk' %}
  {% endif %}
  {% if tab === 'education-and-training' %}
    {% include './partials/educationAndTrainingTab/educationAndTrainingTabContents.njk' %}
  {% endif %}
  {% if tab === 'work-and-interests' %}
    {% include './partials/workAndInterestsTab/workAndInterestsTabContents.njk' %}
  {% endif %}

{% endblock %}
