{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Prisoner's learning and work progress" %}

{% set pageId = "overview" %}

{% block beforeContent %}
  <nav class="govuk-breadcrumbs govuk-!-display-none-print" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{ dpsUrl }}">Digital Prison Services</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{ prisonerListUrl }}">Manage learning and work progress</a>
      </li>
    </ol>
  </nav>
{% endblock %}

{% block content %}

  {% include "../../partials/prisonerBanner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Learning and work progress</span>
      <h1 class="govuk-heading-l">{{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }}'s learning and work progress</h1>
    </div>
    <div class="govuk-grid-column-one-third">
      {% if tab !== 'overview' or isPostInduction %}
        {# `Print this page` should not be on the pre-induction overview tab. Any other tab, or the post-induction Overview should get the `Print this page` link #}
        {% include "../../partials/printThisPage.njk" %}
      {% endif %}
    </div>
  </div>

  {% include './partials/navigation.njk' %}

  {% if tab === 'overview' %}
    {% include './partials/overviewTab/overviewTabContents.njk' %}
  {% endif %}
  {% if tab === 'support-needs' %}
    {% include './partials/supportNeedsTab/supportNeedsTabContents.njk' %}
  {% endif %}
  {% if tab === 'education-and-training' %}
    {% include './partials/educationAndTrainingTab/educationAndTrainingTabContents.njk' %}
  {% endif %}
  {% if tab === 'work-and-interests' %}
    {% include './partials/workAndInterestsTab/workAndInterestsTabContents.njk' %}
  {% endif %}
  {% if tab === 'timeline' %}
    {% include './partials/timelineTab/timelineTabContents.njk' %}
  {% endif %}

{% endblock %}
