{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Prisoner's learning and work progress" %}

{% set pageId = "view-archived-goals" %}

{% block beforeContent %}
  {% include "../../partials/breadcrumb.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Learning and work progress</span>
      <h1 class="govuk-heading-l">{{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }}'s learning and work progress</h1>
    </div>
    <div class="govuk-grid-column-one-third">
        {% include "../../partials/printThisPage.njk" %}
    </div>
  </div>

  {% include "../../partials/prisonerBanner.njk" %}

  <div class="moj-page-header-actions">
    <div class="moj-page-header-actions__title">
      <h2 class="govuk-heading-m">Archived goals</h2>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds app-u-print-full-width">
      <section data-qa="view-archived-goals-list">
        {% if not goals.problemRetrievingData %}
          {% if goals.goals | length > 0 %}
            {% for goal in goals.goals | sort(attribute = 'updatedAt', reverse = true) %}
              {{ goalSummaryCardV2({
                goal: goal,
                attributes: {
                  'data-qa': 'goal-summary-card'
                },
                classes: 'archived-goal-summary-card',
                lastUpdatedLabel: 'Archived on',
                actions: [
                  {
                    title: 'Reactivate<span class="govuk-visually-hidden"> this goal</span>',
                    href: '/plan/' + prisonerSummary.prisonNumber + '/goals/' + goal.goalReference + '/unarchive',
                    attributes: {
                      'data-qa': 'goal-'+ loop.index + '-unarchive-button'
                    },
                    'render-if': hasEditAuthority
                  }
                ]
              }) }}
            {% endfor %}
          {% else %}
           <p class="govuk-body" data-qa="no-archived-goals-message">{{ prisonerSummary.firstName + ' ' + prisonerSummary.lastName }} has no archived goals</p>
          {% endif %}
        {% else %}
          {% include './partials/_unavailableGoals.njk' %}
        {% endif %}
      </section>
    </div>
  </div>

{% endblock %}
