{% extends "../../../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
    {% include "../../../partials/breadCrumb.njk" %}
{% endblock %}

{% block content %}

  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    }) }}
  {% endif %}

  {% include "../../../partials/prisonerBanner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">What are the steps to help them achieve their goal {{ goalTitle }}</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {{ govukInput({
            label: {
              text: "Step 1",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            name: "title",
            id: "title",
            value: form.title,
            hint: {
              text: "Describe this step"
            },
            errorMessage: errors | findError('title')
          }) }}

          {{ govukDateInput({
            id: "targetDate",
            namePrefix: "targetDate",
            value: form.targetDate,
            fieldset: {
              legend: {
                text: "Target date (optional)",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "For example, 12 11 2024"
            },
            errorMessage: errors | findError('targetDate-day')
          }) }}
        </div>

        <div class="govuk-form-group">
          {{ govukButton({
            id: "add-step-button",
            name: "add-step-button",
            text: "Add another step",
            classes: "govuk-button--secondary"
          }) }}
        </div>

        {{ govukButton({
          id: "submit-button",
          name: "submit-button",
          text: "Continue to add a note"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
