{% extends "../../../partials/layout.njk" %}

{% set pageId = "add-step" %}
{% set pageTitle = "What are the steps to help them achieve their goal?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/plan/" + prisonerSummary.prisonNumber + "/goals/create"
  }) }}
{% endblock %}

{% block content %}

  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          <input type="hidden" name="stepNumber" value="{{ form.stepNumber }}" />

          {% set titleLabel = 'Step ' + form.stepNumber %}
          {{ govukInput({
            label: {
              text: titleLabel,
              classes: "govuk-label--m",
              isPageHeading: false
            },
            name: "title",
            id: "title",
            value: form.title,
            hint: {
              text: "Describe this step"
            },
            errorMessage: errors | findError('title')
          }) }}

          {{ govukRadios({
            name: "targetDateRange",
            id: "targetDateRange",
            value: form.targetDateRange,
            fieldset: {
              legend: {
                text: "When will they achieve this by?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "ZERO_TO_THREE_MONTHS",
                text: "0 to 3 months"
              },
              {
                value: "THREE_TO_SIX_MONTHS",
                text: "3 to 6 months"
              },
              {
                value: "SIX_TO_TWELVE_MONTHS",
                text: "6 to 12 months"
              },
              {
                value: "MORE_THAN_TWELVE_MONTHS",
                text: "More than 12 months"
              }
            ],
            errorMessage: errors | findError('targetDateRange')
          }) }}
        </div>

        <div class="govuk-form-group">
          {{ govukButton({
            id: "add-another-step-button",
            name: "action",
            value: "add-another-step",
            text: "Add another step",
            classes: "govuk-button--secondary"
          }) }}
        </div>

        {{ govukButton({
          id: "submit-button",
          name: "action",
          value: "submit-form",
          text: "Continue to add a note"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
