{% extends "../../../partials/layout.njk" %}

{% set pageId = "add-step" %}
{% set pageTitle = "What are the steps to help them achieve their goal?" %}

{% block beforeContent %}
  {% include "../../../partials/breadcrumb.njk" %}
{% endblock %}

{% block content %}

  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    }) }}
  {% endif %}

  {% include "../../../partials/prisonerBanner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">What are the steps to help them achieve their goal?</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          <input type="hidden" name="stepNumber" value="{{ form.stepNumber }}" />

          {% set titleLabel = 'Step ' + form.stepNumber %}
          {{ govukCharacterCount({
            name: "title",
            id: "title",
            value: form.title,
            maxlength: 512,
            label: {
              text: titleLabel,
              classes: "govuk-label--m",
              isPageHeading: false
            },
            hint: {
              text: "Describe this step"
            },
            errorMessage: errors | findError('title')
          }) }}

        </div>

        <div class="govuk-form-group">
          {{ govukButton({
            id: "add-another-step-button",
            name: "action",
            value: "add-another-step",
            text: "Add another step",
            classes: "govuk-button--secondary"
          }) }}
        </div>

        {{ govukButton({
          id: "submit-button",
          name: "action",
          value: "submit-form",
          text: "Continue to add a note"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
