{% if not functionalSkills.problemRetrievingData %}
  {% if functionalSkills.assessments.length %}
    <table class="govuk-table govuk-!-margin-bottom-8">
      <caption class="govuk-table__caption govuk-table__caption--m">Functional skills initial assessment scores</caption>
      <caption class="govuk-table__caption govuk-!-font-weight-regular govuk-body">
        Information from Curious. These scores are from a person's induction assessment. For recent functional skills qualifications, go to in-prison courses and qualifications.
      </caption>

      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Subject</th>
        <th scope="col" class="govuk-table__header">Location</th>
        <th scope="col" class="govuk-table__header">Level</th>
        <th scope="col" class="govuk-table__header">Assessed on</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      {% for item in functionalSkills.assessments %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ item.type | formatFunctionalSkillType }}</td>
          <td class="govuk-table__cell"> {{ item.prisonName }}</td>
          <td class="govuk-table__cell"> {{ item.grade }}</td>
          <td class="govuk-table__cell">{{ item.assessmentDate | formatDate('D MMM YYYY') }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <section class="govuk-!-margin-bottom-8">
      <h2 class="govuk-heading-m">Functional skills assessment levels</h2>
      <p>Functional skills assessment scores inform in-prison work and education allocations.</p>
      <p>{{ prisonerSummary.firstName + " " + prisonerSummary.lastName }} has no recorded functional skills assessment scores.</p>
    </section>
  {% endif %}
{% else %}
  <section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m">Functional skills assessment levels</h2>
    <h3 class="govuk-heading-s" data-qa="functional-skills-curious-unavailable-message">We cannot show these details from Curious right now</h3>
    <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>
  </section>
{% endif %}
