{% extends "../../../partials/layout.njk" %}

{% set pageId = "induction-affect-ability-to-work" %}
{% set pageTitle = "Are there any factors that could stop or affect them working when they are out of prison?" %}

{#
Data supplied to this template:
  * prisonerSummary - object with firstName and lastName
  * form - form object containing the following fields:
    * affectAbilityToWork - Array existing values for field
    * affectAbilityToWorkOther? - value for when Other is selected
  * errors? - validation errors
#}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#",
    classes: "js-back-link"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% set otherHtml %}
            {{ govukTextarea({
              id: "affectAbilityToWorkOther",
              name: "affectAbilityToWorkOther",
              rows: "2",
              value: form.affectAbilityToWorkOther,
              type: "text",
              label: {
                text: "Give details",
                attributes: { "aria-live": "polite" }
              },
              attributes: { "aria-label" : "Give details of any factors that could affect their ability to work" },
              errorMessage: errors | findError('affectAbilityToWorkOther')
            }) }}
          {% endset -%}

          {{ govukCheckboxes({
            name: "affectAbilityToWork",
            fieldset: {
              legend: {
                  text: "What does " + prisonerSummary.firstName + " " + prisonerSummary.lastName + " feel could stop or affect them working when they are out of prison?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
              {
                value: "LIMITED_BY_OFFENCE",
                checked: form.affectAbilityToWork.includes("LIMITED_BY_OFFENCE"),
                text: "LIMITED_BY_OFFENCE" | formatAbilityToWorkConstraint
              },
              {
                value: "CARING_RESPONSIBILITIES",
                checked: form.affectAbilityToWork.includes("CARING_RESPONSIBILITIES"),
                text: "CARING_RESPONSIBILITIES" | formatAbilityToWorkConstraint
              },
              {
                value: "NEEDS_WORK_ADJUSTMENTS_DUE_TO_HEALTH",
                checked: form.affectAbilityToWork.includes("NEEDS_WORK_ADJUSTMENTS_DUE_TO_HEALTH"),
                text: "NEEDS_WORK_ADJUSTMENTS_DUE_TO_HEALTH" | formatAbilityToWorkConstraint
              },
              {
                value: "UNABLE_TO_WORK_DUE_TO_HEALTH",
                checked: form.affectAbilityToWork.includes("UNABLE_TO_WORK_DUE_TO_HEALTH"),
                text: "UNABLE_TO_WORK_DUE_TO_HEALTH" | formatAbilityToWorkConstraint
              },
              {
                value: "LACKS_CONFIDENCE_OR_MOTIVATION",
                checked: form.affectAbilityToWork.includes("LACKS_CONFIDENCE_OR_MOTIVATION"),
                text: "LACKS_CONFIDENCE_OR_MOTIVATION" | formatAbilityToWorkConstraint
              },
              {
                value: "REFUSED_SUPPORT_WITH_NO_REASON",
                checked: form.affectAbilityToWork.includes("REFUSED_SUPPORT_WITH_NO_REASON"),
                text: "REFUSED_SUPPORT_WITH_NO_REASON" | formatAbilityToWorkConstraint
              },
              {
                value: "RETIRED",
                checked: form.affectAbilityToWork.includes("RETIRED"),
                text: "RETIRED" | formatAbilityToWorkConstraint
              },
              {
                value: "NO_RIGHT_TO_WORK",
                checked: form.affectAbilityToWork.includes("NO_RIGHT_TO_WORK"),
                text: "NO_RIGHT_TO_WORK" | formatAbilityToWorkConstraint
              },
              {
                value: "NOT_SURE",
                checked: form.affectAbilityToWork.includes("NOT_SURE"),
                text: "NOT_SURE" | formatAbilityToWorkConstraint
              },
              {
                value: "OTHER",
                checked: form.affectAbilityToWork.includes("OTHER"),
                text: "OTHER" | formatAbilityToWorkConstraint,
                attributes: { "aria-label": "OTHER" | formatAbilityToWorkConstraint + " (Opens a dialogue box)" },
                conditional: {
                  html: otherHtml
                }
              },
              {
                divider: "or"
              },
              {
                value: "NONE",
                text:"NONE" | formatAbilityToWorkConstraint,
                checked: form.affectAbilityToWork.includes("NONE"),
                behaviour: "exclusive"
              }
            ],
            errorMessage: errors | findError('affectAbilityToWork')
          }) }}
        </div>

        {{ govukButton({
            id: "submit-button",
            text: "Continue",
            type: "submit",
            attributes: {"data-qa": "submit-button"}
          }) }}
      </form>
    </div>
  </div>

{% endblock %}
