{#  -------------------------------------------------------------
    Sortable column header for use on Prisoner List page
    `config` argument is an object with the following properties:
      * searchTerm - the search term that the Prisoner List page is currently filtered by
      * statusFilter - the value of the status filter dropdown that the Prisoner List page is currently filtered on
      * sortBy - the fieldName that the Prisoner List is currently sorted by ( name | location | release-date | reception-date | status)
      * sortOrder - the sort order that the Prisoner List is currently sorted on ( ascending | descending )
      * fieldName - field name of this column ( name | location | release-date | reception-date | status)
      * headerText - Display text for table header of this column
    ------------------------------------------------------------- #}
{% macro sortableTableHeader(config) %}

  <th scope="col" class="govuk-table__header"
      aria-sort="{{ config.sortOrder if config.sortBy === config.fieldName else 'none' }}" {# If this column header is the current sortBy field then use the current sort order value, else `none`#}
      data-qa="{{ config.fieldName }}-column-header">

    {# Set a variable defining the new sort order that will be used if this header is clicked.
       If this column header is the current sortBy field then use the opposite of the current sort order.
       If this column header is not the current sortBy field then use `ascending`
    #}
    {%- set newSortOrder -%}
      {%- if config.sortBy !== config.fieldName -%}
        ascending
      {%- else -%}
        {{- 'ascending' if config.sortOrder === 'descending' else 'descending' -}}
      {%- endif -%}
    {%- endset -%}

    <button
        {# Button submits the form with the field `sort` set to a comma delimited value of the field name and the new sort order #}
        name="sort"
        value="{{ config.fieldName }},{{ newSortOrder }}"
        type="submit"
        class="sortable-table-header__button">
      <span class="govuk-visually-hidden">Sort by</span>
      {{ config.headerText }}
      <span class="govuk-visually-hidden">
        ({{ config.sortOrder if config.sortBy === config.fieldName else 'not sorted' }})
      </span>
    </button>
  </th>

{% endmacro %}
