<div class="moj-timeline__item" data-qa-event-type="INDUCTION_UPDATED">
  <div class="moj-timeline__header">
    <h2 class="moj-timeline__title">Learning and work plan updated</h2>
    <p class="moj-timeline__byline govuk-!-display-none-print">by {{ event.actionedByDisplayName }}, {{ event.prisonName }}</p>
  </div>

  <p class="moj-timeline__date">
    <time datetime="{{ event.timestamp }}">{{ event.timestamp | formatDate('D MMMM YYYY') }}</time>
  </p>
</div>
