<div class="govuk-summary-card" data-qa="challenges-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Challenges</h2>
    <ul class="govuk-summary-card__actions govuk-!-font-weight-regular govuk-!-display-none-print">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="{{ supportAdditionalNeedsUrl }}/profile/{{ prisonerSummary.prisonNumber }}/challenges" target="_blank" data-qa="view-san-challenges-link">
          View <span class="govuk-visually-hidden">this person's</span> challenges<span class="govuk-visually-hidden"> (opens in a new tab)</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="govuk-summary-card__content">
    {% if challengeCategories.isFulfilled() %}
      {% set challengeCategories = challengeCategories.value %}

      {% if challengeCategories | length %}
        <ul class="govuk-list" data-qa=san-challenges-list>
          {% for category in challengeCategories %}
            <li data-qa="challenge_{{ category }}">{{ category | formatChallengeCategoryScreenValue | default(category, true) }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p class="govuk-body" data-qa="no-challenges-recorded-message">
          No challenges recorded
        </p>
      {% endif %}

    {% else %}
      <h3 class="govuk-heading-s" data-qa="san-challenges-unavailable-message">We cannot show these details right now</h3>
      <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>
    {% endif %}
  </div>
</div>
