<div class="govuk-summary-card" data-qa="strengths-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      <a class="govuk-link govuk-!-display-none-print" href="{{ supportAdditionalNeedsUrl }}/profile/{{ prisonerSummary.prisonNumber }}/strengths" target="_blank">
        Strengths
      </a>
    </h2>
  </div>
  <div class="govuk-summary-card__content">
    <p class="govuk-body">No strengths recorded</p>
  </div>
</div>
