<div class="govuk-summary-card" data-qa="support_strategies-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      <a class="govuk-link govuk-!-display-none-print" href="{{ supportAdditionalNeedsUrl }}/profile/{{ prisonerSummary.prisonNumber }}/support-strategies" target="_blank">
        Support stategies
      </a>
    </h2>
  </div>
  <div class="govuk-summary-card__content">
    <p class="govuk-body">No support strategies recorded</p>
  </div>
</div>
