{% set prisonNamesById = prisonNamesById.value if prisonNamesById.isFulfilled() else {} %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-summary-card" data-qa="health-and-support-needs-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Screening and assessment results from Curious</h2>
      </div>
      <div class="govuk-summary-card__content">

        {% if curiousAlnAndLddAssessments.isFulfilled() %}
          {% set curiousAlnAndLddAssessments = curiousAlnAndLddAssessments.value %}
          {% set lddAssessments = curiousAlnAndLddAssessments.lddAssessments %}

          {% if lddAssessments | length %}

            <p class="govuk-hint">This is information from the education team entered in Curious and is not a medical diagnosis.</p>
            {% for lddAssessment in lddAssessments %}
              <section data-qa="ldd-assessment-recorded-at-{{ lddAssessment.prisonId }}">
                {% set prisonName = prisonNamesById[lddAssessment.prisonId] | default(lddAssessment.prisonId) %}
                <h3 class="govuk-heading-m" data-qa="prison-name">
                  <span class="govuk-visually-hidden">{{ prisonerSummary.firstName }} {{ prisonerSummary.lastName | capitalize }}'s learning difficulties, disabilities and health needs recorded whilst at</span>
                  {{ prisonName }}
                </h3>
                <dl class="govuk-summary-list govuk-!-margin-bottom-6" data-qa="support-needs-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Rapid screener from induction
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa="rapid-assessment-date">
                      {{ lddAssessment.rapidAssessmentDate | formatDate('D MMMM YYYY') | default('Not recorded in Curious') }}
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      In-depth assessment by education
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa="in-depth-assessment-date">
                      {{ lddAssessment.inDepthAssessmentDate | formatDate('D MMMM YYYY') | default('Not recorded in Curious') }}
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Primary area of need identified
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa="primary-ldd-needs">
                      {{ lddAssessment.primaryLddAndHealthNeed | default('Not recorded in Curious') }}
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Other areas of need identified
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa="additional-ldd-needs">
                      {% if lddAssessment.additionalLddAndHealthNeeds.length > 0 %}
                        <ul class="govuk-list">
                          {% for additionalLddAndHealthNeed in lddAssessment.additionalLddAndHealthNeeds %}
                            <li>{{ additionalLddAndHealthNeed }}</li>
                          {% endfor %}
                        </ul>
                      {% else %}
                        Not recorded in Curious
                      {% endif %}
                    </dd>
                  </div>
                </dl>
              </section>
            {% endfor %}

          {% else %}
            <p class="govuk-body" data-qa="no-assessments-message">
              {{ prisonerSummary.firstName }} {{ prisonerSummary.lastName }} has no screener and assessment results recorded in Curious.
            </p>
          {% endif %}

        {% else %}
          <h3 class="govuk-heading-s" data-qa="curious-assessments-unavailable-message">We cannot show these details right now</h3>
          <p class="govuk-body">
            Reload the page or try again later. Other parts of this service may still be available.
          </p>
        {% endif %}

      </div>
    </div>

  </div>
</div>
