{% set prisonNamesById = prisonNamesById.value if prisonNamesById.isFulfilled() else {} %}

{% if featureToggles.displaySanData %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      {% include './_challengesSummaryCard.njk' %}
    </div>

    <div class="govuk-grid-column-one-third">
      {% include './_strengthsSummaryCard.njk' %}
    </div>

    <div class="govuk-grid-column-one-third">
      {% include './_conditionsSummaryCard.njk' %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include './_supportStrategiesSummaryCard.njk' %}
    </div>
  </div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include './_screeningsAndAssessmentsSummaryCard.njk' %}
  </div>
</div>
