{% set prisonNamesById = prisonNamesById.value if prisonNamesById.isFulfilled() else {} %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="three-column-summary-cards">
      {% include './_challengesSummaryCard.njk' %}
      {% include './_strengthsSummaryCard.njk' %}
      {% include './_conditionsSummaryCard.njk' %}
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include './_supportStrategiesSummaryCard.njk' %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include './_screeningsAndAssessmentsSummaryCard.njk' %}
  </div>
</div>
