<section class="dps-homepage-search govuk-!-display-none-print">
  {# Wrap the search / filter controls in a form that contains hidden fields for the current sort order.
     This ensures that when then Prisoner List page is filtered the current sort field and order are maintained.
  #}
  <form class="form" method="get">
    <input type="hidden" name="sort" value="{{ sortBy }},{{ sortOrder }}" />
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Filter by</legend>
        <div class="govuk-form-group govuk-form-group--inline govuk-!-margin-bottom-3">
          <div class="govuk-form-group govuk-form-group__item">
              <label class="govuk-label" for="searchTerm">
                Prisoner's name or prison number
              </label>
              <input class="govuk-input hmpps-width-20"
                id="searchTerm"
                name="searchTerm"
                type="search"
                value="{{ searchTerm }}"
                maxlength="200">
          </div>
          <div class="govuk-form-group govuk-form-group__item">
            <label class="govuk-label" for="statusFilter">
              Status
            </label>
            <select class="govuk-select" id="statusFilter" name="statusFilter">
              <option value="" {{ 'selected' if statusFilter === ''}}>All statuses</option>
              <option value="PLAN_CREATED" {{ 'selected' if statusFilter === 'PLAN_CREATED'}}>Plan created</option>
              <option value="NEEDS_PLAN" {{ 'selected' if statusFilter === 'NEEDS_PLAN'}}>Needs plan</option>
            </select>
          </div>
          <div class="govuk-form-group__button">
            <button type="submit" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true" data-qa="apply-filters">
              Apply filters
            </button>
          </div>
        </div>
      {% if searchTerm or statusFilter %}
        <p class="govuk-!-margin-bottom-0">
          {# Reset the Prisoner List page filters using an anchor link with blank searchTerm and statusFilter field values.
              The link also contains the current sort order to ensure the current sort field and order are maintained after
              reseting the filter.
          #}
          <a class="govuk-link govuk-link--no-visited-state" href="/?searchTerm=&statusFilter=&sort={{ sortBy }},{{ sortOrder }}" data-qa="clear-filters">
            Clear<span class="govuk-visually-hidden"> filter options</span>
          </a>
        </p>
      {% endif %}
    </fieldset>
  </form>

</section>
