{% from "../macros/sortableTableHeader.njk" import sortableTableHeader %}

{# TODO: Logic for the problemRetrievingData #}
{% if not ciagPrisonerList.problemRetrievingData %}

  {% if currentPageOfRecords | length %}

    {# Wrap the Prisoner List table in a form that contains hidden fields for the current search term, status filter and page.
     This ensures that when then Prisoner List page is sorted via the buttons in the table header the current
     search term, status filter and page are maintained.
    #}
    <form class="form" method="get">
      <input type="hidden" name="searchTerm" value="{{ searchTerm }}" />
      <input type="hidden" name="statusFilter" value="{{ statusFilter }}" />
      <input type="hidden" name="page" value="{{ page }}" />

      <table class="govuk-table" data-module="moj-sortable-table" data-qa="prisoner-list-results-table">
        <caption><span class="govuk-visually-hidden">column headers with buttons are sortable.</span></caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row" data-qa="sortable-table-headers">
            {{ sortableTableHeader({
              searchTerm: searchTerm,
              statusFilter: statusFilter,
              sortBy: sortBy,
              sortOrder: sortOrder,
              fieldName: 'name',
              headerText: 'Prisoner'
            }) }}
            {{ sortableTableHeader({
              searchTerm: searchTerm,
              statusFilter: statusFilter,
              sortBy: sortBy,
              sortOrder: sortOrder,
              fieldName: 'location',
              headerText: 'Location'
            }) }}
            {{ sortableTableHeader({
              searchTerm: searchTerm,
              statusFilter: statusFilter,
              sortBy: sortBy,
              sortOrder: sortOrder,
              fieldName: 'release-date',
              headerText: 'Release date'
            }) }}
            {{ sortableTableHeader({
              searchTerm: searchTerm,
              statusFilter: statusFilter,
              sortBy: sortBy,
              sortOrder: sortOrder,
              fieldName: 'reception-date',
              headerText: 'Entered prison on'
            }) }}
            {{ sortableTableHeader({
              searchTerm: searchTerm,
              statusFilter: statusFilter,
              sortBy: sortBy,
              sortOrder: sortOrder,
              fieldName: 'status',
              headerText: 'Status'
            }) }}
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          {% for prisoner in currentPageOfRecords %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="/plan/{{ prisoner.prisonNumber }}/view/overview" rel="noopener noreferrer" class="govuk-link govuk-link--no-visited-state">
                  {{ prisoner.lastName }}, {{ prisoner.firstName }}
                </a>
                <br>
                <span class='govuk-hint govuk-!-margin-bottom-0'>{{ prisoner.prisonNumber }}</span>
              </td>
              <td class="govuk-table__cell">{{ prisoner.location }}</td>
              <td class="govuk-table__cell">{{ prisoner.releaseDate | formatDate('D MMMM YYYY') or 'N/A' }}</td>
              <td class="govuk-table__cell">{{ prisoner.receptionDate | formatDate('D MMMM YYYY') or 'N/A' }}</td>
              <td class="govuk-table__cell">
                {% if not (prisoner.hasCiagInduction === true and prisoner.hasActionPlan === true) %}
                  <strong class="govuk-tag govuk-tag--red">Needs plan</strong>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>

    <section data-qa="prisoner-list-pagination">
      {{ mojPagination({
        items: items,
        results: results,
        previous: previousPage if previousPage.href,
        next: nextPage if nextPage.href
      }) }}
    </section>

  {% else %}
    <h2 class="govuk-heading-m" data-qa="zero-results-message">0 results for "{{ searchTerm }}"</h2>
    <p class="govuk-body govuk-!-font-size-19">Check your spelling and search again, or clear the search and browse for the prisoner.</p>
  {% endif %}

{% else %}
  <h2 class="govuk-heading-m" data-qa="ciag-unavailable-message">We cannot show these details right now</h2>
  <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>
{% endif %}
