{# ALN Assessments Details macro

Data supplied to this marco:
  params: {
    prisonerSummary: PrisonerSummary
    alnAssessments: Array<CuriousAlnAssessmentDto> - The LDD Assessments from Curious
    prisonNamesById: Object of key value pairs, where the key is the prison ID, and the value is the prison name
    id: string
    classes: string
    attributes: Object of key value pairs of additonal attributes to add the to the component
  }
#}
{% macro alnAssessmentsDetails(params) %}
  {%- include "./template.njk" -%}
{% endmacro %}
