# Per environment values which override defaults in hmpps-education-and-work-plan/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: learning-and-work-progress-dev.hmpps.service.justice.gov.uk

  scheduledDowntime:
    enabled: true
    startup: '30 6 * * 1-5' # Start at 6.30am UTC Monday-Friday
    shutdown: '00 21 * * 1-5' # Stop at 9.00pm UTC Monday-Friday

  env:
    INGRESS_URL: 'https://learning-and-work-progress-dev.hmpps.service.justice.gov.uk'
    HMPPS_AUTH_URL: 'https://sign-in-dev.hmpps.service.justice.gov.uk/auth'
    MANAGE_USERS_API_URL: 'https://manage-users-api-dev.hmpps.service.justice.gov.uk'
    TOKEN_VERIFICATION_API_URL: 'https://token-verification-api-dev.prison.service.justice.gov.uk'
    EDUCATION_AND_WORK_PLAN_API_URL: 'https://learningandworkprogress-api-dev.hmpps.service.justice.gov.uk'
    PRISONER_SEARCH_API_URL: 'https://prisoner-search-dev.prison.service.justice.gov.uk'
    PRISON_REGISTER_API_URL: 'https://prison-register-dev.hmpps.service.justice.gov.uk'
    CURIOUS_API_URL: 'https://testservices.sequation.net/sequation-virtual-campus2-api'
    DPS_URL: 'https://digital-dev.prison.service.justice.gov.uk'
    NEW_DPS_URL: 'https://dps-dev.prison.service.justice.gov.uk'
    COMPONENT_API_URL: 'https://frontend-components-dev.hmpps.service.justice.gov.uk'
    LEARNER_RECORDS_API_URL: 'https://learner-records-api-dev.hmpps.service.justice.gov.uk'
    SUPPORT_ADDITIONAL_NEEDS_API_URL: 'https://support-for-additional-needs-api-dev.hmpps.service.justice.gov.uk'
    SUPPORT_ADDITIONAL_NEEDS_UI_URL: "https://support-for-additional-needs-dev.hmpps.service.justice.gov.uk"
    ENVIRONMENT_NAME: 'DEV'

  allowlist:
    uservision-accessibility-testers: 5.181.59.114/32
    cymulate-1: 54.217.50.18/32
    cymulate-2: 52.208.202.111/32
    cymulate-3: 52.49.144.209/32
    groups:
      - internal
      - prisons
      - private_prisons
      - prisons-education

generic-prometheus-alerts:
  alertSeverity: hmpps-support-additional-needs-dev
  businessHoursOnly: true
