{% extends "../../../partials/layout.njk" %}

{% set pageTitle = "Add employability skill ratings" %}
{% set pageId = "add-employability-skill-ratings" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#",
    classes: "js-back-link"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Agree a rating with {{ prisonerSummary | formatFirst_name_Last_name }} for their {{ skillType | formatEmployabilitySkill | lower }} skills</h1>
      <p class="govuk-body">{{ skillType | formatEmployabilitySkillQuestionText }}</p>

      <form class="form" method="post" novalidate="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{ govukRadios({
          name: 'rating',
          id: 'rating',
          fieldset: {
            legend: {
              text: "Select a rating",
              classes: "govuk-fieldset__legend--s"
            },
            classes: "govuk-!-margin-top-6"
          },
          hint: {
            text: "Current rating is preselected. It is saved when you update it."
          },
          items: [
            {
              value: "NOT_CONFIDENT",
              text: "NOT_CONFIDENT" | formatEmployabilitySkillRating,
              checked: true if form.rating == 'NOT_CONFIDENT' else false
            },
            {
              value: "LITTLE_CONFIDENCE",
              text: "LITTLE_CONFIDENCE" | formatEmployabilitySkillRating,
              checked: true if form.rating == 'LITTLE_CONFIDENCE' else false
            },
            {
              value: "QUITE_CONFIDENT",
              text: "QUITE_CONFIDENT" | formatEmployabilitySkillRating,
              checked: true if form.rating == 'QUITE_CONFIDENT' else false
            },
            {
              value: "VERY_CONFIDENT",
              text: "VERY_CONFIDENT" | formatEmployabilitySkillRating,
              checked: true if form.rating == 'VERY_CONFIDENT' else false
            }
          ],
          errorMessage: errors | findError('rating')
        }) }}

        <h3 class="govuk-heading-s">Add evidence for this rating</h3>
        {{ govukWarningText({
          text: "This will be shared with the learner and prison staff",
          iconFallbackText: "Warning",
          classes: "govuk-!-margin-bottom-2"
        }) }}

        {{ govukCharacterCount({
          id: "evidence",
          name: "evidence",
          rows: "2",
          value: form.evidence,
          maxlength: 200,
          label: {
            text: "What evidence is there for this rating?",
            attributes: { "aria-live": "polite" }
          },
          attributes: { "aria-label" : "Give details as to the evidence supporting the rating" },
          errorMessage: errors | findError('evidence')
        }) }}


        {{ govukButton({
          id: 'submit-button',
          text: 'Save assessment',
          type: 'submit',
          attributes: {'data-qa': 'submit-button'},
          preventDoubleClick: true
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
