{% extends "../../../partials/layout.njk" %}

{% set pageId = "complete-goal" %}
{% set pageTitle = "Confirm you want to complete the goal" %}

{% block beforeContent %}
  {% include "../../../partials/breadcrumb.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Are you sure you want to mark this goal as completed?</h1>
      <section class="complete-goal-summary">
        <h3 class="govuk-heading-s">Goal</h3>
        <p class="govuk-body app-u-multiline-text" data-qa="goal-to-be-completed-summary">{{ form.title }}</p>
      </section>

      <form class="form" method="post" novalidate="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <input type="hidden" name="reference" value="{{ form.reference }}" data-qa="goal-reference" />
        <input type="hidden" name="title" value="{{ form.title }}" data-qa="goal-title" />

        <div class="govuk-form-group">
          <div class="govuk-form-group">
            {{ govukTextarea({
              name: "notes",
              id: "notes",
              value: form.notes,
              label: {
                html: '<h2 class="govuk-label--m">Add a note (optional)</h2>'
              },
              hint: {
                text: "Learning and work plans, including notes, are shared with prisoners and other staff"
              }
            }) }}
          </div>

          {{ govukButton({
            id: "submit-button",
            name: "action",
            value: "submit-form",
            text: "Yes, complete goal",
            classes: "moj-button-menu__item",
            attributes: {
              'data-qa': 'goal-complete-submit-button'
            },
            preventDoubleClick: true
          }) }}

          {{ govukButton({
            type: "a",
            href: "/plan/" + prisonerSummary.prisonNumber + "/view/overview",
            id: "back-to-overview-button",
            text: "No, go back to learning and work plan",
            classes: "moj-button-menu__item govuk-button--secondary",
            attributes: {
              'data-qa': 'goal-complete-back-button'
            },
            preventDoubleClick: true
          }) }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
