<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds app-u-print-full-width">

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title" data-qa="education-without-induction-title">Education and qualifications history</h2>
      </div>

      <div class="govuk-summary-card__content govuk-!-padding-bottom-0">
        <div class="app-summary-card__change-link">
          <h3 class="govuk-heading-s app-summary-card__change-link__heading">Educational qualifications</h3>
          <a class="govuk-link app-summary-card__change-link__link govuk-!-display-none-print" href="javascript:void(0);" data-qa="educational-qualifications-change-link">
            {% if education.educationDto.qualifications | length %}
              Change<span class="govuk-visually-hidden">
                qualifications by adding or removing qualifications</span>
            {% else %}
              Change<span class="govuk-visually-hidden">
                qualifications by setting the highest level of education and adding one or more qualifications if they took exams</span></a>
          {% endif %}
        </a>
      </div>

      {% if education.educationDto.qualifications | length %}
        <table class="govuk-table govuk-!-margin-top-4" data-qa="education-previous-qualifications-table">
          <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Details of prisoners educational qualifications</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Subject</th>
              <th scope="col" class="govuk-table__header">Level</th>
              <th scope="col" class="govuk-table__header">Grade</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for qualification in education.educationDto.qualifications | achievedQualificationObjectsSortedInScreenOrder %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ qualification.subject }}</td>
                <td class="govuk-table__cell">{{ qualification.level | formatQualificationLevel }}</td>
                <td class="govuk-table__cell">{{ qualification.grade }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p class="govuk-body govuk-!-margin-top-4" data-qa="no-educational-qualifications-recorded">No educational qualifications recorded</p>
      {% endif %}

      <dl class="govuk-summary-list" id="other-qualifications-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Highest level of education before prison
          </dt>
          <dd class="govuk-summary-list__value">
            <p class='govuk-body' data-qa="highest-level-of-education">
              {% if education.educationDto.educationLevel %}
                {{ education.educationDto.educationLevel | formatEducationLevel }}
              {% else %}
                Not recorded.
              {% endif %}
            </p>
          </dd>
          <dd class="govuk-summary-list__actions govuk-!-display-none-print">
            <a class="govuk-link" href="javascript:void(0);" data-qa="highest-level-of-education-change-link">
              {{ 'Change' }}
              <span class="govuk-visually-hidden">
                highest level of education before prison</span>
            </a>
          </dd>
        </div>
      </div>

      <div class="govuk-summary-card__content govuk-!-padding-top-0">
        <p class="govuk-hint govuk-body govuk-!-font-size-16" data-qa="last-updated">Last updated:
          {{ education.educationDto.updatedAt | formatDate('D MMMM YYYY') }}
          by
          {{ education.educationDto.updatedByDisplayName }}</p>
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible" style="margin-top: 10px;">
      </div>

      <div class="govuk-summary-card__content">
        <h2 class="govuk-heading-s">Other qualifications and history</h2>
        <p class="govuk-body">
          To add education history, including vocational qualifications,
          <a href="/prisoners/{{ prisonerSummary.prisonNumber }}/create-induction/hoping-to-work-on-release" class="govuk-link" data-qa="link-to-create-induction">create a learning and work progress plan</a>
          with
          {{ prisonerSummary.firstName }}
          {{ prisonerSummary.lastName }}.
        </p>
      </div>

    </div>
  </div>
</div>