<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Functional skills initial assessment results</h2>
    <ul class="govuk-summary-card__actions govuk-!-display-none-print">
        <li class="govuk-summary-card__action">
          <a class="govuk-link" href="../functional-skills" data-qa="view-all-functional-skills-button">View all<span class="govuk-visually-hidden"> functional skills assessment scores</span></a>
        </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    {% if prisonerFunctionalSkills.isFulfilled() %}
    {% set prisonerFunctionalSkills = prisonerFunctionalSkills.value %}
    {% set mostRecentEnglishAssessment = prisonerFunctionalSkills.assessments | filterArrayOnProperty('type', 'ENGLISH') | sort(attribute = 'assessmentDate', reverse = true) | first %}
    {% set mostRecentMathsAssessment = prisonerFunctionalSkills.assessments | filterArrayOnProperty('type', 'MATHS') | sort(attribute = 'assessmentDate', reverse = true) | first %}
    {% set mostRecentDigitalSkillsAssessment = prisonerFunctionalSkills.assessments | filterArrayOnProperty('type', 'DIGITAL_LITERACY') | sort(attribute = 'assessmentDate', reverse = true) | first %}
    {% set mostRecentReadingAssessment = prisonerFunctionalSkills.assessments | filterArrayOnProperty('type', 'READING') | sort(attribute = 'assessmentDate', reverse = true) | first %}
    {% set mostRecentEsolAssessment = prisonerFunctionalSkills.assessments | filterArrayOnProperty('type', 'ESOL') | sort(attribute = 'assessmentDate', reverse = true) | first %}
    {% set mostRecentAssessmentsOfType = [] %}
    {% if mostRecentEnglishAssessment %}
      {% set mostRecentAssessmentsOfType = (mostRecentAssessmentsOfType.push(mostRecentEnglishAssessment), mostRecentAssessmentsOfType) %}
    {% endif %}
    {% if mostRecentMathsAssessment %}
      {% set mostRecentAssessmentsOfType = (mostRecentAssessmentsOfType.push(mostRecentMathsAssessment), mostRecentAssessmentsOfType) %}
    {% endif %}
    {% if mostRecentDigitalSkillsAssessment %}
      {% set mostRecentAssessmentsOfType = (mostRecentAssessmentsOfType.push(mostRecentDigitalSkillsAssessment), mostRecentAssessmentsOfType) %}
    {% endif %}
    {% if mostRecentReadingAssessment %}
      {% set mostRecentAssessmentsOfType = (mostRecentAssessmentsOfType.push(mostRecentReadingAssessment), mostRecentAssessmentsOfType) %}
    {% endif %}
    {% if mostRecentEsolAssessment %}
      {% set mostRecentAssessmentsOfType = (mostRecentAssessmentsOfType.push(mostRecentEsolAssessment), mostRecentAssessmentsOfType) %}
    {% endif %}

    <p class="govuk-hint">
      Information from Curious. These scores are from a person's induction assessment. For recent functional skills qualifications, go to in-prison courses and qualifications.
    </p>

    {% if mostRecentAssessmentsOfType.length %}
      <table class="govuk-table" id="latest-functional-skills-table">
        <caption class="govuk-table__caption govuk-visually-hidden">Details of functional skills assessment scores</caption>

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Subject</th>
            <th scope="col" class="govuk-table__header">Location</th>
            <th scope="col" class="govuk-table__header">Assessed on</th>
            <th scope="col" class="govuk-table__header">Assessment outcome</th>
            <th scope="col" class="govuk-table__header">Next steps</th>
            <th scope="col" class="govuk-table__header">Referral</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          {% for functionalSkillAssessment in mostRecentAssessmentsOfType %}
            <tr class="govuk-table__row" data-qa="functional-skill-{{ functionalSkillAssessment.type }}">
              <td class="govuk-table__cell">{{ functionalSkillAssessment.type | formatFunctionalSkillType }}</td>
              {% set prisonName = prisonNamesById[functionalSkillAssessment.prisonId] | default(functionalSkillAssessment.prisonId) %}
              <td class="govuk-table__cell">{{ prisonName }}</td>
              <td class="govuk-table__cell">{{ functionalSkillAssessment.assessmentDate | formatDate('d MMM yyyy') }}</td>
              <td class="govuk-table__cell">{{ functionalSkillAssessment.level }}{{ ' (' + functionalSkillAssessment.levelBanding + ')' if functionalSkillAssessment.levelBanding }}</td>
              <td class="govuk-table__cell">{{ functionalSkillAssessment.nextStep if functionalSkillAssessment.nextStep else 'N/A' }}</td>
              <td class="govuk-table__cell">
                {% if functionalSkillAssessment.referral | length %}
                  <ul class="govuk-list">
                    {% for referral in functionalSkillAssessment.referral %}
                      <li>{{ referral | formatAlnAssessmentReferralScreenValue }}</li>
                    {% endfor %}
                  </ul>
                {% else %}
                  N/A
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    {% else %}
      <p class="govuk-body" data-qa="no-functional-skills-in-curious-message">No functional skills assessment results recorded in Curious.</p>
    {% endif %}

    {% else %}

      <h3 class="govuk-heading-s" data-qa="curious-unavailable-message">We cannot show these details from Curious right now</h3>
      <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>

    {% endif %}

  </div>
</div>
