<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds app-u-print-full-width">

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Functional skills initial assessment scores</h2>
        <ul class="govuk-summary-card__actions govuk-!-display-none-print">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="../functional-skills" data-qa="view-all-functional-skills-button">View all<span class="govuk-visually-hidden"> functional skills assessment scores</span></a>
            </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        {% if prisonerFunctionalSkills.isFulfilled() %}
          {% set prisonerFunctionalSkills = prisonerFunctionalSkills.value %}

          <p class="govuk-hint">
            Information from Curious. These scores are from a person's induction assessment. For recent functional skills qualifications, go to in-prison courses and qualifications.
          </p>

          <table class="govuk-table" id="latest-functional-skills-table">
            <caption class="govuk-table__caption govuk-visually-hidden">Details of functional skills assessment scores</caption>

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Subject</th>
                <th scope="col" class="govuk-table__header">Location</th>
                <th scope="col" class="govuk-table__header">Assessed on</th>
                <th scope="col" class="govuk-table__header">Level</th>
              </tr>
            </thead>

            <tbody class="govuk-table__body">
              {% set mostRecentEnglishAssessment = prisonerFunctionalSkills.assessments | filterArrayOnProperty('type', 'ENGLISH') | sort(attribute = 'assessmentDate', reverse = true) | first %}
              {% set mostRecentMathsAssessment = prisonerFunctionalSkills.assessments | filterArrayOnProperty('type', 'MATHS') | sort(attribute = 'assessmentDate', reverse = true) | first %}
              {% set mostRecentDigitalSkillsAssessment = prisonerFunctionalSkills.assessments | filterArrayOnProperty('type', 'DIGITAL_LITERACY') | sort(attribute = 'assessmentDate', reverse = true) | first %}
              {% set mostRecentAssessmentsOfType = [ mostRecentEnglishAssessment or {'type': 'ENGLISH'}, mostRecentMathsAssessment or {'type': 'MATHS'} ] %}
              {% if mostRecentDigitalSkillsAssessment %}
                {% set mostRecentAssessmentsOfType = (mostRecentAssessmentsOfType.push(mostRecentDigitalSkillsAssessment), mostRecentAssessmentsOfType) %}
              {% endif %}

              {% for functionalSkillAssessment in mostRecentAssessmentsOfType %}
                <tr class="govuk-table__row" data-qa="functional-skill-{{ functionalSkillAssessment.type }}">
                  <td class="govuk-table__cell">{{ functionalSkillAssessment.type | formatFunctionalSkillType }}</td>
                  {% if functionalSkillAssessment.assessmentDate and functionalSkillAssessment.grade %}
                    {% set prisonName = prisonNamesById[functionalSkillAssessment.prisonId] | default(functionalSkillAssessment.prisonId) %}
                    <td class="govuk-table__cell">{{ prisonName }}</td>
                    <td class="govuk-table__cell">{{ functionalSkillAssessment.assessmentDate | formatDate('d MMMM yyyy') }}</td>
                    <td class="govuk-table__cell">{{ functionalSkillAssessment.grade }}</td>
                  {% else %}
                    <td class="govuk-table__cell" colspan="3" data-qa="no-assessment-score-for-functional-skill-for-{{ functionalSkillAssessment.type }}">No functional skill assessment scores recorded in Curious</td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>

        {% else %}

          <h3 class="govuk-heading-s" data-qa="curious-unavailable-message">We cannot show these details from Curious right now</h3>
          <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>

        {% endif %}

      </div>
    </div>

  </div>
</div>
