<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds app-u-print-full-width">

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">In-prison courses and qualifications</h2>
        {% if completedInPrisonEducation.educationRecords.length > 0 %}
        <ul class="govuk-summary-card__actions govuk-!-display-none-print">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="/plan/{{ prisonerSummary.prisonNumber }}/in-prison-courses-and-qualifications" data-qa="view-all-in-prison-qualifications-link">View all<span class="govuk-visually-hidden"> in-prison courses and qualifications</span></a>
          </li>
        </ul>
        {% endif %}
      </div>
      <div class="govuk-summary-card__content">
        {% if not completedInPrisonEducationWithinLast12Months.problemRetrievingData %}
        <p class="govuk-hint">Information from Curious. This only includes educational courses. Contact the local education team to find out more.</p>

        <table class="govuk-table" id="completed-in-prison-qualifications-table">
            <caption class="govuk-table__caption">Completed courses</caption>

            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Type</th>
                <th scope="col" class="govuk-table__header">Location</th>
                <th scope="col" class="govuk-table__header">Completed on</th>
                <th scope="col" class="govuk-table__header">Grade or outcome</th>
            </tr>
            </thead>

            <tbody class="govuk-table__body">
            {% if completedInPrisonEducationWithinLast12Months.educationRecords.length > 0 %}
              {% for completedQualification in completedInPrisonEducationWithinLast12Months.educationRecords %}
                  <tr class="govuk-table__row">
                  <td class="govuk-table__cell">{{ completedQualification.courseName }}</td>
                  <td class="govuk-table__cell">{{ completedQualification.isAccredited | formatIsAccredited }}</td>
                  <td class="govuk-table__cell">{{ completedQualification.prisonName if completedQualification.prisonName else completedQualification.prisonId }}</td>
                  <td class="govuk-table__cell">{{ completedQualification.courseCompletionDate | formatDate('D MMMM YYYY') }}</td>
                  <td class="govuk-table__cell">{{ completedQualification.grade if completedQualification.grade else 'N/A' }}</td>
                  </tr>
              {% endfor %}
            {% else %}
              <tr class="govuk-table__row">
                  <td class="govuk-table__cell" colspan="5">
                  No courses or qualifications completed in last 12 months.
                  </td>
              </tr>
            {% endif %}
            </tbody>
        </table>

        {% else %}

        <h3 class="govuk-heading-s" data-qa="curious-unavailable-message">We cannot show these details from Curious right now</h3>
        <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>

        {% endif %}

      </div>
    </div>

  </div>
</div>
