{#
'Qualifications and education history' summary card on the 'Education and training' tab
#}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds app-u-print-full-width">

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Qualifications and education history</h2>
      </div>

      <div class="govuk-summary-card__content">
        <div class="app-summary-card__change-link">
          <h3 class="govuk-heading-s app-summary-card__change-link__heading">Educational qualifications</h3>
          {%- set educationalQualificationsChangeLinkUrl -%}
            {%- if featureToggles.induction.update.enabled -%}
              /prisoners/{{ prisonerSummary.prisonNumber }}/induction/qualifications
            {%- else -%}
              {{ ciagInductionUrl }}/plan/create/{{ prisonerSummary.prisonNumber }}/qualifications-list/update
            {%- endif -%}
          {%- endset -%}
          <a class="govuk-link app-summary-card__change-link__link govuk-!-display-none-print" href="{{ educationalQualificationsChangeLinkUrl }}" data-qa="educational-qualifications-change-link">
            {% if induction.inductionDto.previousQualifications.qualifications | length %}
              Change<span class="govuk-visually-hidden"> qualifications by adding or removing qualifications</span>
            {% else %}
              Change<span class="govuk-visually-hidden"> qualifications by setting the highest level of education and adding one or more qualifications if they took exams</span></a>
            {% endif %}
          </a>
        </div>

        {% if induction.inductionDto.previousQualifications.qualifications | length %}
          <table class="govuk-table govuk-!-margin-top-4">
            <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Details of prisoners educational qualifications</caption>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Subject</th>
              <th scope="col" class="govuk-table__header">Level</th>
              <th scope="col" class="govuk-table__header">Grade</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            {% for qualification in induction.inductionDto.previousQualifications.qualifications | achievedQualificationObjectsSortedInScreenOrder %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ qualification.subject }}</td>
                <td class="govuk-table__cell">{{ qualification.level | formatQualificationLevel }}</td>
                <td class="govuk-table__cell">{{ qualification.grade }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p class="govuk-body govuk-!-margin-top-4">No educational qualifications recorded</p>
        {% endif %}

        <h3 class="govuk-heading-s">Other qualifications and history</h3>
        <dl class="govuk-summary-list" id="other-qualifications-list">

          {% set inductionHasHighestLevelOfEducationRecorded = induction.inductionDto.previousQualifications.educationLevel and induction.inductionDto.previousQualifications.educationLevel !== '' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Highest level of education before prison
            </dt>
            <dd class="govuk-summary-list__value">
              <p class='govuk-body'>
                {% if inductionHasHighestLevelOfEducationRecorded %}
                  {{ induction.inductionDto.previousQualifications.educationLevel | formatEducationLevel }}
                {% else %}
                  Not recorded.
                {% endif %}
              </p>
            </dd>
            <dd class="govuk-summary-list__actions govuk-!-display-none-print">
              {%- set highestLevelOfEducationChangeLinkUrl -%}
                {%- if featureToggles.induction.update.enabled -%}
                  /prisoners/{{ prisonerSummary.prisonNumber }}/induction/highest-level-of-education
                {%- else -%}
                  {{ ciagInductionUrl }}/plan/create/{{ prisonerSummary.prisonNumber }}/education-level/update
                {%- endif -%}
              {%- endset -%}
              <a class="govuk-link" href="{{ highestLevelOfEducationChangeLinkUrl }}" data-qa="highest-level-of-education-change-link">
                {{ 'Change' if inductionHasHighestLevelOfEducationRecorded else 'Add' }}<span class="govuk-visually-hidden"> highest level of education before prison</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other training or qualifications
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list">
                {% for additionalTraining in induction.inductionDto.previousTraining.trainingTypes | sortedAlphabeticallyWithOtherLast %}
                  {% if additionalTraining === 'OTHER' %}
                    <li>Other - {{ induction.inductionDto.previousTraining.trainingTypeOther }}</li>
                  {% else %}
                    <li>{{ additionalTraining | formatAdditionalTraining }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions govuk-!-display-none-print">
              {%- set additionalTrainingChangeLinkUrl -%}
                {%- if featureToggles.induction.update.enabled -%}
                  /prisoners/{{ prisonerSummary.prisonNumber }}/induction/additional-training
                {%- else -%}
                  {{ ciagInductionUrl }}/plan/create/{{ prisonerSummary.prisonNumber }}/additional-training/update
                {%- endif -%}
              {%- endset -%}
              <a class="govuk-link" href="{{ additionalTrainingChangeLinkUrl }}" data-qa="additional-training-change-link">
                Change<span class="govuk-visually-hidden"> other training or qualifications</span>
              </a>
            </dd>
          </div>
        </dl>

        <p class="govuk-hint govuk-body govuk-!-font-size-16">Last updated: {{ induction.inductionDto.previousQualifications.updatedAt | formatDate('D MMMM YYYY') }}<span class="govuk-!-display-none-print"> by {{ induction.inductionDto.previousQualifications.updatedByDisplayName }}</span></p>

      </div>
    </div>
  </div>
</div>
