{#
'Qualifications and education history' summary card on the 'Education and training' tab - content for the short question set
asked at the Induction.
The 'Qualifications and education history' summary card is different to the one presented if the long question set was asked,
as the follow up questions are different.
#}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds app-u-print-full-width">

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Qualifications and education history</h2>
      </div>

      <div class="govuk-summary-card__content">
        <div class="app-summary-card__change-link">
          <h3 class="govuk-heading-s app-summary-card__change-link__heading">Educational qualifications</h3>
          {% if educationAndTraining.data.shortQuestionSetAnswers.educationalQualifications | length %}
            <a class="govuk-link app-summary-card__change-link__link" href="{{ ciagInductionUrl }}/plan/create/{{ prisonerSummary.prisonNumber }}/qualifications-list/update">Change<span class="govuk-visually-hidden"> qualifications</span></a>
          {% endif %}
        </div>

        {% if educationAndTraining.data.shortQuestionSetAnswers.educationalQualifications | length %}
          <table class="govuk-table govuk-!-margin-top-4">
            <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Details of prisoners educational qualifications</caption>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Subject</th>
              <th scope="col" class="govuk-table__header">Level</th>
              <th scope="col" class="govuk-table__header">Grade</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            {% for qualification in educationAndTraining.data.shortQuestionSetAnswers.educationalQualifications %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ qualification.subject }}</td>
                <td class="govuk-table__cell">{{ qualification.level | formatQualificationLevel }}</td>
                <td class="govuk-table__cell">{{ qualification.grade }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p class="govuk-body govuk-!-margin-top-4">No educational qualifications recorded</p>
        {% endif %}

        <h3 class="govuk-heading-s">Other qualifications and history</h3>
        <dl class="govuk-summary-list" id="other-qualifications-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other training or qualifications
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list">
                {% for additionalTraining in educationAndTraining.data.shortQuestionSetAnswers.additionalTraining %}
                  {% if additionalTraining == 'OTHER' %}
                    <li>{{ educationAndTraining.data.shortQuestionSetAnswers.otherAdditionalTraining }}</li>
                  {% else %}
                    <li>{{ additionalTraining | formatAdditionalTraining }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ ciagInductionUrl }}/plan/create/{{ prisonerSummary.prisonNumber }}/additional-training/update">
                Change<span class="govuk-visually-hidden"> other training or qualifications</span>
              </a>
            </dd>
          </div>
        </dl>

        <p class="govuk-hint">Last updated: {{ educationAndTraining.data.shortQuestionSetAnswers.updatedAt | formatDate('D MMMM YYYY') }}<span class="govuk-!-display-none-print"> by {{ educationAndTraining.data.shortQuestionSetAnswers.updatedBy }}</span></p>

      </div>
    </div>
  </div>
</div>
