{#
'Training and education interests in prison' summary card on the 'Education and training' tab - content for the short question set
asked at the Induction.
#}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds app-u-print-full-width">

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Training and education interests in prison</h2>
      </div>

      <div class="govuk-summary-card__content">
        {% if not educationAndTraining.problemRetrievingData %}
  
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Training and eduction interests
              </dt>
              <dd class="govuk-summary-list__value">
                <ul class="govuk-list">
                  {% for education in educationAndTraining.data.shortQuestionSetAnswers.inPrisonInterestsEducation.inPrisonInterestsEducation %}
                    {% if education == 'OTHER' %}
                      <li>Other - {{ educationAndTraining.data.shortQuestionSetAnswers.inPrisonInterestsEducation.inPrisonInterestsEducationOther }}</li>
                    {% else %}
                      <li>{{ education | formatInPrisonEducation }}</li>
                    {% endif %}  
                  {% endfor %}
                </ul>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="{{ ciagInductionUrl }}/plan/create/{{ prisonerSummary.prisonNumber }}/in-prison-education/update">
                  Change<span class="govuk-visually-hidden"> training and eduction interests</span>
                </a>
              </dd>
            </div>
          </dl>
          <p class="govuk-hint">Last updated: {{ educationAndTraining.data.shortQuestionSetAnswers.inPrisonInterestsEducation.updatedAt | formatDate('D MMMM YYYY') }}<span class="govuk-!-display-none-print"> by {{ educationAndTraining.data.shortQuestionSetAnswers.inPrisonInterestsEducation.updatedBy }}</span></p>

        {% else %}

          <h3 class="govuk-heading-s" data-qa="ciag-unavailable-message">We cannot show these details right now</h3>
          <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>

        {% endif %}

      </div>
    </div>

  </div>
</div>
