{#
'Training and education interests in prison' summary card on the 'Education and training' tab
#}

{% set inductionHasInPrisonTrainingInterestsRecorded = induction.inductionDto.inPrisonInterests.inPrisonTrainingInterests | length > 0 %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds app-u-print-full-width">

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Training and education interests in prison</h2>
      </div>

      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Training and eduction interests
            </dt>
            <dd class="govuk-summary-list__value">
              {% if inductionHasInPrisonTrainingInterestsRecorded %}
                <ul class="govuk-list">
                  {% for training in induction.inductionDto.inPrisonInterests.inPrisonTrainingInterests | objectsSortedAlphabeticallyWithOtherLastBy('trainingType') %}
                    {% if training.trainingType === 'OTHER' %}
                      <li>Other - {{ training.trainingTypeOther }}</li>
                    {% else %}
                      <li>{{ training.trainingType | formatInPrisonTraining }}</li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% else %}
                <p class='govuk-body'>Not recorded.</p>
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions govuk-!-display-none-print">
              {%- set inPrisonTrainingChangeLinkUrl -%}
                {%- if featureToggles.induction.update.enabled -%}
                  /prisoners/{{ prisonerSummary.prisonNumber }}/induction/in-prison-training
                {%- else -%}
                  {{ ciagInductionUrl }}/plan/create/{{ prisonerSummary.prisonNumber }}/in-prison-education/update
                {%- endif -%}
              {%- endset -%}
              <a class="govuk-link" href="{{ inPrisonTrainingChangeLinkUrl }}" data-qa="in-prison-training-change-link">
                {{ 'Change' if inductionHasInPrisonTrainingInterestsRecorded else 'Add' }}<span class="govuk-visually-hidden"> training and eduction interests</span>
              </a>
            </dd>
          </div>
        </dl>

        {% if inductionHasInPrisonTrainingInterestsRecorded %}
          <p class="govuk-hint govuk-body govuk-!-font-size-16">Last updated: {{ induction.inductionDto.inPrisonInterests.updatedAt | formatDate('D MMMM YYYY') }}<span class="govuk-!-display-none-print"> by {{ induction.inductionDto.inPrisonInterests.updatedByDisplayName }}</span></p>
        {% endif %}
      </div>
    </div>

  </div>
</div>
