{#
'Training and education interests in prison' summary card on the 'Education and training' tab - content for the short question set
asked at the Induction.
#}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds app-u-print-full-width">

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Training and eduction interests in prison</h2>
      </div>

      <div class="govuk-summary-card__content">
        {% if not educationAndTraining.problemRetrievingData %}



        {% else %}

          <h3 class="govuk-heading-s" data-qa="ciag-unavailable-message">We cannot show these details right now</h3>
          <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>

        {% endif %}

      </div>
    </div>

  </div>
</div>
