{#
'Education and training' tab
Contains 'Functional skills', 'In-prison qualifications and achievements', 'Education and qualifications history', and
'Training and eduction in prison' summary cards.
#}

{# 'Functional skills' summary card #}
{% include './_functionalSkills.njk' %}
{# 'In-prison qualifications and achievements' summary card #}
{% include './_inPrisonQualificationsCompletedInLast12Months.njk' %}
{# 'Education and qualifications history' summary card #}
{% include './_educationAndQualificationsHistory.njk' %}
{# 'Training and eduction in prison' summary card #}
{% include './_trainingAndEducationInterestsInPrisonV2.njk' %}
