{# Nunjucks template to display the Employability Skills tab of the prisoner's Overview page

Data supplied to this template:
  * prisonerSummary - object with firstName and lastName
  * employabilitySkills
#}

{% macro employabilitySkillRow(params) %}
  {% set skillRatings = (params.employabilitySkillsGroupedBySkillType[params.skillType] or []) | sort(attribute = 'updatedAt', reverse = true) %}
  {% set currentRating = skillRatings[0].employabilitySkillRating %}
  {% set previousRating = skillRatings[1].employabilitySkillRating %}

  <tr class="govuk-table__row">
    <th class="govuk-table__header">{{ params.skillType | formatEmployabilitySkill }}</th>
    <td class="govuk-table__cell govuk-!-display-none">{{ currentRating | formatEmployabilitySkillRating | default('Not assessed') }}</td>
    <td class="govuk-table__cell govuk-!-display-none">{{ previousRating | formatEmployabilitySkillRating | default('N/A') }}</td>
    <td class="govuk-table__cell">
      <ul class="govuk-list employability-skills-actions">
        {% if params.userHasPermissionTo('VIEW_EMPLOYABILITY_SKILL_RATINGS') %}
          <li>
            <a href="/plan/{{ params.prisonerSummary.prisonNumber }}/employability-skills/{{ params.skillType }}" class="govuk-link" data-qa="view-{{ params.skillType }}-ratings-link">
              View<span class="govuk-visually-hidden"> {{ params.prisonerSummary | formatFirst_name_Last_name }}'s {{ params.skillType | formatEmployabilitySkill | lower }} skill ratings</span>
            </a>
          </li>
        {% endif %}
        {% if params.userHasPermissionTo('ADD_EMPLOYABILITY_SKILLS_RATING') %}
          <li>
            <a href="/plan/{{ params.prisonerSummary.prisonNumber }}/employability-skills/{{ params.skillType }}/add" class="govuk-link" data-qa="add-{{ params.skillType }}-ratings-link">
              Add<span class="govuk-visually-hidden"> a rating for {{ params.prisonerSummary | formatFirst_name_Last_name }}'s {{ params.skillType | formatEmployabilitySkill | lower }} skill</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </td>
  </tr>
{% endmacro %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds app-u-print-full-width">

    <div class="govuk-summary-card" id="employability-skills-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Employability skills ratings</h2>
      </div>
      <div class="govuk-summary-card__content">

        {% if employabilitySkills.isFulfilled() %}
          {% set employabilitySkillsGroupedBySkillType = employabilitySkills.value.employabilitySkills | groupArrayByProperty('employabilitySkillType') %}

          <table class="govuk-table" id="employability-skills-ratings-table" data-qa="employability-skills-ratings-table">
            <caption class="govuk-visually-hidden">Employability skills ratings</caption>

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Skill</th>
                <th scope="col" class="govuk-table__header govuk-!-display-none">Current level</th>
                <th scope="col" class="govuk-table__header govuk-!-display-none">Previous level</th>
                <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
              </tr>
            </thead>

            <tbody class="govuk-table__body">

              {{ employabilitySkillRow({
                prisonerSummary: prisonerSummary,
                userHasPermissionTo: userHasPermissionTo,
                employabilitySkillsGroupedBySkillType: employabilitySkillsGroupedBySkillType,
                skillType: 'ADAPTABILITY'
              }) }}

              {{ employabilitySkillRow({
                prisonerSummary: prisonerSummary,
                userHasPermissionTo: userHasPermissionTo,
                employabilitySkillsGroupedBySkillType: employabilitySkillsGroupedBySkillType,
                skillType: 'COMMUNICATION'
              }) }}

              {{ employabilitySkillRow({
                prisonerSummary: prisonerSummary,
                userHasPermissionTo: userHasPermissionTo,
                employabilitySkillsGroupedBySkillType: employabilitySkillsGroupedBySkillType,
                skillType: 'CREATIVITY'
              }) }}

              {{ employabilitySkillRow({
                prisonerSummary: prisonerSummary,
                userHasPermissionTo: userHasPermissionTo,
                employabilitySkillsGroupedBySkillType: employabilitySkillsGroupedBySkillType,
                skillType: 'INITIATIVE'
              }) }}

              {{ employabilitySkillRow({
                prisonerSummary: prisonerSummary,
                userHasPermissionTo: userHasPermissionTo,
                employabilitySkillsGroupedBySkillType: employabilitySkillsGroupedBySkillType,
                skillType: 'ORGANISATION'
              }) }}

              {{ employabilitySkillRow({
                prisonerSummary: prisonerSummary,
                userHasPermissionTo: userHasPermissionTo,
                employabilitySkillsGroupedBySkillType: employabilitySkillsGroupedBySkillType,
                skillType: 'PLANNING'
              }) }}

              {{ employabilitySkillRow({
                prisonerSummary: prisonerSummary,
                userHasPermissionTo: userHasPermissionTo,
                employabilitySkillsGroupedBySkillType: employabilitySkillsGroupedBySkillType,
                skillType: 'PROBLEM_SOLVING'
              }) }}

              {{ employabilitySkillRow({
                prisonerSummary: prisonerSummary,
                userHasPermissionTo: userHasPermissionTo,
                employabilitySkillsGroupedBySkillType: employabilitySkillsGroupedBySkillType,
                skillType: 'RELIABILITY'
              }) }}

              {{ employabilitySkillRow({
                prisonerSummary: prisonerSummary,
                userHasPermissionTo: userHasPermissionTo,
                employabilitySkillsGroupedBySkillType: employabilitySkillsGroupedBySkillType,
                skillType: 'TEAMWORK'
              }) }}

              {{ employabilitySkillRow({
                prisonerSummary: prisonerSummary,
                userHasPermissionTo: userHasPermissionTo,
                employabilitySkillsGroupedBySkillType: employabilitySkillsGroupedBySkillType,
                skillType: 'TIMEKEEPING'
              }) }}

            </tbody>
          </table>

        {% else %}
          <h3 class="govuk-heading-s" data-qa="employability-skills-unavailable-message">We cannot show these details right now</h3>
          <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>
        {% endif %}

      </div>
    </div>

  </div>
</div>
