{# Nunjucks template to display the Employability Skills tab of the prisoner's Overview page

Data supplied to this template:
  * prisonerSummary - object with firstName and lastName
#}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds app-u-print-full-width">

    <div class="govuk-summary-card" id="employability-skills-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Employability skills ratings</h2>
      </div>
      <div class="govuk-summary-card__content">
      </div>
    </div>

  </div>
</div>
