{% extends "../../../partials/layout.njk" %}

{% set pageId = "induction-has-worked-before" %}
{% set pageTitle = "Have they worked before?" %}

{#
  Data supplied to this template:
    * prisonerSummary - object with firstName and lastName
    * form - form object containing the following fields:
      * hasWorkedBefore - value for the "has worked before" question
      * hasWorkedBeforeNotRelevantReason - value for the reason when "has worked before" is answered as "Not relevant"
    * errors? - validation errors
#}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#",
    classes: "js-back-link"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% set reasonHtml %}
            {{ govukTextarea({
              id: "hasWorkedBeforeNotRelevantReason",
              name: "hasWorkedBeforeNotRelevantReason",
              rows: "2",
              value: form.hasWorkedBeforeNotRelevantReason,
              type: "text",
              label: {
                text: "Give details",
                attributes: { "aria-live": "polite" }
              },
              attributes: { "aria-label" : "Give details as to why whether they have worked before is not relevant" },
              errorMessage: errors | findError('hasWorkedBeforeNotRelevantReason')
            }) }}
          {% endset -%}

          {{ govukRadios({
            name: 'hasWorkedBefore',
            fieldset: {
              legend: {
                text: "Has " + prisonerSummary.firstName + " " + prisonerSummary.lastName + " worked before?",
                isPageHeading: true,
                classes: 'govuk-fieldset__legend--l'
              }
            },
            items: [
              {
                value: 'YES',
                text: 'YES' | formatHasWorkedBefore,
                checked: form.hasWorkedBefore === 'YES'
              },
              {
                value: 'NO',
                text: 'NO' | formatHasWorkedBefore,
                checked: form.hasWorkedBefore === 'NO'
              },
              {
                value: 'NOT_RELEVANT',
                text: 'NOT_RELEVANT' | formatHasWorkedBefore,
                checked: form.hasWorkedBefore === 'NOT_RELEVANT',
                conditional: {
                  html: reasonHtml
                }
              }
            ],
            errorMessage: errors | findError('hasWorkedBefore')
          }) }}
        </div>

        {{ govukButton({
            id: 'submit-button',
            text: 'Continue',
            type: 'submit',
            attributes: {'data-qa': 'submit-button'}
          }) }}
      </form>
    </div>
  </div>

{% endblock %}
