{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Accessibility statement | Learning and work progress" %}
{% set pageId = "accessibility-statement" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">Accessibility statement</h1>
      <p>This accessibility statement applies to the Learning and work progress service.</p>
      <p>This website is run by HM Prison and Probation Service. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts using browser or device settings</li>
        <li>zoom in up to 400% without the text spilling off the screen</li>
        <li>navigate most of the website using a keyboard or speech recognition software</li>
        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>
      <p>We’ve also made the website text as simple as possible to understand.</p>
      <p><a href="https://mcmw.abilitynet.org.uk">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

      <h2 class="govuk-heading-m">How accessible is this website</h2>
      <p>We believe that this website is generally accessible.</p>
      <p>This service does produce PDFs for print purposes. We do not plan to replace the PDF format as the generated PDF is meant for printing. Data in the service meets the requirements for a conforming alternate version.</p>
      <p>Keyboard users may find that the submit buttons through the service do not have enough colour contrast against the white page when they are focused. This is not a WCAG fail.</p>
      <p>Screen reader users note that the buttons at the top of the table of prisoners on the prisoner list page sort on that column.</p>

      <h2 class="govuk-heading-m">Feedback and contact information</h2>
      <p>We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, email: <a href="mailto:learningandworkprogress@digital.justice.gov.uk">learningandworkprogress@digital.justice.gov.uk</a></p>

      <h2 class="govuk-heading-m">Enforcement procedure</h2>
      <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to you, <a href="https://www.equalityadvisoryservice.com">contact the Equality Advisory and Support Service (EASS)</a>.</p>

      <h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>
      <p>HM Prison and Probation Service is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

      <h2 class="govuk-heading-m">Compliance status</h2>
      <p>The website has been tested against the Web Content Accessibility Guidelines (WCAG) 2.2 AA standard.</p>
      <p>This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines version 2.2</a> AA standard.</p>

      <h2 class="govuk-heading-m">Non-compliance with the accessibility regulations</h2>
      <p>The focused state of the primary submit buttons (yellow) through the service do not have enough colour contrast against the white page. This fails WCAG 2.2 success criterion 1.4.11 Non-text Contrast (Level AA). We plan to report this to the Government Digital Service who maintain this component and ask them to fix it. We will update this statement when we have a fix date.</p>

      <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
      <p>This statement was prepared on 8 November 2023. It was last reviewed on 8 April 2024.</p>
      <p>This website was last tested on 25 October 2023 against the WCAG 2.2 AA standard. The test was carried out by User Vision Ltd, an independent accessibility testing company. Fixes following the audit were retested by the internal development team on 3 April 2024.</p>
    </div>
  </div>
{% endblock %}
