{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Page not found" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Page not found</h1>
      <p class="govuk-body">Check you used the right web address, for example if you copied and pasted it from an email or used a bookmark.</p>
      <p class="govuk-body"><a href="/" class="govuk-link">Go to the Learning and work progress prisoner list page</a></p>
    </div>
  </div>

{% endblock %}
