{% extends "../partials/layout.njk" %}

{% set pageId = 'index-page' %}
{% set pageTitle = applicationName + " - Home" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Digital Prison Services",
        href: dpsUrl
      }
    ],
    classes: 'govuk-!-display-none-print'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Learning and work progress</span>
      <h1 class="govuk-heading-l">Manage learning and work progress</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukTable({
        attributes: {
          id: "prisoner-results-table"
        },
        head: [
          {
            text: "Prisoner"
          }
        ],
        rows: [
          [
            {
              html: "<a href='/plan/G9981UK/view/overview' class='govuk-link'>Avary, Austin</a><span>G9981UK</span>"
            }
          ],
          [
            {
              html: "<a href='/plan/G6123VU/view/overview' class='govuk-link'>Saunders, John</a><span>G6123VU</span>"
            }
          ],
          [
            {
              html: "<a href='/plan/G0463UX/view/overview' class='govuk-link'>Doezema, Brodie</a><span>G0463UX</span>"
            }
          ],
          [
            {
              html: "<a href='/plan/G0229UO/view/overview' class='govuk-link'>Rebich, Donny</a><span>G0229UO</span>"
            }
          ],
          [
            {
              html: "<a href='/plan/G0303UO/view/overview' class='govuk-link'>Polard, Aram</a><span>G0303UO</span>"
            }
          ],
          [
            {
              html: "<a href='/plan/G0313UQ/view/overview' class='govuk-link'>Gradilla, Ebeneser</a><span>G0313UQ</span>"
            }
          ],
          [
            {
              html: "<a href='/plan/A0011DZ/view/overview' class='govuk-link'>Bernhard, Chesle</a><span>A0011DZ</span>"
            }
          ],
          [
            {
              html: "<a href='/plan/A0763DZ/view/overview' class='govuk-link'>Nicolas, Calvin</a><span>A0763DZ</span>"
            }
          ],
          [
            {
              html: "<a href='/plan/A1350DZ/view/overview' class='govuk-link'>Winchurch, David</a><span>A1350DZ</span>"
            }
          ],
          [
            {
              html: "<a href='/plan/A1351DZ/view/overview' class='govuk-link'>Jacobson, Lee</a><span>A1351DZ</span>"
            }
          ],
          [
            {
              html: "<a href='/plan/A1465DZ/view/overview' class='govuk-link'>Will, Lorraine</a><span>A1465DZ</span>"
            }
          ],
          [
            {
              html: "<a href='/plan/A2005DZ/view/overview' class='govuk-link'>Treutel, Sharon</a><span>A2005DZ</span>"
            }
          ],
          [
            {
              html: "<a href='/plan/A2107DZ/view/overview' class='govuk-link'>Russel, Samantha</a><span>A2107DZ</span>"
            }
          ],
          [
            {
              html: "<a href='/plan/A2205DZ/view/overview' class='govuk-link'>Hickle, Felipe</a><span>A2205DZ</span>"
            }
          ],
          [
            {
              html: "<a href='/plan/A2257DZ/view/overview' class='govuk-link'>Sanford, Kenn</a><span>A2257DZ</span>"
            }
          ],
          [
            {
              html: "<a href='/plan/A2263DZ/view/overview' class='govuk-link'>Pacocha, Terrell</a><span>A2263DZ</span>"
            }
          ],
          [
            {
              html: "<a href='/plan/G4106UN/view/overview' class='govuk-link'>Zebra, Zebedee</a><span>G4106UN</span>"
            }
          ]
        ]
      }) }}

    </div>
  </div>

{% endblock %}
